<div id="<%= html_id %>" class="<%= html_classes %>">
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= CardProduct::Cell::Image.(product, size: '130x81') %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <p>
      <b>Card Name:</b>
      <span class="card-account-card-name"><%= full_name %></span>
    </p>

    <p>
      <b>Bank:</b>
      <span class="card-account-bank"><%= bank_name %></span>
    </p>
  </div>

  <div class="col-xs-12 col-md-3">
    <p><b>Opened:</b> <%= opened_at %></p>
    <% if closed? %>
      <p><b>Closed:</b> <%= closed_at %></p>
    <% end %>
  </div>

  <% if options[:editable] %>
    <div class="col-xs-12 col-md-1">
      <%= link_to_edit %>
    </div>
  <% end %>
</div>

<hr>
