<div class="cards-survey">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1><%= title %></h1>
    </div>
  </div><!-- .row -->

  <%= initial %>

  <%= confirm_no %>
</div><!-- .hpanel -->

<div id="card-survey-main-body" class="text-center card-survey-form-wrapper" style="display:none;">
  <%= form_tag survey_person_cards_path(model) do %>
    <p class="helper-message">
      Click a bank's name to see the list of cards for that bank
    </p>

    <%= sections %>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-lg btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save and continue
        </button>
      </div>
    </div>
  <% end %>
</div>
