<%= tr_tag do %>
  <td><%= product_identifier %></td>
  <td><%= product_name %></td>
  <td class="card_recommended_at">
    <%= recommended_at %>
  </td>
  <td class="card_seen_at">
    <%= seen_at %>
  </td>
  <td class="card_clicked_at">
    <%= clicked_at %>
  </td>
  <td class="card_denied_at">
    <%= denied_at %>
  </td>
  <td class="card_declined_at">
    <%= declined_at %>
  </td>
  <td class="card_pulled_at">
    <%= pulled_at %>
  </td>
<% end # content_tag_for %>
