<h1>Edit Recommendation Note</h1>

Account: <%= escape!(account.email) %></br>
Owner: <%= link_to(escape!(account.owner_first_name)) %></br>
<% if account.couples? %>
  Companion: <%= link_to(escape!(account.companion_first_name)) %></br>
<% else %>
  No companion
<% end %>

<%= form_for([:admin, form]) do |f| %>
  <div class="form-group">
    <%= hidden_field_tag :person_id, params[:person_id] %>
    <%= f.text_area :content, rows: 15 %>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div
<% end %>
