<% provide(:title, "Survey - Contact and Spending Info") %>

<h1>Contact Info</h1>

<%= render "shared/model_validation_errors", model: @survey %>

<p>Thanks for signing up to Abroaders! Before we can get started, we need
  some information from you.</p>

<%= form_for @survey, url: survey_path do |f| %>

  <%= render "shared/required_explanation" %>

  <div class="form-group required">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :middle_names %>
    <%= f.text_field :middle_names %>
  </div>

  <div class="form-group required">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-group required">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <p>Which of the following are you capable of receiving at this number?</p>

  <div class="form-inline">
    <div class="checkbox">
      <%= f.label :text_message do %>
        <%= f.check_box :text_message %>
        Text Message
      <% end %>
    </div>
    &nbsp;
    <div class="checkbox">
      <%= f.label :whatsapp do %>
        <%= f.check_box :whatsapp %>
        WhatsApp
      <% end %>
    </div>
    &nbsp;
    <div class="checkbox">
      <%= f.label :imessage do %>
        <%= f.check_box :imessage %>
        iMessage
      <% end %>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {},
      # For some reason I can't get time_zone_select to add the BS class
      # manually like I can with the overriden methods:
            class: BootstrapOverrides::Overrides::BOOTSTRAP_CLASS %>
  </div>

  <div class="form-group">
    <%= f.label :citizenship %>

    <% Survey.citizenships.each do |name, _| %>
      <div class="radio">
        <label>
          <%= f.radio_button(
                :citizenship,
                name,
                checked: f.object.citizenship == name
              ) %>
          <%= t("activerecord.attributes.survey.citizenships.#{name}") %>
        </label>
      </div>
    <% end %>
  </div>

  <h1>Spending Info</h1>

  <div class="form-group required">
    <%= f.label :credit_score %>

    <p class="help-block">
      Your credit score should be a number between
      <%= Survey::MINIMUM_CREDIT_SCORE %> and
      <%= Survey::MAXIMUM_CREDIT_SCORE %>
    </p>

    <%= f.number_field :credit_score %>
  </div>

  <div class="form-group">
    <%= f.label :will_apply_for_loan %>
    <div class="radio">
      <label>
        <%= f.radio_button(
              :will_apply_for_loan,
              true,
              checked: f.object.will_apply_for_loan
            ) %>
        Yes
      </label>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button(
              :will_apply_for_loan,
              false,
              checked: !f.object.will_apply_for_loan
            ) %>
        No
      </label>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label :personal_spending %>

    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :personal_spending %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_business %>

    <% Survey.has_businesses.each do |name, _| %>
      <div class="radio">
        <label>
          <%= f.radio_button(
                :has_business,
                name,
                checked: f.object.has_business == name
              ) %>
          <%= t("activerecord.attributes.survey.has_businesses.#{name}") %>
        </label>
      </div>
    <% end %>
  </div>

  <div
    id="business_spending_form_group"
    class="form-group required"
    style="display:none"
  >
    <%= f.label :business_spending %>

    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :business_spending %>
    </div>
  </div>

  <br>

  <%= f.submit "Save", class: "btn btn-primary" %>

<% end %>
