<h2>Are you ready to apply for cards now?</h2>

<p>
  Banks and credit card companies are constantly changing their
  offers, and sometimes great deals will disappear without prior
  notice. When we recommend a credit card to you, it's important that
  you're willing and able to apply for the card as soon as possible.
</p>

<p>
  If you're able to apply for the card within the next few days, click "Yes"
  below and we'll get working on the card recommendation immediately. If, for
  whatever reason,
  <% if has_companion? %>
    you or your travel companion aren't
  <% else %>
    you're not
  <% end %>
  ready right now, click "No" below and we'll ask you again in a week.
</p>

<%= form_for @survey, url: survey_readiness_path do |f| %>

  <% if has_companion? %>
    <h2>Is <%= current_main_passenger.first_name %> ready to apply now?</h2>
  <% end %>

  <div class="radio">
    <label>
      <%= f.radio_button :main_passenger_ready, true %>
      Yes
    </label>
  </div>

  <div class="radio">
    <label>
      <%= f.radio_button :main_passenger_ready, false %>
      No - ask again later
    </label>
  </div>

  <div
    id="main_passenger_unreadiness_reason_form_group"
    class="form-group"
    style="display:none;" 
  >
    <% if has_companion? %>
      <% placeholder_text = "#{current_main_passenger.first_name} isn't" %>
    <% else %>
      <% placeholder_text = "you're not" %>
    <% end %>

    <%= f.text_field(
      :main_passenger_unreadiness_reason,
      placeholder: "Optional: tell us why #{placeholder_text} ready to apply just yet"
    ) %>
  </div>

  <% if has_companion? %>
    <h2>Is <%= current_companion.first_name %> ready to apply now?</h2>

    <div class="radio">
      <label>
        <%= f.radio_button :companion_ready, true %>
        Yes
      </label>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button :companion_ready, false %>
        No - ask again later
      </label>
    </div>

    <div
      id="companion_unreadiness_reason_form_group"
      class="form-group"
      style="display:none;" 
    >
      <%= f.text_field(
        :companion_unreadiness_reason,
        placeholder: "Optional: tell us why #{current_companion.first_name} isn't ready to apply just yet"
      ) %>
    </div>
  <% end %>

  <%= f.submit "Confirm", class: "btn-primary" %>

<% end %>
