<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">

    <h1>Spending</h1>

    <%# We can't use the regular 'model_validation_errors' partial here   %>
    <%# because we need a bit more flexibility in the error messages;     %>
    <%# i18n defaults aren't enough.                                      %>
    <% if @survey.errors.any? %>
      <%= render "shared/error_message", model: @survey do %>
        There
        <% if @survey.errors.count > 1 %>
          were <%= @survey.errors.count %> errors
        <% else %>
          was an error
        <% end %>
        and your info could not be saved:

        <ul>
          <% @survey.errors.each do |attr, message| %>
            <li>
              <% if @survey.has_companion? %>
                <%= attr.to_s.humanize %>
              <% else %>
                <%= attr.to_s.sub(/main_passenger/, '').humanize %>
              <% end %>
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <p>
      Welcome, <%= current_main_passenger.first_name %>! In order to help
      you apply for the right cards, we need to get some financial information
      about
      <% if has_companion? %>
        you and your travel companion.
      <% else %>
        you.
      <% end %>
    </p>

    <%= form_for @survey, url: survey_spending_path do |f| %>

      <% if current_account.shares_expenses? %>
        <%= f.label(
          :shared_spending,
          "What is you and #{current_companion.first_name}'s normal combined "\
          "spending per month?"
        ) %>

        <p class="help-block">
          You have indicated that you and <%= current_companion.first_name %>
          share expenses
        </p>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :shared_spending %>
        </div>
      <% end %>

      <% if has_companion? %>
        <h2><%= current_main_passenger.first_name %>'s Spending Info</h2>
      <% end %>

      <%= render "spending_infos/fields", f: f, main: true %>

      <% if has_companion? %>
        <h2><%= current_companion.first_name %>'s Spending Info</h2>

        <%= render "spending_infos/fields", f: f, main: false %>
      <% end %>

      <%= submit_tag "Save", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
