<% provide(:title, "Survey - Passenger Info") %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">

    <h1>Let's Get Started!</h1>

    <%# We can't use the regular 'model_validation_errors' partial here   %>
    <%# because we need a bit more flexibility in the error messages;     %>
    <%# i18n defaults aren't enough.                                      %>
    <% if @survey.errors.any? %>
      <%= render "shared/error_message", model: @survey do %>
        There
        <% if @survey.errors.count > 1 %>
          were <%= @survey.errors.count %> errors
        <% else %>
          was an error
        <% end %>
        and your info could not be saved:

        <ul>
          <% @survey.errors.each do |attr, message| %>
            <li>
              <% if @survey.has_companion? %>
                <%= attr.to_s.humanize %>
              <% else %>
                <%= attr.to_s.sub(/main_passenger_/, '').humanize %>
              <% end %>
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <p>
      Thanks for signing up to Abroaders! Before we can get started, we need
      some information from you.
    </p>

    <%= form_for @survey, url: survey_passengers_path do |f| %>

      <%= render "passengers/fields", f: f, main: true %>

      <div class="form-group required">
        <%= f.label :time_zone, "What's your current time zone?" %>
        <%= f.time_zone_select :time_zone,
              ActiveSupport::TimeZone.us_zones, {},
              # For some reason I can't get time_zone_select to add the BS
              # class manually like I can with the overriden methods:
              class: BootstrapOverrides::Overrides::BOOTSTRAP_CLASS %>
      </div>


      <div class="form-group">
        <%= f.label :main_passenger_citizenship,
          "Which most accurately describes you?" %>
        <% Passenger.citizenships.each do |name, _| %>
          <div class="radio">
            <label>
              <%= f.radio_button(
                    :main_passenger_citizenship,
                    name,
                    checked: f.object.main_passenger_citizenship == name
                  ) %>
              <%= t("activerecord.attributes.passenger.citizenships.#{name}") %>
            </label>
          </div>
        <% end %>
      </div>

      <h3>Add a Travel Companion</h3>

      <p>
        Using points to book travel with a companion requires a little extra
        planning. Add your companion now, and we'll make sure you both get the
        right points to travel together.
      </p>

      <div class="form-group checkbox">
        <%= f.label :has_companion do %>
          <%= f.check_box :has_companion %>
          Yes, I would like to add a travel companion
        <% end %>
      </div>

      <div id="companion_survey" style="<%= "display:none;" unless @survey.has_companion? %>">
        <div id="passenger_survey_willing_to_apply">
          <p>Are you willing to apply for cards to earn points for travel?</p>

          <div class="radio">
            <%= f.label :main_passenger_willing_to_apply_true do %>
              <%= f.radio_button :main_passenger_willing_to_apply, true %>
              Yes
            <% end %>
          </div>

          <div class="radio">
            <%= f.label :main_passenger_willing_to_apply_false do %>
              <%= f.radio_button :main_passenger_willing_to_apply, false %>
              No
            <% end %>
          </div>

          <p>
            Is your travel companion willing to apply for cards to earn points
            for travel?
          </p>

          <div class="radio">
            <%= f.label :companion_willing_to_apply_true do %>
              <%= f.radio_button :companion_willing_to_apply, true %>
              Yes
            <% end %>
          </div>

          <div class="radio">
            <%= f.label :companion_willing_to_apply_false do %>
              <%= f.radio_button :companion_willing_to_apply, false %>
              No
            <% end %>
          </div>

          <div
            id="unwilling_to_apply_err_msg"
            class="alert alert-danger"
            style="display:none;"
          >
            You cannot proceed unless at least one of you is willing to apply for
            credit cards to earn points for travel.
          </div>

          <h4>Do you and your travel partner share expenses?</h4>

          <p>
            If you choose yes, we will use your combined spending to recommend a
            combination of cards to maximize your points as a team. You will work
            together to meet the spending requirements on the cards we recommend.
          </p>

          <p>
            If you choose no, we will ask for each person's spending separately.
            Each of you will work toward the spending requirements on your own
            cards separately.
          </p>

          <p>
            Choosing yes will generally result in more points.
          </p>

          <div class="form-group radio">
            <%= f.label :shares_expenses_true do %>
              <%= f.radio_button :shares_expenses, true %>
              Yes - my travel companion and I share expenses
            <% end %>
          </div>

          <div class="form-group radio">
            <%= f.label :shares_expenses_false do %>
              <%= f.radio_button :shares_expenses, false %>
              No - my travel companion and I do not share expenses
            <% end %>
          </div>
        </div>

        <div id="passenger_survey_companion_contact_info">
          <%= render "passengers/fields", f: f, main: false %>

          <div class="form-group">
            <%= f.label(
              :companion_citizenship,
              "Which most accurately describes your travel companion?"
            ) %>

            <% Passenger.citizenships.each do |name, _| %>
              <div class="radio">
                <label>
                  <%= f.radio_button(
                        :companion_citizenship,
                        name,
                        checked: f.object.companion_citizenship == name
                      ) %>
                  <%= t("activerecord.attributes.passenger.citizenships.#{name}") %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
