<%# This isn't pretty, but I spent an embarrassingly long time trying    %>
<%# to make a fancy over-engineered solution by subclassing FormBuilder, %>
<%# but it was definitely, definitely not worth the effort               %>

<div id="card_product_<%= id %>" class="col-xs-12 col-sm-4 col-md-3 col-xl-2">
  <div class="card-survey-checkbox">
    <%= hidden_field_tag(
      'cards_survey[cards][][product_id]',
      id,
      id: "cards_survey_#{id}_card_product_id",
    ) %>

    <%= image %>

    <div>
      <div><%= opened_check_box %></div>
      <div><%= opened_label %></div>
      <div>Annual fee: <%= annual_fee %>/yr </div>
      <div class="cards_survey_card_opened_on_wrapper">
        <hr>

        <label>Roughly when did you open this card?</label>
        <%= select_tag(
          "cards_survey[cards][][opened_on_(1i)]",
          options_for_year_select,
          id: "cards_survey_#{id}_card_opened_on_year",
          class: "cards_survey_card_opened_on_year cards_survey_year",
        ) %>

        <%= select_tag(
          "cards_survey[cards][][opened_on_(2i)]",
          options_for_month_select,
          id: "cards_survey_#{id}_card_opened_on_month",
          class: "cards_survey_card_opened_on_month cards_survey_month",
        ) %>

        <div class="clearfix"></div>
      </div>
      <div class="cards_survey_card_closed_wrapper">
        <%= label_tag(
          "cards_survey_#{id}_card_closed",
          "Is this account now closed?"
        ) %>
        <%= check_box_tag(
          "cards_survey[cards][][closed]",
          true,  # value
          false, # checked
          id: "cards_survey_#{id}_card_closed",
          class: "cards_survey_card_closed input-lg",
        ) %>
      </div>
      <div class="cards_survey_card_closed_on_wrapper">
        <label>Roughly when did you close this card?</label>
        <%= select_tag(
          "cards_survey[cards][][closed_on_(1i)]",
          options_for_year_select,
          id: "cards_survey_#{id}_card_closed_on_year",
          class: "cards_survey_#{id}_card_closed_on_year cards_survey_year",
        ) %>

        <%= select_tag(
          "cards_survey[cards][][closed_on_(2i)]",
          options_for_month_select,
          id: "cards_survey_#{id}_card_closed_on_month",
          class: "cards_survey_card_closed_on_month cards_survey_month",
        ) %>

        <div class="clearfix"></div>
      </div>
    </div>
  </div><!-- .card-survey-checkbox -->
</div><!-- cols -->
