<div id="<%= dom_id(person) %>" class="<%= dom_class(person) %> col-xs-12 col-md-6">
  <div class="well">
    <h3><%= person.first_name %></h3>

    <% if person.eligible? %>
      <p>Eligible to apply for cards</p>

      <hr>
      <h4>
        General Info
        <small><%= link_to "Edit", edit_person_spending_info_path(person) %></small>
      </h4>
      <%= render person.spending_info %>
      <div class="clearfix"></div>
    <% else %>
      <p>Ineligible to apply for cards</p>
    <% end %>

    <hr>

    <p>
      Before we can recommend any credit cards to this person, we need to know
      which cards they already have.
    </p>

    <% if person.balances.any? %>
      <h4>Balances</h4>
      <%= render "balances/list", balances: person.balances.includes(:currency) %>
    <% else %>
      <p>No existing frequent flyer balances</p>
    <% end %>

    <% if person.ready? %>
      <hr>
      <p>
        <%= person.first_name %> is ready to apply for cards and will shortly
        receive recommendations from the Abroaders team.
      </p>
    <% else %>
      <% unless person.has_recent_recommendation? %>
        <hr>
        <p><%= person.first_name %> is not ready to apply for cards.</p>

        <% if person.unreadiness_reason.present? %>
          <p>Reason given: <i><%= person.unreadiness_reason %></i></p>
        <% end %>
      <% end %>

      <% if person.eligible? %>
        <p>
          <%= link_to "Click here when you're ready", edit_readiness_path %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
