<% provide :title, "Ready for Recs." %>

<% content_for :header_panel do %>
  <div class="panel-body">
    <div class="col-xs-12 col-md-3">
      <h1>Ready for Recs.</h1>
    </div>

      <div class="col-xs-12 col-md-9">
        <h3>Accounts Ready (<%= @accounts.count %>)</h3>
        <h3>People Ready (<%= @ready_people.count %>)</h3>
    </div>
  </div>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <div class="form-group col-xs-12 col-md-8">
      <input
        id="admin_accounts_table_filter"
        type="text"
        class="form-control"
        placeholder="Filter by name or email..."
      />
    </div>

    <table
      id="admin_accounts_table"
      class="accounts table table-striped"
      cellpadding="1"
      cellspacing="1"
    >
      <thead>
      <tr>
        <th>
          Email
          &nbsp;
        </th>
        <th>
          Owner
          &nbsp;
        </th>
        <th>
          Companion
          &nbsp;
        </th>
        <th>
          Cards
          &nbsp;
        </th>
        <th>
          Spend
          &nbsp;
        </th>
        <th>
          Act. created
          &nbsp;
        </th>
        <th>
          Action
          &nbsp;
        </th>
      </tr>
      </thead>
      <tbody id="admin_accounts_table_body">
      <% present_each @accounts do |account| %>
        <%= account.tr do %>
          <td><%= account.email %></td>
          <td><%= account.link_to_owner %></td>
          <td><%= account.link_to_companion %></td>
          <td><%= account.card_accounts_count %></td>
          <td><%= account.monthly_spending_usd %></td>
          <td><%= account.created_at %></td>
          <td><%= account.link_to_self %></td>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
