<% provide :title, @account.email %>

<% content_for :wide do %>
  <div
    data-react-component="AccountPage"
    data-account="<%= serialize @account %>"
    data-alliances="<%= serialize_collection(@alliances) %>"
    data-banks="<%= serialize_collection(@banks) %>"
    data-independent-currencies="<%= serialize_collection(@independent_currencies) %>"
    data-offers="<%= serialize_collection(@offers) %>"
  >
  </div>
<% end %>
