<% provide :title, "Card Images" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Card Images</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        id="admin_card_images_table"
        class="table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <tbody>
          <% @products.each do |_product| %>
            <% product = Product::Cell.(_product) %>
            <tr id="<%= dom_id(_product) %>">
              <td><%= product.identifier %></td>
              <td><%= product.bank_name %></td>
              <td><%= link_to product.name, admin_card_product_path(_product) %></td>
              <td><%= product.network %></td>
              <td><%= product.image %></td>
            </tr>
          <% end # present_each %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <%= pluralize @products.size, "card" %>
  </div>
</div>
