<% provide :title, @product.name %>

<p>
  This is just a crappy placeholder page that I threw together in five minutes
  so that non-technical admins can look at the internals of card objects
  without having to dig around in the database. We can make it prettier later
  but it's not urgent.
</p>

<div class="hpanel">
  <div class="panel-heading hbuilt row">
    <div class="col-xs-12">
      <h1><%= @product.name %></h1>
    </div>
  </div>

  <div class="panel-body row">
    <div class="col-xs-7">
      <dt>Code</dt>
      <dd><%= @product.code %></dd>

      <dt>Name</dt>
      <dd><%= @product.name %></dd>

      <dt>Network</dt>
      <dd><%= cell(CardProduct::Cell::Network, @product) %></dd>

      <dt>B/P</dt>
      <dd><%= @product.bp %></dd>

      <dt>Type</dt>
      <dd><%= cell(CardProduct::Cell::Type, @product) %></dd>

      <dt>Annual fee</dt>
      <dd><%= cell(CardProduct::Cell::AnnualFee, @product) %></dd>

      <dt>Currency</dt>
      <dd><%= @product.currency&.name %></dd>

      <dt>Bank</dt>
      <dd><%= @product.bank_name %></dd>

      <dt>Wallaby ID</dt>
      <dd><%= @product.wallaby_id %></dd>

      <dt>Shown on survey?</dt>
      <dd><%= @product.shown_on_survey %></dd>

      <dt>Created at</dt>
      <dd><%= @product.created_at %></dd>

      <dt>Last updated at</dt>
      <dd><%= @product.updated_at %></dd>
    </div>

    <div class="col-xs-5">
      <p><%= cell(CardProduct::Cell::Image, @product) %></p>

      <p>
        <%= link_to 'Edit', edit_admin_card_product_path(@product) %>
        |
        <%= link_to 'Back to all cards', admin_card_products_path %>
      </p>
    </div>
  </div>
</div>
