<% provide :title, @product.name %>

<p>
  This is just a crappy placeholder page that I threw together in five minutes
  so that non-technical admins can look at the internals of card objects
  without having to dig around in the database. We can make it prettier later
  but it's not urgent.
</p>

<% present @product do |card| %>

  <div class="row">
    <div class="col-xs-12">
      <h1><%= card.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7">
      <dt>Code</dt>
      <dd><%= card.code %></dd>

      <dt>Name</dt>
      <dd><%= card.name %></dd>

      <dt>Network</dt>
      <dd><%= card.network %></dd>

      <dt>B/P</dt>
      <dd><%= card.bp %></dd>

      <dt>Type</dt>
      <dd><%= card.type %></dd>

      <dt>Annual fee</dt>
      <dd><%= card.annual_fee %></dd>

      <dt>Currency</dt>
      <dd><%= card.currency_name %></dd>

      <dt>Bank</dt>
      <dd><%= card.bank_name %></dd>

      <dt>Wallaby ID</dt>
      <dd><%= card.wallaby_id %></dd>

      <dt>Shown on survey?</dt>
      <dd><%= card.shown_on_survey %></dd>

      <dt>Created at</dt>
      <dd><%= card.created_at %></dd>

      <dt>Last updated at</dt>
      <dd><%= card.updated_at %></dd>
    </div>

    <div class="col-xs-5">
      <p><%= card.image %></p>

      <p>
        <%= link_to 'Edit', edit_admin_card_product_path(@product) %>
        |
        <%= link_to 'Back to all cards', admin_card_products_path %>
      </p>
    </div>
  </div>
<% end # present %>
