<div id="currency_<%= currency_id %>" class="currency survey_currency">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="checkbox">
        <label>
          <%= f.hidden_field :currency_id %>
          <%= f.check_box(
            :present,
            class: "currency_balance_checkbox input-lg",
            id:    "currency_#{currency_id}_balance",
          ) %>
          <%= f.object.model.currency_name %>
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.number_field(
        :value,
        id: "currency_#{balance.currency_id}_balance_value",
        class: 'currency_balance_value input-sm',
        disabled: !visible?,
        style: visible? ? "" : "display:none;",
      )%>
    </div>
  </div><!-- .row -->
</div><!-- .survey_currency -->
