<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h1>Add Card</h1>
      </div>
    </div><!-- .row -->
  </div>

  <%= cell(Abroaders::Cell::ValidationErrorsAlert::ActiveModel, form) %>

  <div class="panel-body">
    <%= form_for form, url: product_card_accounts_path(params[:product_id]) do |f| %>
      <%= f.hidden_field :product_id %>

      <div class="row">
        <%# two divs with cols XS 12/12, SM 6/6, MD 2/4: %>
        <%= cell(CardProduct::Cell::Summary, product) %>

        <div class="col-xs-12 col-md-6">
          <div class="row">
            <% if ask_for_person_id? %>
              <div class="col-md-12 col-lg-4">
                <label>Who owns this card?</label>
              </div>

              <div class="col-md-12 col-lg-8">
                <%= f.select :person_id, options_for_person_id_select %>
              </div>
            <% end %>

            <br />

            <div class="col-md-12 col-lg-4">
              <label class="card-info-label">When did you open this card?</label>
            </div>

            <div class="col-md-12 col-lg-8">
              <%= f.date_select(
                :opened_on,
                end_year:   Date.today.year,
                order:      [:month, :year],
                start_year: Date.today.year - 10,
                use_short_month: true,
                discard_day: true,
              ) %>
            </div>

            <div class="col-md-12 col-lg-4">
              <%= f.label :closed, class: 'card-info-label' do %>
                Is this account now closed?
              <% end %>
            </div>

            <div class="col-md-12 col-lg-8">
              <%= f.check_box :closed, class: "cards_survey_card_closed input-lg" %>
            </div>

            <div class="card-survey-closed <%= 'hide' unless form.closed %>">
              <div class="col-md-12 col-lg-4">
                <label class="card-info-label card-survey-closed">When did you close this card?</label>
              </div>

              <div class="col-md-12 col-lg-8">
                <%= closed_on_select(f) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <%= f.submit 'Save', class: 'btn btn-primary btn-lg' %>

          &nbsp;

          <%= link_to_select_different_product %>
        </div>
      </div>
    <% end %>
  </div>
</div>
