<h1>Banks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Abroaders ID</th>
      <th>Name</th>
      <th>Phone (personal)</th>
      <th>Phone (business)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td>
          <%= bank.personal_code %> (P),
          <%= bank.business_code %> (B)
        </td>
        <td><%= bank.name %></td>
        <td><%= bank.personal_phone %></td>
        <td><%= bank.business_phone %></td>
        <td><%= link_to 'Edit', edit_admin_bank_path(bank) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
