<% provide :title, "Banks" %>

<h1>Banks</h1>

<h3><%= link_to "Create New", new_admin_bank_path %></h3>

<%= will_paginate @banks %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <% if @banks.any? %>
      <table class="admin-alliances table table-striped">
        <thead>
          <tr>
            <th class="admin-alliances-name">ID</th>
            <th class="admin-alliances-code">Name</th>
            <th class="admin-alliances-code">Personal phone</th>
            <th class="admin-alliances-code">Business phone</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        <% @banks.each do |bank| %>
          <tr>
            <td class="admin-alliances-name"><%= bank.id %></td>
            <td class="admin-alliances-code"><%= bank.name %></td>
            <td class="admin-alliances-code"><%= bank.personal_phone %></td>
            <td class="admin-alliances-code"><%= bank.business_phone %></td>
            <td>
              <%= link_to "Edit", edit_admin_bank_path(bank) %>
              <br/>
              <%= link_to "Delete", admin_bank_path(bank), method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      Nothing to display!
    <% end %>
  </div>
</div>
