const React = require("react");

const <%= file_name.camelize %> = React.createClass({
  propTypes: {
  <% attributes.each do |attribute| -%>
    <%= attribute[:name].camelize(:lower) %>: <%= attribute[:type] %>,
  <% end %>
  },

  render() {
<% if attributes.size > 0 -%>
    return (
      <div>
<% attributes.each do |attribute| -%>
        <div><%= attribute[:name].titleize %>: {this.props.<%= attribute[:name].camelize(:lower) %>}</div>
<% end -%>
      </div>
    );
<% else -%>
    return <div />;
<% end -%>
  },
});

module.exports = <%= file_name.camelize %>;
