<%= wrapping_div do %>
  <div class="col-xs-12 col-md-4">
    <%= icon %>
    <%= currency_name %>

    <div class="balance_additional_info">
      <% if login? %>
        <p class="balance_login">Account: <%= login %></p>
      <% end %>
      <p class="balance_updated_at">Last update: <%= updated_at %></p>
    </div>

    <%= edit_btn %>
    <%= delete_btn %>
  </div>
  <div class="col-xs-12 col-md-8 lead">
    <%= formatted_balance %>
  </div>
<% end %>
