<div class="row">
  <div class="col-xs-12 text-center">
    <%= image_tag(
      'erik-white-bg-sm.jpg',
      alt: 'Erik',
      class: 'img img-responsive img-circle center text-center',
      size: '90x90',
      style: 'margin: 0 auto;',
    ) %>

    <p class="text-center">Erik Paquet</p>
    <p class="text-center">Co-founder, Abroaders</p>
    <p class="lead text-center">
      <%= welcome %> <%= lead_text %>
    </p>

    <a
      class="btn btn-primary text-center"
      href="<%= ExternalLinks::ScheduleACall::Generic %>"
    >
      <span class="fa fa-phone"></span> Have a question? Schedule a call with us
    </a>

    <hr>
  </div><!-- .col-xs-12 -->
</div><!-- .row -->

<%= next_steps %>

<div class="row">
  <div class="col-md-12 text-center">
    <p class="lead" style="color: #8492a5;">
      <strong>Abroaders is here to help you...</strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <span class="fa fa-line-chart" style="font-size: 65px; color: #1fb6ff;"></span>
    <h4 style="color: #8492a5;"><strong>Earn points and miles</strong></h4>

    <p>
      Get the right card, earn the right miles. We're also constantly on the
      lookout for good promotions that can help you save on your next trip.
    </p>
  </div><!-- .col-md-4 -->

  <div class="col-md-4 text-center">
    <span class="fa fa-plane" style="font-size: 65px; color: #1fb6ff;"></span>
    <h4 style="color: #8492a5;"><strong>Use points and miles</strong></h4>

    <p>
      Using points and miles to save on flights can be compmlicated and time
      consuming. If you have any questions about getting a good deal with your
      miles, contact us.
    </p>
  </div>

  <div class="col-md-4 text-center">
    <span class="fa fa-globe" style="font-size: 65px; color: #1fb6ff;"></span>
    <h4 style="color: #8492a5;">
      <strong>Help with travel questions</strong>
    </h4>

    <p>
      <strong>We love travel.</strong>
      Our team has been on countless international trips, spanning the globe.
      We're happy to answer any questions you have about your travel dreams.
    </p>
  </div><!-- col-md-4 -->
</div><!-- .row -->

<%= actionable_recs_modal %>
