<%= tr do %>
  <td><%= onboarded_icon %></td>
  <td><%= email %></td>
  <td><%= link_to_owner %></td>
  <td><%= link_to_companion %></td>
  <td><%= created_at %></td>
  <td><%= last_recommendations_at %></td>
<% end %>

