<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1><%= @person.first_name %> - Pulled card recommendations</h1>
    <p><%= @account.email %></p>
    <p><%= link_to "Back to this person's main page", admin_person_path(@person) %></p>
  </div>

  <div class="panel-body">
    <table id="admin_person_pulled_card_accounts" class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Recommended</th>
        <th>Seen</th>
        <th>Clicked</th>
        <th>Denied</th>
        <th>Declined</th>
        <th>Pulled</th>
      </thead>
      <tbody>
        <% present_each @pulled_recommendations, AdminArea::CardAccountPresenter do |card_account| %>
          <%= content_tag_for :tr, card_account do %>
            <td><%= card_account.card_identifier %></td>
            <td><%= card_account.card_name %></td>
            <td class="card_account_recommended_at">
              <%= card_account.recommended_at || "-" %>
            </td>
            <td class="card_account_seen_at">
              <%= card_account.seen_at || "-" %>
            </td>
            <td class="card_account_clicked_at">
              <%= card_account.clicked_at || "-" %>
            </td>
            <td class="card_account_denied_at">
              <%= card_account.denied_at || "-" %>
            </td>
            <td class="card_account_declined_at">
              <%= card_account.declined_at || "-" %>
            </td>
            <td class="card_account_pulled_at">
              <%= card_account.pulled_at %>
            </td>
          <% end # content_tag_for %>
        <% end # present %>
      </tbody>
    </table>
  </div>
</div>
