<% provide :title, "Edit Spending for #{@person.first_name}" %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="hpanel">
      <div class="panel-heading hbuilt">
        <h1>Edit Spending for <%= @person.first_name %></h1>
      </div><!-- .panel-heading.hbuilt -->

      <%= cell(Abroaders::Cell::ValidationErrorsAlert, @form, model_name: 'information') %>

      <div class="panel-body">
        <%= form_for @form, url: admin_person_spending_info_path(@person) do |f| %>
          <div class="form-group">
            <% if @account.couples? %>
              <% label_text = "Please estimate the combined monthly spending for #{@model.account.owner.first_name}" \
                              " and #{@model.account.companion.first_name} that could be charged to a credit card account." %>
            <% else %>
              <% label_text = "What is your average monthly spending that could be charged to a credit card account?" %>
            <% end %>
            <%= f.label :monthly_spending_usd, label_text %>

            <p class="help-block"> You should exclude rent, mortage, and car
              payments unless you are certain you can use a credit card as
              the payment method.
            </p>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= f.number_field(
                :monthly_spending_usd,
                value: @model.monthly_spending_usd,
                class: "form-control",
                placeholder: "Estimated monthly spending"
              ) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label(
              :credit_score,
              "What's your credit score?",
              min: CreditScore.min,
              max: CreditScore.max,
            ) %>

            <p class="help-block">
              A credit score should be a number between
              <%= CreditScore.min %> and <%= CreditScore.max %>
            </p>

            <%= f.number_field :credit_score %>
          </div>

          <div class="form-group">
            <%= f.label(
              :will_apply_for_loan,
              "Do you plan to apply for a loan of over $5,000 in the next 12 months?"
            ) %>

            <div class="radio">
              <label>
                <%= f.radio_button(
                  :will_apply_for_loan,
                  true,
                  checked: f.object.will_apply_for_loan,
                ) %> Yes
              </label>
            </div>

            <div class="radio">
              <label>
                <%= f.radio_button(
                  :will_apply_for_loan,
                  false,
                  checked: !f.object.send(:will_apply_for_loan)
                ) %> No
              </label>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :has_business, "Do you own a business?" %>

            <% SpendingInfo.has_businesses.each do |value, _| %>
              <div class="radio">
                <label>
                  <%= f.radio_button(
                    :has_business,
                    value,
                    checked: f.object.send(:has_business) == value
                  ) %>
                  <%= has_business_label_text(value) %>
                </label>
              </div>
            <% end %>
          </div>

          <div
            id="business_spending_form_group"
            class="form-group required-abr"
            style="<%= "display:none" unless f.object.has_business? %>"
          >
            <%= f.label(
              :business_spending_usd,
              "What is the average monthly spending of your business?"
            ) %>

            <p class="help-block">
              Do not include business expenses that cannot be charged to a credit card
            </p>

            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%# Adding min: 0 causes an interesting bug. Set the value      %>
              <%# to a number lower than 0 (e.g. by c&ping it into the field  %>
              <%# which `min` won't stop you from doing, at least in the      %>
              <%# current version of Chrome, then click 'no business' (hiding %>
              <%# the input), then click 'save' - and nothing will happen.    %>
              <%# Then look in the Chrome console and you'll see the error    %>
              <%# 'An invalid form control..' is not focusable. Rather than   %>
              <%# hacking a fix to this error, I'm just going to leave 'min'  %>
              <%# off for now and let negative values be caught server-side   %>
              <%= f.number_field :business_spending_usd %>
            </div>
          </div>

          <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div><!-- .panel-body -->
    </div><!-- .hpanel -->
  </div><!-- col-xs-12 -->
</div><!-- .row -->
