<%= other %>

<div class="hpanel">
  <div class="panel-heading hbuilt text-center">
    <h1>
      <%= fa_icon 'plane' %>
      Travel Plans

      <%= link_to new_travel_plan_path, class: 'btn btn-success btn-xs' do %>
        <%= fa_icon 'plus' %>
        Add new
      <% end %>
    </h1>
  </div>

  <div class="panel-body">
    <%= travel_plans %>
  </div>
</div>
