<div class="row text-center">
  <div class="col-xs-12">
    <h2><%= title %></h2>
    <p class="lead">
      Do you have any specific trips planned that you haven't booked?
    </p>

    <a
      href="#why-we-ask-travel-plans"
      type="button"
      data-toggle="collapse"
      data-target="#why-we-ask-travel-plans"
      aria-expanded="false"
      aria-controls="#why-we-ask-travel-plans"
      style="color: #1fb6ff; font-size: 14px;"
    >
      <span class="fa fa-question-circle"></span>
      <em>Why do we ask?</em>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div id="why-we-ask-travel-plans" class="collapse">
      <div class="well well-lg">
        Giving us more information about any specific trips you have planned in
        the future (especially those 3 or more months away) will help us design
        a better overall points strategy, both for the specific trips you've
        already planned and those yet to be planned.
      </div>
    </div>
  </div>
</div>

<%= errors %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for form, html: { class: "travel-plan-form" } do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <%= types(f) %>
        </div>
      </div>

      <div class="travel-plan-input-group">
        <div class="from-to-line">
          <%= f.text_field(
            :from,
            class: 'typeahead travel-plan-from-field',
            placeholder: 'From (airport)'
          ) %>
          <div class="travel-plan-icon-plane">
            <span class="fa fa-plane"></span>
          </div>
          <%= f.text_field(
            :to,
            class: 'typeahead travel-plan-to-field',
            placeholder: 'To (airport)'
          ) %>
        </div>

        <div class="depart-return-passengers-line">
          <div class="depart-return-line">
            <div class="travel-plan-icon-depart">
              <span class="fa fa-mail-forward"></span>
            </div>
            <%= f.text_field(
              :depart_on,
              placeholder: "Depart",
              class: "travel-plan-datepicker travel-plan-depart-field",
              # value: f.object.depart_on_str
            ) %>
            <div class="travel-plan-icon-return">
              <span class="fa fa-reply"></span>
            </div>
            <%= f.text_field(
              :return_on,
              placeholder: "Return",
              class: "travel-plan-datepicker travel-plan-return-field",
              # value: (f.object.return_on_str if f.object.type == "round_tip"),
              disabled: ('disabled' if f.object.type == 'one_way')
            ) %>
          </div>

          <div class="passengers-line">
            <div class="travel-plan-icon-passengers">
              <span class="fa fa-user"></span>
            </div>
            <%= f.number_field(
              :no_of_passengers,
              min: 1,
              max: TravelPlan::MAX_PASSENGERS,
              placeholder: 'No of travelers',
              class: "travel-plan-passengers-field"
            ) %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
          <p>Check all acceptable classes:</p>

          <div class="row">
            <%= cos_checkboxes(f) %>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <%= f.text_area(
                  :further_information,
                  placeholder: "Optional: give us any extra information about #{form.owner_name(true)} "\
                  "travel plans that you think might be relevant"
                ) %>
                <span id="travel_plan_further_information_counter"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-6">
          <% unless form.persisted? %>
            <div data-react-component="PointsEstimateTable"></div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <%= f.button type: "submit", class: "btn-primary btn-block form-control" do %>
                <span class="fa fa-check"></span>
                &nbsp;Save my travel plan
              <% end %>
            </div>
            <% unless current_account.onboarded? %>
              <div class="col-xs-12 col-md-6">
                <%= link_to(
                  "I don't have specific plans",
                  skip_survey_travel_plans_path,
                  method: :patch,
                  class: 'btn btn-default btn-block',
                ) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
