<div id="<%= html_id %>" class="<%= html_class %>">
  <div>
    <span class="travel_plan_type"><%= type %></span>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <%= no_of_passengers %>

    <% if editable? %>
      &nbsp;
      <%= link_to_edit %>
      |
    <% end %>
    <%= link_to_destroy %>
  </div>

  <%= dates %>

  <%= cell(Flight::Cell::Summary, flight) %>

  <div><%= further_information %></div>
  <div>Acceptable classes: <b><%= acceptable_classes %></b></div>
</div>
