<div id="travel_plan_<%= id %>" class="<%= html_classes %>">
  <div style="float:right;">
    <% if editable? %>
      <%= link_to_edit %>
      &nbsp;
    <% end %>
    <%= link_to_destroy %>
  </div>

  <div>
    <span class="travel_plan_type"><%= type %></span>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <%= no_of_passengers %>
  </div>

  <%= dates %>

  <%= flight_summary %>

  <div><%= further_information %></div>
  <div>Acceptable classes: <b><%= acceptable_classes %></b></div>
</div>
