<%= main_header %>

<%= cell(ConfirmPersonalSpending, account) %>
<%= cell(ConfirmPerson, collection: model) %>
<div class="row">
  <div class="col-xs-12">
    <%= submit_btn %>
    <%= cancel_btn %>
  </div>
</div>
