<div class="hpanel admin_area_people_show">
  <%= heading %>

  <div class="panel-body">
    <% if account_unresolved_recommendation_requests? %>
      <div class="col-xs-12">
        <% if unresolved_recommendation_request? %>
          <p><%= first_name %> requested a recommendation at
            <%= unresolved_recommendation_request.created_at.strftime('%c') %></p>
        <% end %>

        <% if partner_unresolved_recommendation_request? %>
          <p><%= partner_first_name %> requested a recommendation at
          <%= partner_unresolved_recommendation_request.created_at.strftime('%c') %></p>
        <% end %>
      </div>
    <% end %>

    <div class="col-xs-12 col-md-6">
      <%= spending_info %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= award_wallet_connection %>

      <%= balances_list %>
    </div><!-- .col-xs-12.col-md-6 -->

    <div class="col-xs-12 col-md-6">
      <%= travel_plans_list %>
    </div><!-- .col-xs-12.col-md-6 -->

    <div class="col-xs-12 col-md-6">
      <%= regions_of_interest_list %>

      <%= home_airports_list %>
    </div><!-- .col-xs-12.col-md-6 -->

    <div class='col-xs-12'>
      <hr>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="form-inline">
        <b>B/P: </b>&nbsp;
        <%= card_bp_filter_check_box_tag('business') %>
        <%= card_bp_filter_check_box_tag('personal') %>
      </div>

      <%= bank_filter_panels %>

      <%= spend_filter_input %>
    </div><!-- .col-xs-12 -->

    <div class='col-xs-12 col-md-8'>
      <%= recommendation_notes %>

      <%= form_tag complete_admin_person_card_recommendations_path(model) do %>
        <%= text_area_tag(
          :recommendation_note, "",
          class: "form-control",
          rows: 15,
          placeholder: 'Recommendation notes (optional)',
        ) %>
        <br>
        <input class="btn btn-primary btn-lg" style="float:right;" type="submit" value="Done">
      <% end # form_tag %>
    </div>

    <div class="clearfix"></div>

    <div class='col-xs-12 col-xxl-6'>
      <h3>Cards</h3>

      <%= card_accounts %>

      <%= card_recommendations %>
    </div>

    <div class="col-xs-12 col-xxl-6">
      <h3>Recommendable Offers</h3>
      <%= recommendable_offers %>
    </div><!-- .col-xs-12 -->
  </div><!-- .panel-body -->
</div><!-- .hpanel -->
