<%= tr_tag do %>
  <td class="card-identifier">
    Card <%= product_identifier %>
  </td>
  <td class="card-name">
    <%= name %>
  </td>
  <td class="card-bank-name">
    <%= bank_name %>
  </td>
  <td class="card-bp">
    <%= bp.capitalize %>
  </td>
  <td class="card-currency">
    <%= currency_name %>
  </td>
<% end %>
