<%
  card = present @card
  name = @account.owner.first_name
  name += " and #{@account.companion.first_name}" if @account.has_companion?
%>
<p>Hey <%= name %>,</p>
<p>
  This is just a friendly reminder that the annual fee of <%= card.annual_fee %> for your
  <%= card.full_name(with_bank: true) %> <%= card.bp.downcase %> card will post sometime soon.
</p>
<p>Sometimes, you can get the fee waived or earn other compensation by calling the number on the back of your card.</p>
<p>For more detail, check out this resource:</p>
<p><%= link_to "http://www.abroaders.com/annual-fee-negotiation", "http://www.abroaders.com/annual-fee-negotiation" %></p>
<p>Cheers,</p>
<p>The Abroaders Team</p>
