<%= render "shared/model_validation_errors", model: travel_plan %>
<div class="panel-body">
  <%= form_for travel_plan.form_object, html: { class: "travel-plan-form" } do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% travel_plan.class.types.each do |type, _| %>
          <label class="type-radio">
            <%= t("activerecord.attributes.travel_plan.types.#{type}") %>
            &nbsp;
            <%= f.radio_button(
              :type,
              type,
              checked: type == f.object.type
            ) %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="travel-plan-input-group">
      <div class="from-to-line">
        <%= text_field_tag "travel_plan_from_typeahead", travel_plan.from_name, class: "form-control typeahead travel-plan-from-field", placeholder: "From (airport)" %>
        <%= f.hidden_field :from_code, class: "airport-code" %>
        <div class="travel-plan-icon-plane">
          <span class="fa fa-plane"></span>
        </div>
        <%= text_field_tag "travel_plan_to_typeahead", travel_plan.to_name, class: "form-control typeahead travel-plan-to-field", placeholder: "To (airport)" %>
        <%= f.hidden_field :to_code, class: "airport-code" %>
      </div>

      <div class="depart-return-passengers-line">
        <div class="depart-return-line">
          <div class="travel-plan-icon-depart">
            <span class="fa fa-mail-forward"></span>
          </div>
          <%= f.text_field(
            :departure_date,
            placeholder: "Depart",
            class: "travel-plan-datepicker travel-plan-depart-field",
            value: f.object.departure_date_str
          ) %>
          <div class="travel-plan-icon-return">
            <span class="fa fa-reply"></span>
          </div>
          <%= f.text_field(
            :return_date,
            placeholder: "Return",
            class: "travel-plan-datepicker travel-plan-return-field",
            value: (f.object.return_date_str if f.object.type == "return"),
            disabled: ("disabled" if f.object.type == "single")
          ) %>
        </div>

        <div class="passengers-line">
          <div class="travel-plan-icon-passengers">
            <span class="fa fa-user"></span>
          </div>
          <%= f.number_field(
            :no_of_passengers,
            min: 1,
            max: TravelPlan::MAX_FLIGHTS,
            placeholder: 'Travelers',
            class: "travel-plan-passengers-field"
          ) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
        <p>Check all acceptable classes:</p>

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :will_accept_economy do %>
                <%= f.check_box :will_accept_economy %>
                &nbsp;Economy&nbsp;
              <% end %>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :will_accept_premium_economy do %>
                <%= f.check_box :will_accept_premium_economy %>
                &nbsp;Premium Economy&nbsp;
              <% end %>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :will_accept_business_class do %>
                <%= f.check_box :will_accept_business_class %>
                &nbsp;Business Class&nbsp;
              <% end %>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :will_accept_first_class do %>
                <%= f.check_box :will_accept_first_class %>
                &nbsp;First Class&nbsp;
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <%= f.text_area(
                :further_information,
                placeholder: "Optional: give us any extra information about #{travel_plan.owner_name(true)} "\
                "travel plans that you think might be relevant"
              ) %>
              <span id="travel_plan_further_information_counter"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
        <% unless travel_plan.persisted? %>
          <%# TODO make me work on the edit page too - right now I break the tests: %>
          <div data-react-component="PointsEstimateTable"></div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= f.button type: "submit", class: "btn-primary btn-block form-control" do %>
              <span class="fa fa-check"></span>
              &nbsp;Save my travel Plan
            <% end %>
          </div>
          <% if travel_plan.show_skip_survey? %>
            <div class="col-xs-12 col-sm-6">
              <%= link_to_skip_survey %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div><!-- .panel-body -->
