<div id="<%= dom_id(travel_plan) %>" class="<%= dom_class(travel_plan, :admin) %> well">
  <div>
    <span class="travel_plan_type"><%= travel_plan.type.capitalize %></span>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <%# TODO this is a 'dummy' placeholder date range: %>
    <span class="travel_plan_departure_date_range">
      2/15/2015 - 2/17/2019
    </span>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <span class="travel_plan_no_of_passengers">
      <%= fa_icon "male" %> &times; <%= travel_plan.no_of_passengers %>
    </span>
  </div>

  <% travel_plan.flights.each do |flight| %>
    <div id="<%= dom_id(flight) %>" class="<%= dom_class(flight) %>">
      <%= fa_icon "plane" %>

      <%# use `dom_id`, even though it's for the HTML class, because %>
      <%# different TravelPlans might use the same destination %>
      <%= render "travel_plans/destination", destination: flight.from %>
      -
      <%= render "travel_plans/destination", destination: flight.to %>
    </div><!-- #dom_id(flight) -->
  <% end %>
</div>
