<div id="<%= dom_id(travel_plan) %>" class="<%= dom_class(travel_plan, :admin) %> well">
  <div>
    <span class="travel_plan_type"><%= travel_plan.type.capitalize %></span>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <span class="travel_plan_no_of_passengers">
      <%= fa_icon "male" %> &times; <%= travel_plan.no_of_passengers %>
    </span>

    <% if false %>
    <%# editing travel plans is temp disabled %>
    <% if local_assigns[:show_links] %>
      &nbsp;
      <%= link_to "Edit", edit_travel_plan_path(travel_plan) %>
    <% end %>

    <% if local_assigns[:show_admin_links] %>
        &nbsp;
        <%= link_to "Edit", edit_admin_travel_plan_path(travel_plan) %>
    <% end %>
    <% end %>
  </div>

  <div>
    <span class="travel_plan_departure_date_range">
      Departure:
      <%= travel_plan.depart_on.strftime("%D") %>
    </span>

    &nbsp;

    <%# legacy data may be of type 'return' but have no return_on date: %>
    <% if travel_plan.type == "return" && !travel_plan.return_on.nil? %>
      <span class="travel_plan_departure_date_range">
        Return:
        <%= travel_plan.return_on.strftime("%D") %>
      </span>
    <% end %>
  </div>

  <% travel_plan.flights.each do |flight| %>
    <div id="<%= dom_id(flight) %>" class="<%= dom_class(flight) %>">
      <%= fa_icon "plane" %>
      <%= render "travel_plans/destination", destination: flight.from %>
      -
      <%= render "travel_plans/destination", destination: flight.to %>
    </div><!-- #dom_id(flight) -->
  <% end %>

  <% if travel_plan.further_information.present? %>
    <div>Notes: <%= travel_plan.further_information %></div>
  <% end %>

  <div>
    Acceptable classes:
    <b>
      <% if travel_plan.acceptable_classes.any? %>
        <%= "E"   if travel_plan.will_accept_economy? %>
        <%= "PE"  if travel_plan.will_accept_premium_economy? %>
        <%= "B"   if travel_plan.will_accept_business_class? %>
        <%= "1st" if travel_plan.will_accept_first_class? %>
      <% else %>
        None given
      <% end %>
    </b>
  </div>
</div>
