<h1>Add a Travel Plan</h1>

<p>
  Where do you want to go, and when? Let us know your travel plans and
  we'll help you get a great deal on the flight.
</p>

<%= render "shared/model_validation_errors", model: @form %>

<%= form_for @form, url: travel_plans_path do |f| %>

  <div class="form-inline">
    <% @form.class.types.each do |type, _| %>
      <div class="form-group">
        <label>
          <%= type.capitalize %>
          &nbsp;
          <%= f.radio_button(
            :type,
            type,
            checked: type == f.object.type
          ) %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-6">
      <%= f.label :from %>
      <%= f.collection_select(
        :from_id,
        @countries,
        :id,
        :name,
        prompt: "Select a country of origin"
      ) %>
    </div>

    <div class="form-group col-xs-12 col-md-6">
      <%= f.label :to %>
      <%= f.collection_select(
        :to_id,
        @countries,
        :id,
        :name,
        prompt: "Select a destination country"
      ) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-6">
      <%= f.label        :no_of_passengers, "# of passengers" %>
      <%= f.number_field :no_of_passengers,
                            min: 1, max: TravelPlan::MAX_FLIGHTS %>
    </div>

    <div class="form-group col-xs-12 col-md-6">
      <%= f.label      :earliest_departure %>
      <%= f.text_field :earliest_departure %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <label>What class(es) of service would you consider for this trip?</label>

      <div class="form-inline">
        <div class="radio">
          <%= f.label :will_accept_economy do %>
            <%= f.check_box :will_accept_economy %>
            &nbsp;Economy&nbsp;
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :will_accept_premium_economy do %>
            <%= f.check_box :will_accept_premium_economy %>
            &nbsp;Premium Economy&nbsp;
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :will_accept_business_class do %>
            <%= f.check_box :will_accept_business_class %>
            &nbsp;Business Class&nbsp;
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :will_accept_first_class do %>
            <%= f.check_box :will_accept_first_class %>
            &nbsp;First Class&nbsp;
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= f.text_area(
          :further_information,
          placeholder: "Optional: give us any extra information about your travel plans that you think might be relevant"
        ) %>
        <span id="travel_plan_further_information_counter"></span>
      </div>
    </div>
  </div>

  <%= f.submit "Save", class: "btn-primary" %>

<% end %>
