<% provide(:title, "Create New Travel Plan") %>

<h1>Create New Travel Plan</h1>

<div
  data-react-component="TravelPlanForm"
  data-default-type="<%=TravelPlan::DEFAULT_TYPE %>"
  data-max-flights="<%= TravelPlan::MAX_FLIGHTS %>"
  data-plan-types="<%=  TravelPlan::TYPES.to_json %>"
  data-travel-plan="<%= @travel_plan.attributes.to_json %>"
  data-url="<%= travel_plans_path %>"
></div>
