<% provide :title, "Sign Up" %>

<div class="login-container">
  <div class="row">

    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h4>SIGN UP</h4>
      </div>

      <div class="hpanel">
        <% if @form.errors.any? %>
          <%= render "shared/error_message" do %>
            Couldn't create an account:

            <ul>
              <% @form.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          <% end  %>
        <% end %>

        <div class="panel-body">
          <p>Fields with a * are required</p>

          <%= form_for(
            @form,
            url: account_registration_path,
            html: { role: "form" }
          ) do |f| %>
            <div class="form-group required">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="form-group required">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>

            <div class="form-group required">
              <%= f.label :password %>
              <p class="help-block">
                Minimum length <%= @minimum_password_length %> characters
              </p>
              <%= f.password_field :password %>
            </div>

            <div class="form-group required">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>

            <div class="form-group">
              <%= f.label :promo_code %>
              <%= f.text_field :promo_code %>
            </div>

            <%= f.submit "Sign up", class: "btn btn-success btn-block" %>
          <% end %>

          <br>
          <%= link_to "Sign in", new_account_session_path %>
          |
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div><!-- .text-center -->
  </div>
</div>
