<h1><%= first_name %></h1>
<p>Please confirm that all your information is up-to-date</p>

<p>Is the following financial information for <%= first_name %> still accurate?</p>
<%= spending_info_table %>
<%= link_to_edit_spending %>

<hr>

<%= cards_summary %>

<hr>

<%= balances_summary %>

<button class="btn btn-primary">
  My data is up to date - send me new card recommendations
</button>
