<tr id="offer_<%= id %>" class="offer">
  <td><%= id %></td>
  <td><%= link_to_card_product_offers %></td>
  <td><%= bank_name %></td>
  <td><%= partner %></td>
  <td><%= points_awarded %></td>
  <td><%= spend %></td>
  <td><%= cost %></td>
  <td><%= days %></td>
  <td><%= live %></td>
  <td><%= last_reviewed_at %></td>
  <td><%= link_to 'Show', admin_offer_path(model) %>
  <td><%= link_to 'Edit', edit_admin_offer_path(model) %>
</tr>
