<tr id="offer_<%= id %>" class="offer">
  <td><%= link_to_show(text: id) %></td>
  <td class="offer_card_name">
    <%= card_product_name_link_to_offers %>
  </td>
  <td><%= details %></td>
  <td class="offer_live"><%= live %></td>
  <td><%= last_reviewed_at %></td>
  <td class="offer_verification_ctrls">
    <div class="btn-group">
      <%= verify_btn %>
      <%= kill_btn %>
    </div>
  </td>
  <td>
    <%= link_to_show(text: 'View') %> |
    <%= link_to_link %> |
    <%= link_to_edit %>
  </td>
</tr>
