<%= wrapping_div do %>
  <%= form_tag do |f| %>
    <div class="col-xs-12 col-md-4">
      <%= currency_name %>
    </div>

    <div class="col-xs-6 col-md-5">
      <span class="balance_value">
        <%= value %>
      </span>

      <%# initially hidden: %>
      <%= value_field(f) %>
    </div>

    <div class="col-xs-6 col-md-3">
      <%# initially hidden: %>
      <%= save_btn_group do %>
        <%= save_btn %>
        <%= cancel_btn %>
      <% end %>

      <%# initially hidden: %>
      <%= error_message %>
      <%= loading_spinner %>
    </div>

    <div style="float:right;">
      <%= edit_btn %>
      <%= delete_btn %>
    </div>
  <% end # form_for %>
<% end %>

<hr />
