<div class='hpanel'>
  <div class="panel-body">
    <h1><%= title %></h1>

    <%= errors %>

    <%= form_tag do |f| %>
      <div class="form-group">
        <%= f.label :currency_id %>
        <%= f.collection_select :currency_id, currencies, :id, :name %>
      </div>

      <div class="form-group">
        <%= f.label        :value %>
        <%= f.number_field :value %>
      </div>

      <%= f.submit 'Save', class: 'btn btn-primary' %>
      &nbsp;

      <%= link_to 'Back', balances_path %>
    <% end %>
  </div>
</div>
