<%= header %>

  <% if form.errors.any? %>
    <div class="alert alert-danger">
      Could not save balances:

      <ul>
        <% form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-12">
    <%= initial %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= confirm_no %>
  </div>
</div>

<%= main %>
