<%= header %>

  <% if form.errors.any? %>
    <div class="alert alert-danger">
      Could not save balances:

      <ul>
        <% form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag do |f| %>
    <div
      id="balances-survey-initial"
      class="panel-body text-center"
      <% unless current_panel == 'initial' %>
        style="display:none;"
      <% end %>
    >
      <div class="btn-group">
        <a id="balances-survey-initial-yes-btn" href="#" class="btn btn-primary">
          Yes
        </a>

        <a id="balances-survey-initial-no-btn" href="#" class="btn btn-default">
          No
        </a>
      </div>
    </div><!-- #balances-survey-initial -->

    <div
      id="balances-survey-confirm-no"
      class="panel-body text-center"
      style="display:none;"
    >
      <p>
        <%= n "You", model %>&nbsp;<%= n "have", model %> no points balances
        greater than 5,000:
      </p>
      <div class="btn-group">
        <%= submit_tag "Confirm", class: "btn btn-primary" %>

        <button id="balances-survey-confirm-no-back-btn" class="btn btn-default">
          Back
        </button>
      </div>
    </div><!-- #balances-survey-confirm-no -->

    <div
      id="balances-survey-main-header"
      class="panel-body"
      <% unless current_panel == 'main' %>
        style="display:none;"
      <% end %>
    >
      <p>
        We recommend tracking your balances through
        <%= link_to "AwardWallet.com", "https://awardwallet.com", target: "_blank" %>.
        If <%= n "you", model %> already <%= n "have", model %> an
        AwardWallet account, please tell us what email address
        <%= n "you", model, true %> used to sign up for it:
      </p>

      <div class="form-group">
        <%= f.email_field(
          :award_wallet_email,
          placeholder: "#{n "Your", model} login email for AwardWallet"
        ) %>
      </div><!-- .form-group -->

      <p>
        We are working on integrating our app with AwardWallet so that we
        can keep track of your loyalty points automatically. For now, if you
        don't have AwardWallet, please estimate (to the nearest 1,000)
        <% if current_account.couples? %>
          <b><%= model.first_name %>'s</b>
        <% else %>
          your
        <% end %>
        current balances for the programs below.
      </p>

      <p>
        (You can always edit these balances, or add new ones, later - but the sooner
        and the more accurately we know your existing awards balances, the
        sooner we can help you save money on travel.)
      </p>
    </div><!-- .panel-body -->

    <div
      id="balances-survey-main-body"
      class="hpanel"
      <% unless current_panel == 'main' %>
        style="display:none;"
      <% end %>
    >
      <div class="panel-body">
        <div class="balances_survey">
          <h4>
            What type of points
            <%= n "do", model %>
            <%= n "you", model %>
            have?
          </h4>

          <%= f.fields_for :balances do |balance_form| %>
            <% balance = balance_form.object %>

            <div
              id="currency_<%= balance_form.object.model.currency_id %>"
              class="currency survey_currency"
              >
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="checkbox">
                    <label>
                      <%= balance_form.hidden_field :currency_id %>
                      <%= balance_form.check_box(
                        :present,
                        class: "currency_balance_checkbox input-lg",
                        id:    "currency_#{balance.currency_id}_balance",
                      ) %>
                      <%= balance_form.object.currency_name %>
                    </label>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <% visible = balance_form.object.present %>
                  <%= balance_form.number_field(
                    :value,
                    id: "currency_#{balance.currency_id}_balance_value",
                    class: 'currency_balance_value input-sm',
                    disabled: !visible,
                    style: visible ? "" : "display:none;",
                  )%>
                </div>
              </div><!-- .row -->
            </div><!-- .survey_currency -->
          <% end %>
        </div><!-- .balances-survey -->
      </div><!-- .panel-body -->
    </div><!-- .hpanel -->

    <div id="balances-survey-main-footer" style="display:none;">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i>
            Save and continue
          </button>
        </div>
      </div>
    </div>
  <% end %>
