<div class='hpanel'>
  <div class="panel-heading hbuilt">
    <h1>Balances</h1>

    <% if @people.size == 1 %>
      <%= link_to "Add new balance", new_person_balance_path(@people.first) %>
    <% end %>
  </div>

  <% @people.each do |person| %>
    <div class="person_balances panel-body">
      <% if @people.size > 1 %>
        <h2><%= person.first_name %>'s balances</h2>

        <%= link_to "Add new balance for #{person.first_name}", new_person_balance_path(person) %>
      <% end %>

      <hr>

      <% person.balances.each do |balance| %>
        <%= form_for balance, data: { remote: true } do |f| %>
          <% present(balance) do |balance_p| %>
            <div id="<%= dom_id(balance_p) %>" class="<%= dom_class(balance_p) %> row">
              <div class="col-xs-12 col-md-4">
                <%= balance_p.currency_name %>
              </div>
              <div class="col-xs-6 col-md-5">
                <span class="balance_value">
                  <%= balance_p.value %>
                </span>

                <%= f.number_field(
                  :value,
                  class: "balance_value_editing",
                  style: "display: none; height: 30px;"
                ) %>
              </div>
              <div class="col-xs-6 col-md-3">
                <button
                  class="edit_balance_btn btn btn-sm btn-primary"
                  data-balance-id="<%= balance.id %>"
                >
                  Edit
                </button>

                <div
                  class="editing_balance_btn_group btn-group"
                  style="display:none;"
                >
                  <button
                    class="save_balance_btn btn btn-sm btn-primary"
                    data-balance-id="<%= balance.id %>"
                  >
                    Save
                  </button>
                  <button
                    class="cancel_edit_balance_btn btn btn-sm btn-default"
                    data-balance-id="<%= balance.id %>"
                  >
                    Cancel
                  </button>
                </div>

                <span
                  class="editing_balance_error_msg"
                  style="display:none;"
                >
                  Invalid value
                </span>

                <div class="LoadingSpinner"
                  style="float: right; top: 13px; right: 22px; display:none;"
                >
                </div>

              </div>
            </div><!-- #dom_id(balance_p) -->

            <hr />
          <% end # present %>
        <% end # form_for %>
      <% end # person.balances.each %>
    </div><!-- .person_balances.panel-body -->
 <% end # people.each %>
</div>
