<% provide :title, "Balances" %>

<%= form_tag (params[:passenger]) do %>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="row">
        <div class="col-xs-12">
          <h1>
            <%= n "Your", @person %> Existing Balances
          </h1>
        </div>
      </div>
    </div>

    <% if @survey.errors %>
      <div class="alert alert-danger">
        Could not save balances:

        <ul>
          <% @survey.errors.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="balances-survey-initial" class="panel-body">
      <p>
        We need to know <%= n "your", @person %> existing frequent
        flyer mile balances, if <%= n "you", @person, true %>
        <%= n "have", @person %> any, in order to give the best card
        recommendations.
      </p>

      <p>
        <%= n "Do", @person %> <%= n "you", @person %> have
        any points balances greater than 5,000?
      </p>

      <div class="btn-group">
        <a id="balances-survey-initial-yes-btn" href="#" class="btn btn-primary">
          Yes
        </a>

        <a id="balances-survey-initial-no-btn" href="#" class="btn btn-default">
          No
        </a>
      </div>
    </div>

    <div id="balances-survey-confirm-no" class="panel-body" style="display:none;">
      <p>
        <%= n "You", @person %> <%= n "have", @person %> no points balances
        greater than 5,000:
      </p>
      <div class="btn-group">
        <%= submit_tag "Confirm", class: "btn btn-primary" %>

        <button id="balances-survey-confirm-no-back-btn" class="btn btn-default">
          Back
        </button>
      </div>
    </div>

    <div id="balances-survey-main-header" class="panel-body" style="display:none;">
      <p>
        We recommend tracking your balances through
        <%= link_to "AwardWallet.com", "https://awardwallet.com", target: "_blank" %>.
        If <%= n "you", @person %> already <%= n "have", @person %> an
        AwardWallet account, please tell us what email address
        <%= n "you", @person, true %> used to sign up for it:
      </p>

      <div class="form-group">
        <%= email_field_tag(
          :balances_survey_award_wallet_email,
          @survey.award_wallet_email,
          placeholder: "#{n "Your", @person} login email for AwardWallet"
        ) %>
      </div><!-- .form-group -->

      <p>
        We are working on integrating our app with AwardWallet so that we
        can keep track of your loyalty points automatically. For now, if you
        don't have AwardWallet, please estimate (to the nearest 1,000)
        <% if current_account.couples? %>
          <b><%= @person.first_name %>'s</b>
        <% else %>
          your
        <% end %>
        current balances for the programs below.
      </p>

      <p>
        (You can always edit these balances, or add new ones, later - but the sooner
        and the more accurately we know your existing awards balances, the
        sooner we can help you save money on travel.)
      </p>
    </div><!-- .panel-body -->
  </div><!-- .hpanel -->

  <div id="balances-survey-main-body" class="hpanel" style="display:none;">
    <div class="panel-body">
      <div class="balances_survey">
        <h4>
          What type of points <%= n "do", @person %> <%= n "you", @person %>
          have?
        </h4>

        <% @survey.balances.each do |balance| %>
          <% currency = balance.currency %>
          <div
            id="<%= dom_id(currency) %>"
            class="<%= dom_class(currency) %> survey_currency"
          >
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="checkbox">
                  <label>
                    <%= currency_balance_checkbox(balance) %>
                    <%= currency.name %>
                  </label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <%= currency_balance_value_field(balance) %>
              </div>
            </div><!-- .row -->
          </div><!-- .survey_currency -->
        <% end %>
      </div><!-- .balances-survey -->
    </div><!-- .panel-body -->
  </div><!-- .hpanel -->

  <div id="balances-survey-main-footer" style="display:none;">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-lg btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save and continue
        </button>
      </div>
    </div>
  </div>
<% end %>
