<h1>Balances</h1>

<p>
  Does <%= @person.first_name %> have any existing frequent flyer mile
  balances?
</p>

<% if @survey.errors %>
  <div class="alert alert-danger">
    Could not save your balances:

    <ul>
      <% @survey.errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag (params[:passenger]) do %>
  <div class="balances_survey">
    <% @survey.balances.each do |balance| %>
      <% currency = balance.currency %>
      <div
        id="<%= dom_id(currency) %>"
        class="<%= dom_class(currency) %> survey_currency checkbox"
      >
        <label>
          <%= currency_balance_checkbox(balance) %>
          <%= currency.name %>
        </label>

        <%= currency_balance_value_field(balance) %>
      </div>
    <% end %>
  </div>

  <%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>
