<% provide :title, "Balances" %>
<% provide :no_sidebar, true %>

<%= form_tag (params[:passenger]) do %>

  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="hpanel">
        <div class="panel-heading">
          <h1><%= @name.possessive.capitalize %> Existing Balances</h1>
        </div>

        <% if @survey.errors %>
          <div class="alert alert-danger">
            Could not save balances:

            <ul>
              <% @survey.errors.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div id="balances-survey-initial" class="panel-body">
          <p>
            We need to know <%= @name.possessive %> existing frequent flyer mile
            balances, if <%= @name.he_she %> <%= @name.has %> any, in order to give the best card
            recommendations.
          </p>

          <p><%= @name.does.capitalize %> <%= @name.name %> have any points balances greater than 5,000?</p>

          <div class="btn-group">
            <button id="balances-survey-initial-yes-btn" class="btn btn-primary">
              Yes
            </button>

            <button id="balances-survey-initial-no-btn" class="btn btn-default">
              No
            </button>
          </div>
        </div>

        <div id="balances-survey-confirm-no" class="panel-body" style="display:none;">
          <p>
            <%= @name.name.capitalize %> <%= @name.has %> no points balances greater than 5,000:
          </p>
          <div class="btn-group">
            <%= submit_tag "Confirm", class: "btn btn-primary" %>

            <button id="balances-survey-confirm-no-back-btn" class="btn btn-default">
              Back
            </button>
          </div>
        </div>

        <div id="balances-survey-main-header" class="panel-body" style="display:none;">
          <p>
            We recommend tracking <%= @name.possessive %> balances through
            <%= link_to "AwardWallet.com", "https://awardwallet.com", target: "_blank" %>.
            If <%= @name.name %> already <%= @name.has %> an AwardWallet account, please tell us what email
            address <%= @name.he_she %> used to sign up for it:
          </p>

          <div class="form-group">
            <%= email_field_tag(
              :balances_survey_award_wallet_email,
              @survey.award_wallet_email,
              placeholder: "#{@name.possessive.capitalize} login email for AwardWallet"
            ) %>
          </div><!-- .form-group -->

          <p>
            We are working on integrating our app with AwardWallet so that we
            can keep track of <%= @name.possessive %> loyalty points automatically. For now (or if <%= @name.name %>
            <%= @name.doesnt_have %> AwardWallet, please estimate (to the nearest 1,000)
            <b><%= @name.possessive %></b> current balances for the programs below.
          </p>

          <p>
            (<%= @name.name.capitalize %> can always edit <%= @name.his_hers %> balances, or add new ones, later - but the sooner
            and the more accurately we know <%= @name.possessive %> existing awards balances, the
            sooner we can help <%= @name.him_her %> save money on travel.)
          </p>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->

      <div id="balances-survey-main-body" class="hpanel" style="display:none;">
        <div class="panel-body">
          <div class="balances_survey">
            <h4>
              What type of points <%= @name.does %> <%= @name.name %> have?
            </h4>

            <% @survey.balances.each do |balance| %>
              <% currency = balance.currency %>
              <div
                id="<%= dom_id(currency) %>"
                class="<%= dom_class(currency) %> survey_currency"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="checkbox">
                      <label>
                        <%= currency_balance_checkbox(balance) %>
                        <%= currency.name %>
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <%= currency_balance_value_field(balance, @name) %>
                  </div>
                </div><!-- .row -->
              </div><!-- .survey_currency -->
            <% end %>
          </div><!-- .balances-survey -->
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div>
  </div>

  <div id="balances-survey-main-footer" style="display:none;">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <%= submit_tag "Submit", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

<% end %>
