<tr id="offer_<%= id %>" class="offer">
  <td><%= link_to_show(text: id) %></td>
  <td class="offer_card_name">
    <%= card_product_name %>
    (<%= card_product.bp[0].upcase %>)
  </td>
  <td><%= details %></td>
  <td><%= cost %></td>
  <td id="reviewed_<%= id %>">
    <%= last_reviewed_at %>
  </td>
  <td><%= unresolved_recs_count %></td>
  <td class="offer_verification_ctrls">
    <div class="btn-group">
      <%= verify_btn %>
      <%= kill_btn %>
    </div>
  </td>
  <td>
    <%= link_to_show(text: 'View') %> |
    <%= link_to_link %> |
    <%= link_to_edit %>
  </td>
</tr>
