<%= wrapping_div do %>
  <div class="col-xs-12 col-md-4">
    <%= aw_logo %>
    <%= currency_name %>

    <div class="balance_additional_info">
      <p class="balance_login">Login: <%= login %></p>
      <p class="balance_updated_at">Last update: <%= updated_at %></p>
    </div>

    <%= edit_btn %>
  </div>
  <div class="col-xs-6 col-md-5">
    <span class="balance_value lead">
      <%= formatted_balance %>
    </span>
  </div>
  <div class="col-xs-6 col-md-3">
  </div>
<% end %>
