<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Account Search</h1>
  </div>

  <div class="panel-body">
    <% if model.any? %>
      Showing <%= pluralize model.size, 'result' %> for '<%= query %>':
      <table
        id="admin_accounts_table"
        class="accounts table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>O?</th>
            <th>Email</th>
            <th>Owner</th>
            <th>Companion</th>
            <th>Phone number</th>
            <th>Signed up</th>
          </tr>
        </thead>
        <tbody id="admin_accounts_table_body">
          <%= table_rows %>
        </tbody>
      </table>

      <%= paginator %>
    <% else %>
      No results for '<%= query %>'
    <% end %>
  </div>
</div>
