<% provide :title, 'Phone Number' %>

<div class="row">
  <div class="hpanel col-xs-12 col-md-6 col-md-offset-3">
    <% if @form.errors.messages.any? %>
      <%= render "shared/error_message" do %>
        Error: Phone number
        <%= @form.errors.messages[:number].to_sentence %>.
        Please click the 'Skip' button if you do not wish to add a phone number.
      <% end %>
    <% end %>
    <div class="panel-body">
      <h2>What's your phone number?</h2>

      <hr />

      <%= form_for @form.model, url: phone_number_path do |f| %>
        <p class="help-block">
          <b>Why do we ask for your phone number?</b>
        </p>

        <p class="help-block">
          Our team of experts may reach out by text message with additional
          questions or clarifications. We will never send automated
          communications to your phone. If you receive a message, it will be
          from a real person, eager to help make your travel goals a reality.
        </p>

        <div class="form-group">
          <%= f.text_field :number, placeholder: "(xxx) xxx-xxxx" %>
        </div>

        <button class="btn btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save and continue
        </button>

        <%= link_to(
          "Skip",
          skip_phone_number_path,
          class: "btn skip-survey-btn",
          data: { method: :post }
        )
        %>
      <% end %>
    </div>
  </div>
</div>
