<div
  id="<%= dom_id(applied_card_account) %>"
  class="<%= dom_class(applied_card_account) %> row"
>

  <%= render "card_accounts/card", card_account: applied_card_account %>

  <%= link_to(
    "Apply",
    apply_card_recommendation_path(applied_card_account),
    id: "card_account_#{applied_card_account.id}_apply_btn",
    class: "CardApplyBtn card_account_apply_btn btn btn-primary btn-sm",
    target: "_blank"
  ) %>

  <% if false %>

  <div class="col-xs-12 col-md-4">
    <p>
      You indicated on <%= applied_card_account.applied_at.strftime("%D") %> that you
      had applied for this card.
    </p>

    <p>
      When you hear back from the bank, tell us whether or not you were
      approved for the card
    </p>

    <div
      data-react-component="CardAppliedActions"
    >
    </div>
  </div>
  <% end %>
</div><!-- .row -->

<hr>
