<%= present_div card_account, class: "row" do |card_account| %>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= card_account.card.image("130x81") %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <p>
      <b>Card Name:</b>
      <span class="card-account-card-name">
        <%= card_account.card.name %>
        (<%= card_account.card.network %>)
      </span>
    </p>

    <p>
      <b>Bank:</b>
      <span class="card-account-bank">
        <%= card_account.card.bank_name %>
      </span>
    </p>

    <% if card_account.offer.present? %>
      <div class="card_account_offer">
        <%= card_account.offer.description %>
      </div><!-- .card-account-offer -->
    <% end %>
  </div>

  <div class="col-xs-12 col-md-4">
    <% if card_account.recommended_at? %>
      <p><b>Recommended:</b> <%= card_account.recommended_at %></p>
    <% end %>
    <% if card_account.opened_at? %>
      <p><b>Opened:</b> <%= card_account.opened_at %></p>
    <% end %>
    <% if card_account.closed_at? %>
      <p><b>Closed:</b> <%= card_account.closed_at %></p>
    <% end %>
  </div>

  <div class="col-xs-12">
    <% if card_account.applyable? %>
      <br>
      <div class="card_recommendation_actions">
        <div class="btn-group" role="group" >
          <%= card_account.apply_btn %>
          <%= card_account.decline_btn %>
        </div>
      </div>

      <%= card_account.decline_form do %>
        <%# wrapper which will have field_with_errors class added %>
        <div class="decline_card_recommendation_error_message_wrapper">
          <%= card_account.decline_reason_field_tag %>
        </div>

        <div class="card_confirm_cancel_decline_btn_group btn-group">
          <%= card_account.cancel_decline_btn %>
          <%= card_account.confirm_decline_btn %>
        </div>

        <span
          class="decline_card_recommendation_error_message"
          style="display:none;"
          >
          Please include a message
        </span>
      <% end %>
    <% end %>
  </div>
<% end # div_for %>

<hr>
