<%= present_div card_account, class: "row" do |card_account| %>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= card_account.product.image("130x81") %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <p>
      <b>Card Name:</b>
      <span class="card-account-card-name">
        <%= card_account.product.name %>
        <% unless card_account.product.unknown_network? %>
          (<%= card_account.product.network %>)
        <% end %>
      </span>
    </p>

    <p>
      <b>Bank:</b>
      <span class="card-account-bank">
        <%= card_account.product.bank_name %>
      </span>
    </p>

    <% if card_account.offer.present? %>
      <div class="card_account_offer">
        <%= card_account.offer.description %>
      </div><!-- .product-account-offer -->
    <% end %>
  </div>

  <% if card_account.from_survey? %>
    <div class="col-xs-12 col-md-3">
      <% if card_account.opened_at? %>
        <p><b>Opened:</b> <%= card_account.opened_at %></p>
      <% end %>
      <% if card_account.closed_at? %>
        <p><b>Closed:</b> <%= card_account.closed_at %></p>
      <% end %>
    </div>
  <% end %>

  <% if card_account.from_survey? %>
    <div class="col-xs-12 col-md-1">
      <%= link_to "Edit", edit_card_account_path(card_account) %>
    </div>
  <% end %>

  <div class="col-xs-12">
    <br>

    <div
      data-react-component="CardApplicationSurvey"
      data-apply-path="<%= apply_card_recommendation_path(card_account) %>"
      data-decline-path="<%= decline_card_recommendation_path(card_account) %>"
      data-update-path="<%= card_recommendation_path(card_account) %>"
      data-card-account="<%= serialize(card_account) %>"
    ></div>
  </div>
<% end # div_for %>

<hr>
