<%= form_for @card_account, html: { class: "card_account_form" } do |f| %>

  <%= present_div @card_account.card, class: "row" do |card| %>
    <div class="col-xs-12 col-sm-6 col-md-2">
      <%= card.image("130x81")  %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>
        <span class="card-account-card-name">
          <%= card.name %>
          <% unless card.unknown_network? %>
            (<%= card.network %>)
          <% end %>
        </span>
      </p>

      <p>
        <span class="card-account-bank">
          <%= card.bank_name %>
        </span>
      </p>

      <%= present current_account do |account| %>
        <% if account.show_person_select? %>
          <%= f.label :person_id, "Who is the owner of the card?" %>
          <%= f.select(
              :person_id,
              options_for_person_select(account),
              {},
              class: ""
          ) %>
        <% else %>
          <%= f.hidden_field :person_id, value: account.eligible_person.id %>
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <label class="card-info-label">When did you open this card?</label>
        </div>

        <div class="col-md-12 col-lg-8">
          <%= f.select(
              :opened_year,
              options_for_cards_survey_year_select(without_wrapping: true),
              {},
              class: "cards_survey_select"
          ) %>

          <%= f.select(
              :opened_month,
              options_for_cards_survey_month_select(without_wrapping: true),
              {},
              class: "cards_survey_select"
          ) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-4">
          <label class="card-info-label">Is this account now closed?</label>
        </div>

        <div class=" col-md-12 col-lg-8">
          <%= f.check_box :closed, class: "cards_survey_card_account_closed input-lg" %>
        </div>
      </div>

      <div class="row card-survey-closed <%= @card_account.persisted? && @card_account.card_account.closed? ? "" : "hide" %>">
        <div class="col-md-12 col-lg-4">
          <label class="card-info-label card-survey-closed">When did you close this card?</label>
        </div>

        <div class="col-md-12 col-lg-8">
          <%= f.select(
              :closed_year,
              options_for_cards_survey_year_select(without_wrapping: true),
              {},
              class: "cards_survey_select"
          ) %>

          <%= f.select(
              :closed_month,
              options_for_cards_survey_month_select(without_wrapping: true),
              {},
              class: "cards_survey_select"
          ) %>
        </div>
      </div>
    </div>

  <% end%>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <% unless @card_account.persisted? %>
        <%= link_to "Back", choose_card_card_accounts_path, class: "btn btn-primary btn-lg" %>
      <% end %>
      <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
    </div>
  </div>

<% end %>
