<div
  id="<%= dom_id(recommendation) %>"
  class="<%= dom_class(recommendation) %> row"
>

  <%= render "card_accounts/card_information", card_account: recommendation %>

  <div class="col-xs-12 col-md-4">

    <div
      data-react-component="CardRecommendationActions"
      data-account-id="<%= recommendation.id %>"
      data-status="<%= recommendation.status %>"
      data-apply-path="<%= apply_card_account_path(recommendation) %>"
      data-decline-path="<%= decline_card_account_path(recommendation) %>"
    > </div>

    <% if false %>

    <% if recommendation.applyable? %>
      <%= card_account_apply_btn(recommendation) %>
    <% end %>

    <% if recommendation.applyable? %>
      <%= card_account_applied_btn(recommendation) %>
    <% end %>

    <% if recommendation.declinable? %>
      <%= card_account_decline_btn(recommendation) %>
    <% elsif recommendation.declined? %>
      <% if recommendation.declined_at.present? %>
        You indicated on <%= recommendation.declined_at.strftime("%D") %>
        that you do not wish to apply for this card.
      <% else %>
        You declined to apply for this card
      <% end %>
    <% end %>

    <div
      id="card_account_<%= recommendation.id %>_application_result_btns"
      style="display:none;"
    >
      <% if recommendation.acceptable? %>
        <%= card_account_accepted_btn(recommendation) %>
      <% end %>
      <% if recommendation.deniable? %>
        <%= card_account_deny_btn(recommendation) %>
      <% end %>
      <%= card_account_pending_btn(recommendation) %>
      <%= card_account_applied_back_btn(recommendation) %>
    </div>

    <div
      id="<%= dom_id(recommendation) %>_pending_notification"
      style="display:none;"
    >
      <%= t("card_accounts.index.application_pending") %>
    </div>
    <% end %>

    <%#= button_to "Decline", decline_card_account_path(recommendation), class: "btn-default" %>
  </div>

</div><!-- .row -->

<hr>
