<div class="card_recommendation_actions">
  <div class="btn-group" role="group" >
    <%= card_account.apply_btn %>
    <%= card_account.decline_btn %>
  </div>
</div>

<%= card_account.decline_form do %>
  <%# wrapper which will have field_with_errors class added %>
  <div class="decline_card_recommendation_error_message_wrapper">
    <%= card_account.decline_reason_field_tag %>
  </div>

  <div class="card_confirm_cancel_decline_btn_group btn-group">
    <%= card_account.cancel_decline_btn %>
    <%= card_account.confirm_decline_btn %>
  </div>

  <span
    class="decline_card_recommendation_error_message"
    style="display:none;"
  >
    Please include a message
  </span>
<% end %>
