<div
  id="<%= dom_id(recommended_card_account) %>"
  class="<%= dom_class(recommended_card_account) %> row"
>

  <%= render "card_accounts/card_information", card_account: recommended_card_account %>

  <div class="col-xs-12 col-md-4">

    <%= link_to(
      "Apply",
      apply_card_account_path(recommended_card_account),
      id: "card_account_#{recommended_card_account.id}_apply_btn",
      class: "CardApplyBtn card_account_apply_btn btn btn-primary btn-sm",
      target: "_blank"
    ) %>

    <% if false %>
    <div
      data-react-component="CardRecommendationActions"
      data-account-id="<%= recommended_card_account.id %>"
      data-status="<%= recommended_card_account.status %>"
      data-apply-path="<%= apply_card_account_path(recommended_card_account) %>"
      data-decline-path="<%= decline_card_account_path(recommended_card_account) %>"
    > </div>

    <% if recommended_card_account.applyable? %>
      <%= card_account_apply_btn(recommended_card_account) %>
    <% end %>

    <% if recommended_card_account.applyable? %>
      <%= card_account_applied_btn(recommended_card_account) %>
    <% end %>

    <% if recommended_card_account.declinable? %>
      <%= card_account_decline_btn(recommended_card_account) %>
    <% elsif recommended_card_account.declined? %>
      <% if recommended_card_account.declined_at.present? %>
        You indicated on <%= recommended_card_account.declined_at.strftime("%D") %>
        that you do not wish to apply for this card.
      <% else %>
        You declined to apply for this card
      <% end %>
    <% end %>

    <div
      id="card_account_<%= recommended_card_account.id %>_application_result_btns"
      style="display:none;"
    >
      <% if recommended_card_account.acceptable? %>
        <%= card_account_accepted_btn(recommended_card_account) %>
      <% end %>
      <% if recommended_card_account.deniable? %>
        <%= card_account_deny_btn(recommended_card_account) %>
      <% end %>
      <%= card_account_pending_btn(recommended_card_account) %>
      <%= card_account_applied_back_btn(recommended_card_account) %>
    </div>

    <div
      id="<%= dom_id(recommended_card_account) %>_pending_notification"
      style="display:none;"
    >
      <%= t("card_accounts.index.application_pending") %>
    </div>
    <% end %>

    <%#= button_to "Decline", decline_card_account_path(recommended_card_account), class: "btn-default" %>
  </div>

</div><!-- .row -->

<hr>
