<table id="admin_person_card_accounts" class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Bank</th>
    <th>B/P</th>
    <th>Status</th>
    <th>Recommended</th>
    <th>Applied</th>
    <th>Opened</th>
    <th>Closed</th>
  </thead>
  <tbody>
    <% present_each accounts do |account| %>
      <tr id="<%= dom_id(account) %>">
        <td><%= account.card_identifier %></td>
        <td><%= account.card_name %></td>
        <td><%= account.card_bank_name %></td>
        <td><%= account.card_bp.to_s.capitalize %></td>
        <td class="card_account_status">
          <%= account.status.humanize %>
        </td>
        <td class="card_account_recommended_at">
          <%= account.recommended_at.try(:strftime, "%b %Y") || "-" %>
        </td>
        <td class="card_account_applied_at">
          <%= account.applied_at.try(:strftime, "%b %Y") || "-" %>
        </td>
        <td class="card_account_opened_at">
          <%= account.opened_at.try(:strftime, "%b %Y") || "-" %>
        </td>
        <td class="card_account_closed_at">
          <%= account.closed_at.try(:strftime, "%b %Y") || "-" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
