<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h1>Apply for <%= @card.bank_name %> <%= @card.name %> card</h1>

    <p>
      You will shortly be redirected to the application page for the
      <%= @card.name %> card
    </p>

    <p>
      Once you have applied for the card, be sure to come back to Abroaders.com and
      tell us whether or not the bank accepted your application.
    </p>

    <p>
      If you are not redirected within 10 seconds,
      <%= link_to "click here", @recommendation.offer.link %>
    </p>

    <script type="text/javascript">
      window.setTimeout(function () {
        window.location = "<%= @recommendation.offer.link %>";
      }, 5000);
    </script>
  </div>
</div>
