<% provide :title, "Edit Card" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h1>Edit Card</h1>
      </div>
    </div><!-- .row -->
  </div>

  <div class="panel-body">
    <%= form_for @card_account, html: { class: "edit_card_account" } do |f| %>
      <%= present_div @card_account.card_account, class: "row" do |card_account| %>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <%= card_account.card.image("130x81")  %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <p>
            <span class="card-account-card-name">
              <%= card_account.card.name %>
              <% unless card_account.card.unknown_network? %>
                (<%= card_account.card.network %>)
              <% end %>
            </span>
          </p>

          <p>
            <span class="card-account-bank">
              <%= card_account.card.bank_name %>
            </span>
          </p>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="row">
            <div class="col-md-12 col-lg-4">
              <label class="card-info-label">When did you open this card?</label>
            </div>

            <div class="col-md-12 col-lg-8">
              <%= f.select(
                :opened_year,
                options_for_cards_survey_year_select(without_wrapping: true),
                {},
                class: "cards_survey_select"
              ) %>

              <%= f.select(
                :opened_month,
                options_for_cards_survey_month_select(without_wrapping: true),
                {},
                class: "cards_survey_select"
              ) %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-4">
              <label class="card-info-label">Is this account now closed?</label>
            </div>

            <div class=" col-md-12 col-lg-8">
              <%= f.check_box :closed, class: "cards_survey_card_account_closed input-lg" %>
            </div>
          </div>

          <div class="row card-survey-closed <%= card_account.closed? ? "" : "hide" %>">
            <div class="col-md-12 col-lg-4">
              <label class="card-info-label card-survey-closed">When did you close this card?</label>
            </div>

            <div class="col-md-12 col-lg-8">
              <%= f.select(
                :closed_year,
                options_for_cards_survey_year_select(without_wrapping: true),
                {},
                class: "cards_survey_select"
              ) %>

              <%= f.select(
                :closed_month,
                options_for_cards_survey_month_select(without_wrapping: true),
                {},
                class: "cards_survey_select"
              ) %>
            </div>
          </div>
        </div>
      <% end %>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
