<% provide :title, "Your Cards" %>

<% present(current_account, CardAccountsPresenter) do |page| %>
  <% content_for :header_panel do %>
    <div class="panel-body">
      <h1 class="font-light m-b-xs">
        Your Cards
      </h1>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          <h2>Card Recommendations</h2>
        </div><!-- panel-heading -->

        <div class="panel-body">
          <% if page.card_recommendations.any? %>
            <div id="card_recommendations">
              <div id="main_person_card_recommendations">
                <% if has_companion? %>
                  <h3><%= page.main_person.subheading %></h3>
                <% end %>

                <% if page.main_person.recommendations.any? %>
                  <%= render page.main_person.recommendations %>
                <% else %>
                  No recommendations for <%= page.main_person.first_name %>
                <% end %>
              </div>

              <% if has_companion? %>
                <div id="partner_card_recommendations">
                  <h3><%= page.partner.subheading %></h3>

                  <% if page.partner.recommendations.any? %>
                    <%= render page.partner.recommendations %>
                  <% else %>
                    No recommendations for <%= page.partner.first_name %>
                  <% end %>
                </div>
              <% end # has_companion? %>
            </div><!-- #card_recommendations -->
          <% else %>
            <div class="alert alert-info">
              The Abroaders team is hand selecting the ideal rewards cards based on
              your current points, travel plans and spending. We’ll let you know as
              soon as the card recommendations are ready to view.
            </div>
          <% end %>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div><!-- .col-xs-12 -->
  </div><!-- .row -->

  <% if page.card_accounts_from_survey.any? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="hpanel">
          <div class="panel-heading hbuilt">
            <h2>Other Cards</h2>
            <p>You told us when you signed up that you already had these cards:</p>
          </div>

          <div class="panel-body">
            <div id="card_accounts_from_survey">
              <div id="main_person_card_accounts_from_survey">
                <% if has_companion? %>
                  <h3><%= page.main_person.subheading %></h3>
                <% end %>
                <% if page.main_person.card_accounts_from_survey.any? %>
                  <%= render page.main_person.card_accounts_from_survey %>
                <% else %>
                  <p><%= page.main_person.no_card_accounts_from_survey %></p>
                <% end %>
              </div>

              <% if has_companion? %>
                <div id="partner_card_accounts_from_survey">
                  <h3><%= page.partner.subheading %></h3>
                  <% if page.partner.card_accounts_from_survey.any? %>
                    <%= render page.partner.card_accounts_from_survey %>
                  <% else %>
                    <p><%= page.partner.no_card_accounts_from_survey %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div><!-- .panel-body -->
        </div>
      </div>
    </div>
  <% end %>
<% end # present %>
