<% provide :title, "Your Cards" %>

<h2>Card Recommendations</h2>

<div id="card_recommendations">
  <%= render @person.card_recommendations %>
</div>

<% if false %>
<h1>Your Cards</h1>

<% if (@recommended_card_accounts + @applied_card_accounts).any? %>

  <h2><%= current_main_passenger.first_name %>'s Card Recommendations</h2>

  <div id="recommended_card_accounts">
    <%= render @recommended_card_accounts %>
    <%= render @applied_card_accounts %>
  </div><!-- #recommended_card_accounts -->
<% else %>
  Thanks for signing up to Abroaders! You will shortly receive your
  first card recommendation
<% end %>

<% if has_companion? && (@p_recommended_card_accounts + @p_applied_card_accounts).any? %>

  <h2><%= current_companion.first_name %>'s Card Recommendations</h2>

  <div id="recommended_card_accounts">
    <%= render @p_recommended_card_accounts %>
    <%= render @p_applied_card_accounts %>
  </div><!-- #recommended_card_accounts -->
<% end %>
<% end %>

<% if @person.added_cards_in_survey? %>
  <div id="card_accounts_from_survey">
    <h2>Other Cards</h2>

    <p>You told us when you signed up that you already had these cards:</p>

    <%= render @person.card_accounts_from_survey %>
  </div>
<% end %>
<% if false %>

<% if @applied_card_accounts.any? %>
  <div id="applied_card_accounts">
  </div>
<% end %>

<% if @unknown_card_accounts.any? %>

  <div id="unknown_card_accounts">
    <%= render @unknown_card_accounts %>
  </div>
<% end %>

<% if false && @other_card_accounts.any? %>
  <!-- ??? <h2>Other Cards</h2> -->

  <!-- this is really just a placeholder for now until we've got a system
  set up that handles cards of every status -->
  <div id="other_card_accounts">
    <%= render @other_card_accounts, partial: "card_accounts/card_account" %>
  </div><!-- #other_card_accounts -->
<% end %>
<% end %>
