<% provide :title, "Your Cards" %>

<% content_for :header_panel do %>
  <div class="panel-body">
    <h1 class="font-light m-b-xs">
      Your Cards
    </h1>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="hpanel">
      <div class="panel-heading hbuilt">
        <h2>Card Recommendations</h2>
      </div><!-- panel-heading -->

      <div class="panel-body">
        <% if @recommendation_notes.any? %>
          <h3>Notes</h3>

          <p><%= @recommendation_notes.last.content %></p>
          <hr>
        <% end %>

        <% if @card_recommendations.any? %>
          <div id="card_recommendations">
            <% @people.each do |person| %>
              <div id="<%= person.type %>_card_recommendations">
                <% if @people.many? %>
                  <h3><%= card_accounts_index_subheader(person) %></h3>
                <% end %>

                <% card_recs = @card_recommendations.where(person: person) %>
                <% if card_recs.any? %>
                  <%= render card_recs %>
                <% else %>
                  No recommendations for <%= person.first_name %>
                <% end %>
              </div><!-- #<%= person.type %>_card_recommendations -->
            <% end %>
          </div><!-- #card_recommendations -->
        <% else %>
          <div class="alert alert-info">
            The Abroaders team is hand selecting the ideal rewards cards
            based on your current points, travel plans and spending. We’ll
            let you know as soon as the card recommendations are ready to
            view.
          </div>
        <% end %>
      </div><!-- .panel-body -->
    </div><!-- .hpanel -->
  </div><!-- .col-xs-12 -->
</div><!-- .row -->

<% if @card_accounts_from_survey.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          <h2>Other Cards</h2>
          <p>You told us when you signed up that you already had these cards:</p>
        </div>

        <div class="panel-body">
          <div id="card_accounts_from_survey">
            <% @people.each do |person| %>
              <div id="<%= person.type %>_card_accounts_from_survey">
                <% if @people.many? %>
                  <h3><%= card_accounts_index_subheader(person) %></h3>
                <% end %>

                <% survey_cards = @card_accounts_from_survey.where(person: person) %>
                <% if survey_cards.any? %>
                  <%= render survey_cards %>
                <% else %>
                  <p><%= person.first_name %> has no other cards</p>
                <% end %>
              </div><!-- #<%= person.type %>_card_accounts_from_survey -->
            <% end %>
          </div>
        </div><!-- .panel-body -->
      </div>
    </div>
  </div>
<% end %>
