<h1>Your Cards</h1>

<p>Before we can recommend you a credit card to apply for, we need to
  know which cards you already have.</p>

<p>Please select <strong>all</strong> of the credit/debit cards below for which you have been the <strong>primary cardholder in the past 24 months</strong>.</p>

<p>
  For this question, you <strong>should</strong> include:
  <ul>
    <li>Accounts that are currently open.</li>
    <li>
      Accounts that were opened in the last 24 months, but are now closed.
    </li>
    <li>
      Accounts that were opened in the last 24 months, but have been changed
      into another type of card.
    </li>
  </ul>
</p>

<p>
  Please <strong>do not</strong> include:  
  <ul>
    <li>
      Cards for which you were not the primary cardholder.
      <br />
      <i>
        Example: Your spouse added you as an additional cardholder on his or
        her account.
      </i>
    </li>
    <li>
      Any card you opened more than 24 months ago that is not currently open.
      <br />
      <i>
        Example: You opened a card 3 years ago, and you closed the account
        yesterday.
      </i>
    </li>
  </ul>
</p>

<% @grouped_cards.each do |bank, cards_grouped_by_bp| %>
  <% cards_grouped_by_bp.each do |bp, cards| %>
    <h3><%= cards.first.bank_name %> <%= bp.capitalize %> Cards</h3>

    <% cards.each do |card| %>
      <div class="checkbox">
        <%= check_box_tag card.id %>
        <%= image_tag "card-placeholder-img.png", size: "170x107" %>

        <%= card.name %>
      </div>
    <% end %>

  <% end %>
<% end %>
