<% provide :title, "Survey - Cards" %>
<% provide :no_sidebar, true %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= @name.possessive.capitalize %> Cards</h1>
      </div>
    </div><!-- .row -->
  </div><!-- .panel-heading.hbuilt -->

  <div id="card-survey-initial" class="panel-body">
    <p>
      Before we can recommend <%= @name.name %> a credit card to apply
      for, we need to know which cards <%= @name.he_she %> already <%= @name.has %>.
    </p>

    <p><%= @name.has.capitalize %> <%= @name.name %> ever had a credit card that earns points or miles?</p>

    <p>
      For example, a card that earns airline frequent flyer miles when <%= @name.name %> use
      it. Or bank points, like Amex, Chase, SPG, Citi, or Capital one.
    </p>

    <div class="btn-group">
      <button id="card-survey-initial-yes-btn" class="btn btn-primary">
        Yes
      </button>

      <button id="card-survey-initial-no-btn" class="btn btn-default">
        No
      </button>
    </div>
  </div>

  <div id="card-survey-confirm-no" class="panel-body" style="display:none;">
    <p><%= @name.name.capitalize %> <%= @name.has %> never had a card that earns points or miles:</p>

    <%= form_tag survey_person_card_accounts_path(@person) do %>
      <div class="btn-group">
        <%= submit_tag "Confirm", class: "btn btn-primary" %>
        <button id="card-survey-confirm-no-back-btn" class="btn btn-default">
          Back
        </button>
      </div>
    <% end %>
  </div>

  <div id="card-survey-main-header" style="display:none;" class="panel-body">
    <p>
      Please select <strong>all</strong> of the credit/debit cards below for
      which <%= @name.name %> <%= @name.has %> <strong>ever</strong> been the
      <strong>primary cardholder</strong>.
    </p>

    <p>
      "Primary cardholder" means that the credit card account was opened using
      <%= @name.possessive %> name and social security number. <%= @name.he_she.capitalize %> <%= @name.is %> not considered a primary
      cardholder of a card if someone else adds <%= @name.him_her %> as an authorized user on
      their account.
    </p>

    <p>
      <strong>Only</strong> select cards for which <%= @name.name %>
      <%= @name.is %> or was the primary cardholder.
    </p>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<div id="card-survey-main-body" style="display:none;">
  <%= form_tag survey_person_card_accounts_path(@person) do |f| %>
    <% @survey.each_section do |bank, cards_grouped_by_bp| %>
      <div id="<%= bank.to_param %>_cards">
        <% cards_grouped_by_bp.each do |bp, cards| %>
          <div id="<%= bank.to_param %>_<%= bp %>_cards">
            <h2><%= bank.name %> <%= bp.capitalize %> Cards</h2>

            <div class="row">
              <%= render partial: "card_accounts/survey_card", collection: cards %>
            </div>
          </div><!-- #cards_onboarding_<%= bank.to_param %>_<%= bp %> -->
        <% end # cards_for_1_bank.group_by(&:bp).each %>
      </div><!-- #cards_onboarding_<%= bank.to_param %> -->
    <% end # @cards.group_by(&:bank).each %>

    <div class="row">
      <div class="col-xs-12">
        <%= submit_tag "Submit", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
</div>
