<% provide :title, "Survey - Cards" %>
<% provide :no_sidebar, true %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1><%= @person.first_name %>'s Cards</h1>

    <p>
      Before we can recommend <%= @person.first_name %> a credit card to apply
      for, we need to know which cards he/she already has.
    </p>

    <p>
      Please select <strong>all</strong> of the credit/debit cards below for
      which <%= @person.first_name %> has <strong>ever</strong> been the
      <strong>primary cardholder</strong>.
    </p>

    <p>
      Primary cardholder means that the credit card account was opened using
      your name and social security number. You are not considered a primary
      cardholder of a card if someone else adds you as an authorized user on
      their account.
    </p>

    <p>
      <strong>Only</strong> select cards for which <%= @person.first_name %>
      is or was the primary cardholder.
    </p>

    <%= form_tag survey_person_card_accounts_path(@person) do |f| %>
      <% @survey.each_section do |bank, cards_grouped_by_bp| %>
        <div id="<%= bank.to_param %>_cards">
          <% cards_grouped_by_bp.each do |bp, cards| %>
            <div id="<%= bank.to_param %>_<%= bp %>_cards">
              <h3><%= bank.name %> <%= bp.capitalize %> Cards</h3>

              <div class="row">
                <%= render partial: "card_accounts/survey_card", collection: cards %>
              </div>
            </div><!-- #cards_onboarding_<%= bank.to_param %>_<%= bp %> -->
          <% end # cards_for_1_bank.group_by(&:bp).each %>
        </div><!-- #cards_onboarding_<%= bank.to_param %> -->
      <% end # @cards.group_by(&:bank).each %>

      <%= submit_tag "Save", class: "btn btn-primary", style: "margin-left: -15px" %>
    <% end %>
  </div>
</div>
