<% provide :title, "Survey - Cards" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= n "Your", @person %> Cards</h1>
      </div>
    </div><!-- .row -->
  </div><!-- .panel-heading.hbuilt -->

  <div id="card-survey-initial" class="panel-body">
    <p>
      Before we can recommend <%= n "you", @person %> a credit card to apply
      for, we need to know which cards <%= n "you", @person %> already
      <%= n "have", @person %>.
    </p>

    <p>
      <%= n "Have", @person %> <%= n "you", @person %>
      ever had a credit card that earns points or miles?
    </p>

    <p>
      For example, a card that earns airline frequent flyer miles when you use
      it. Or bank points, like Amex, Chase, SPG, Citi, or Capital one.
    </p>

    <div class="btn-group">
      <button id="card-survey-initial-yes-btn" class="btn btn-primary">
        Yes
      </button>

      <button id="card-survey-initial-no-btn" class="btn btn-default">
        No
      </button>
    </div>
  </div>

  <div id="card-survey-confirm-no" class="panel-body" style="display:none;">
    <p>
      <%= n "You", @person %> <%= n "have", @person %> never had a card that
      earns points or miles:
    </p>

    <%= form_tag survey_person_card_accounts_path(@person) do %>
      <div class="btn-group">
        <%= submit_tag "Confirm", class: "btn btn-primary" %>
        <button id="card-survey-confirm-no-back-btn" class="btn btn-default">
          Back
        </button>
      </div>
    <% end %>
  </div>

  <div id="card-survey-main-header" style="display:none;" class="panel-body">
    <p>
      Please select <strong>all</strong> of the credit/debit cards below for
      which <%= n "you", @person %> <%= n "have", @person %>
      <strong>ever</strong> been the <strong>primary cardholder</strong>.
    </p>

    <p>
      "Primary cardholder" means that the credit card account was opened using
      your name and social security number. You are not considered a primary
      cardholder of a card if someone else adds you as an authorized user on
      their account.
    </p>

    <p>
      <strong>Only</strong> select cards for which <%= n "you", @person %>
      <%= n "are", @person %> or <%= n "were", @person %> the primary cardholder.
    </p>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<div id="card-survey-main-body" class="card-survey-form-wrapper" style="display:none;">
  <%= form_tag survey_person_card_accounts_path(@person) do %>
    <p class="helper-message">Click a bank's name to see the list of cards for that bank</p>
    <% @survey.each_section do |bank, cards_grouped_by_bp| %>

      <div class="bank-section">

        <div class="collapse-header">
          <a data-toggle="collapse" href="#bank-collapse-<%= bank.id %>">
            <h2><%= bank.name.upcase %></h2>
          </a>
          <i class="fa fa-sort-desc collapse-header" aria-hidden="true"></i>
        </div>

        <div id="bank-collapse-<%= bank.id %>" class="panel-collapse collapse">
          <div id="bank_<%= bank.id %>_cards">

            <% cards_grouped_by_bp.each do |bp, cards| %>
              <div id="bank_<%= bank.id %>_<%= bp %>_cards">
                <h4><%= bp.capitalize %> Cards</h4>
                <div class="row">
                  <%= render partial: "card_accounts/survey_card", collection: cards %>
                </div>
              </div>
            <% end # cards_for_1_bank.group_by(&:bp).each %>

          </div>
        </div>
      </div>

    <% end # @cards.group_by(&:bank).each %>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-lg btn-primary">
          <i class="fa fa-check" aria-hidden="true"></i>
          Save and continue
        </button>
      </div>
    </div>
  <% end %>
</div>
