<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1>Your Cards</h1>

    <p>Before we can recommend you a credit card to apply for, we need to
      know which cards you already have.</p>

    <p>Please select <strong>all</strong> of the credit/debit cards below for which you have been the <strong>primary cardholder in the past 24 months</strong>.</p>

    <p>
      For this question, you <strong>should</strong> include:
      <ul>
        <li>Accounts that are currently open.</li>
        <li>
          Accounts that were opened in the last 24 months, but are now closed.
        </li>
        <li>
          Accounts that were opened in the last 24 months, but have been changed
          into another type of card.
        </li>
      </ul>
    </p>

    <p>
      Please <strong>do not</strong> include:
      <ul>
        <li>
          Cards for which you were not the primary cardholder.
          <br />
          <i>
            Example: Your spouse added you as an additional cardholder on his or
            her account.
          </i>
        </li>
        <li>
          Any card you opened more than 24 months ago that is not currently open.
          <br />
          <i>
            Example: You opened a card 3 years ago, and you closed the account
            yesterday.
          </i>
        </li>
      </ul>
    </p>

    <%= form_tag survey_cards_path do %>
      <% @cards.group_by(&:bank).each do |bank, cards_for_1_bank| %>

        <div id="<%= bank %>_cards">

          <% cards_for_1_bank.group_by(&:bp).each do |bp, cards| %>

            <div id="<%= bank %>_<%= bp %>_cards">
              <h3><%= cards.first.bank_name %> <%= bp.capitalize %> Cards</h3>

              <div class="row">

                <%= collection_check_boxes :card_account, :card_ids, cards,
                                                          :id, :name do |cb| %>
                  <div class="card-survey-checkbox">
                    <%= card_image_tag(cb.object) %>
                    <div>
                      <%= cb.check_box %>
                      &nbsp;
                      <%= cb.label %>
                    </div>
                  </div>

                <% end %>

              </div><!-- .row -->
            </div><!-- #cards_onboarding_<%= bank %>_<%= bp %> -->

          <% end # cards_for_1_bank.group_by(&:bp).each %>

        </div><!-- #cards_onboarding_<%= bank %> -->

      <% end # @cards.group_by(&:bank).each %>

      <%= submit_tag "Save", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
