<div class="row">
  <div class="hpanel <%= col_classes %>">
    <div class="panel-heading hbuilt text-center">
      <h1>Spending Information</h1>
    </div>

    <div class="panel-body">
      <%= form_for form, url: survey_spending_info_path do |f| %>
        <div class="row">
          <%= credit_score_form_groups(f) %>

          <%= monthly_spending_form_group(f) %>

          <%= business_spending_form_groups(f) %>

          <div class="clearfix"></div>

          <%= will_apply_for_loan_form_groups(f) %>

          <div class="col-xs-12">
            <hr style="marginTop: 0" />

            <button class="btn btn-primary btn-lg">
              <%= fa_icon :check %>
              Save and continue
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
