<table class="table table-condensed">
  <tbody>
    <%= personal_spending %>

    <%= business_spending %>

    <tr>
      <td>Credit score:</td>
      <td><%= credit_score %></td>
    </tr>

    <tr>
      <td>Will apply for loan in next 6 months:</td>
      <td><%= will_apply_for_loan %></td>
    </tr>

    <% if show_eligibility %>
      <tr>
        <td>Eligible to apply:</td>
        <td><%= eligibility %></td>
      </tr>

      <tr>
        <td>Ready to apply:</td>
        <td><%= readiness %></td>
      </tr>
    <% end %>
  </tbody>
</table>
