<% attr_prefix = main ? :main_passenger : :companion %>

<p class="help-block">
  <% if main %>
    Please add your name as it appears on your passport
  <% else %>
    Please add your travel companion's name as it appears on his/her passport
  <% end %>
</p>

<div class="row">
  <div class="form-group col-xs-12 col-md-4 required">
    <%= f.label "#{attr_prefix}_first_name" %>
    <%= f.text_field "#{attr_prefix}_first_name" %>
  </div>

  <div class="form-group col-xs-12 col-md-4">
    <%= f.label "#{attr_prefix}_middle_names" %>
    <%= f.text_field "#{attr_prefix}_middle_names" %>
  </div>

  <div class="form-group col-xs-12 col-md-4 required">
    <%= f.label "#{attr_prefix}_last_name" %>
    <%= f.text_field "#{attr_prefix}_last_name" %>
  </div>
</div>

<% if main %>
  <p>
    You signed up with the email address
    <b><%= current_account.email %></b>
  </p>
<% end %>

<div class="form-group required">
  <%= f.label "#{attr_prefix}_phone_number" %>
  <%= f.text_field "#{attr_prefix}_phone_number" %>
</div>

<p class="help-block">
  <% if main %>
    Which of the following are you capable of receiving at this number?
  <% else %>
    Which of the following is your travel companion capable of receiving at
    this number?
  <% end %>
</p>

<div class="form-inline">
  <div class="checkbox">
    <%= f.label "#{attr_prefix}_text_message" do %>
      <%= f.check_box "#{attr_prefix}_text_message" %>
      Text Message
    <% end %>
  </div>
  &nbsp;
  <div class="checkbox">
    <%= f.label "#{attr_prefix}_whatsapp" do %>
      <%= f.check_box "#{attr_prefix}_whatsapp" %>
      WhatsApp
    <% end %>
  </div>
  &nbsp;
  <div class="checkbox">
    <%= f.label "#{attr_prefix}_imessage" do %>
      <%= f.check_box "#{attr_prefix}_imessage" %>
      iMessage
    <% end %>
  </div>
</div>

<% if main %>
  <p class="help-block">
    (Texts can be extremely valuable when we need to contact you
    quickly—like if your itinerary is changed or canceled last minute by
    the airline. By checking the box, you consent to being contacted in this
    way.)
  </p>
<% end %>
