<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= passenger.full_name %>

      <% if local_assigns[:subtitle] %>
        - <%= subtitle %>
      <% end %>
    </h1>

    <p>Account created on <%= passenger.signed_up.strftime("%D") %></p>
  </div>

  <%= render "passengers/info", passenger: passenger %>

  <% if passenger.has_added_spending? %>
    <%= render "passengers/spending_info", passenger: passenger %>
  <% end %>
</div>
