<div class="passenger-spending-info-fields">
  <div class="form-group required">
    <%= f.label :credit_score %>

    <p class="help-block">
      Your credit score should be a number between
      <%= Passenger::MINIMUM_CREDIT_SCORE %> and
      <%= Passenger::MAXIMUM_CREDIT_SCORE %>
    </p>

    <%= f.number_field :credit_score %>
  </div>

  <div class="form-group">
    <%= f.label :will_apply_for_loan %>
    <div class="radio">
      <label>
        <%= f.radio_button(
              :will_apply_for_loan,
              true,
              checked: f.object.will_apply_for_loan
            ) %>
        Yes
      </label>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button(
              :will_apply_for_loan,
              false,
              checked: !f.object.will_apply_for_loan
            ) %>
        No
      </label>
    </div>
  </div>

  <div class="form-group required">
    <%= f.label :personal_spending %>

    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :personal_spending %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_business %>

    <% Passenger.has_businesses.each do |name, _| %>
      <div class="radio">
        <label>
          <%= f.radio_button(
                :has_business,
                name,
                checked: f.object.has_business == name
              ) %>
          <%= t("activerecord.attributes.survey.has_businesses.#{name}") %>
        </label>
      </div>
    <% end %>
  </div>

  <div
    class="business_spending_form_group form-group required"
    style="display:none"
  >
    <%= f.label :business_spending %>

    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :business_spending %>
    </div>
  </div>
</div>
