<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 class="text-center">
     <strong>Card Recommendations</strong>
    </h1>

    <p class="text-center" style="font-weight: 200">
      <em>Hand-picked by a travel expert.  <%= link_to_our_process_modal %></em>
    </p>
  </div><!-- panel-heading -->

  <div id="card_recommendations" class="panel-body">
    <div class="row">
      <% if recommendation_note? %>
        <div class="col-xs-12 col-sm-6">
          <%= note %>
        </div><!-- .col-xs-12.col-sm-6 recommendation note -->
      <% end %>

      <div class="col-xs-12 <%= 'col-sm-6' if recommendation_note? %>">
        <%= card_recommendations_for_each_person %>
      </div><!-- .col-xs-12(.col-sm-6) recs for each person -->

      <div class="clearfix">
      </div>
    </div>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<%= our_process_modal %>
