<div class="hpanel">
  <div class="panel-heading" style="background: #35a7ff; padding-top: 25px;">
    <h2 class="lead text-center" style="color: #ffffff;">
      <%= fa_icon 'pencil' %>
      Expert Notes
    </h2>
  </div>

  <div class="panel-body" style="background: #ffffff; color: grey;">
    <%= headshot %>
    <p class="text-center">
      <em>
        Travel expert <%= admin_first_name %>,
        <%= link_to_see_bio %>
      </em>
    </p>

    <blockquote>
      <%= content %>

      <small>
        <strong><%= admin_full_name %></strong>, <%= admin_job_title %>
        <cite title="" data-original-title="">
          Abroaders <strong><%= timestamp %></strong>
        </cite>
      </small>
    </blockquote>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<%= bio_modal %>
