<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= image %>
  </div>

  <div class="col-xs-12 col-md-8">
    <p class="text-left" style="font-size: 18px; padding-top: 10px;">
      <%= product_name %>
    </p>
  </div>
  <br>

  <div class="col-xs-12 col-md-12">
    <br>
    <p><%= offer_description %></p>
    <%= offer_user_notes %>

    <% unless model.applied? %>
      <div class="card_recommendation_apply_decline_btn_group btn-group">
        <%= find_card_btn %>
        <%= decline_btn %>
      </div>

      <%= decline_form %>

      <br />
      <br />
    <% end %>

    <div
      data-react-component="CardApplicationSurvey"
      data-update-path="<%= card_recommendation_path(model) %>"
      data-card-account="<%= rec_as_json %>"
      >
    </div>
  </div><!-- col-md-12 -->
</div>
