<div id="card_recommendation_<%= id %>" class="btn-group card_recommendation row">
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= image %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <p>
      <b>Card Name:</b>
      <span class="card-account-card-name">
        <%= product_name %>
      </span>
    </p>

    <p>
      <b>Bank:</b>
      <span class="card-account-bank">
        <%= bank_name %>
      </span>
    </p>

    <div class="card_offer">
      <%= offer_description %>
    </div><!-- .product-account-offer -->
  </div>

  <div class="col-xs-12">
    <br>

    <% if model.applied_at.nil? %>
      <div class="card_recommendation_apply_decline_btn_group btn-group">
        <%= apply_btn %>
        <%= decline_btn %>
      </div>

      <%= decline_form %>

      <br />
      <br />
    <% end %>

    <div
      data-react-component="CardApplicationSurvey"
      data-update-path="<%= card_recommendation_path(rec) %>"
      data-card-account="<%= rec_as_json %>"
    ></div>
  </div>
</div>

<hr>
