<tr id="offer_<%= id %>">
  <td><%= id_with_link_to_show %></td>
  <td><%= partner %></td>
  <td><%= value %></td>
  <td><%= conditions %></td>
  <td><%= cost %></td>
  <td><%= last_reviewed_at %></td>
  <td><%= link_to_url %></td>
  <td><%= unresolved_recs_count %></td>
</tr>
