<div id="header">
  <div id="logo" class="<%= logo_html_classes %>">
    <%= link_to root_path do %>
      <%= logo_image_tag %>
    <% end %>
  </div>

  <nav role="navigation">
    <%= bars %>

    <%= small_logo %>

    <%= search_form %>

    <div class="mobile-menu">
      <button
        type="button"
        class="navbar-toggle mobile-menu-toggle"
        data-toggle="collapse"
        data-target="#mobile-collapse"
      >
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <%= mobile_links %>
        </ul>
      </div>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <%= username_tag %>
        <%= links %>
      </ul>
    </div>
  </nav>
</div>
