<table id="admin_person_card_recommendations" class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Recommended</th>
    <th>Clicked</th>
    <th>Applied</th>
    <th>Denied</th>
    <th>Declined</th>
    <th>Opened</th>
  </thead>
  <tbody>
    <% present_each card_accounts do |card_account| %>
      <%= content_tag_for :tr, card_account do %>
        <td><%= card_account.card_identifier %></td>
        <td><%= card_account.card_name %></td>
        <td class="card_account_status">
          <%= card_account.status %>
          <% if card_account.declined? %>
            <a href="#" data-toggle="tooltip" title="<%= card_account.decline_reason %>">
              <%= fa_icon "question" %>
            </a>
          <% end %>
        </td>
        <td class="card_account_recommended_at">
          <%= card_account.recommended_at || "-" %>
        </td>
        <td class="card_account_clicked_at">
          <%= card_account.clicked_at || "-" %>
        </td>
        <td class="card_account_applied_at">
          <%= card_account.applied_at || "-" %>
        </td>
        <td class="card_account_denied_at">
          <%= card_account.denied_at || "-" %>
        </td>
        <td class="card_account_declined_at">
          <%= card_account.declined_at || "-" %>
        </td>
        <td class="card_account_opened_at">
          <%= card_account.opened_at || "-" %>
        </td>
      <% end # content_tag_for %>
    <% end %>
  </tbody>
</table>
