<% provide :title, "Card Offer ##{@card_offer.id}" %>

<h1>Card Offer #<%= @card_offer.id %></h1>

<dl class="dl-horizontal">
  <dt>Card:</dt>
  <dd><%= @card_offer.card_name %></dd>

  <dt>Condition:</dt>
  <dd><%= @card_offer.condition.humanize %></dd>

  <dt>Bank:</dt>
  <dd><%= @card_offer.bank_name %></dd>

  <dt>Points awarded:</dt>
  <dd><%= @card_offer.points_awarded %></dd>

  <% if @card_offer.on_minimum_spend? %>
    <dt>Spend:</dt>
    <dd><%= number_to_currency @card_offer.spend %></dd>
  <% end %>

  <dt>Cost:</dt>
  <dd><%= number_to_currency @card_offer.cost %></dd>

  <% unless @card_offer.on_approval? %>
    <dt>Days:</dt>
    <dd><%= @card_offer.days %></dd>
  <% end %>

  <dt>Link:</dt>
  <dd><%= link_to @card_offer.link, @card_offer.link %></dd>

  <dt>Live:</dt>
  <dd><%= @card_offer.live ? "Yes" : "No" %></dd>

</dl>

<%= link_to "Back", admin_card_offers_path %> |
<%= link_to "Edit", edit_admin_card_offer_path(@card_offer) %>
