<%= render "shared/hpanel", responsive: true do %>
  <div class="panel-body">
    <h1>Apply for <%= @card.bank_name %> <%= @card.name %> card</h1>

    <hr>

    <p>
      You will shortly be redirected to the application page for the
      <%= @card.name %> card
    </p>

    <p>
      Once you have applied for the card, be sure to come back to Abroaders.com and
      tell us whether or not the bank accepted your application.
    </p>

    <p>
      If you are not redirected within 10 seconds,
      <%= present(@account.offer).link_to_link(text: "click here") %>
    </p>

    <script type="text/javascript">
      window.setTimeout(function () {
        window.location = "<%= @account.offer.link %>";
      }, 5000);
    </script>
  </div>
<% end %>
