<h1>Show <%= singular_table_name %></h1>

<dl class="dl-horizontal">
  <%- attributes.each do |attribute| -%>
  <dt><%= attribute.human_name %>:</dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>

  <%- end -%>
</dl>

<%%= link_to "Back", <%= index_helper %>_path %> |
<%%= link_to "Edit", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %>
