<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1>Add a companion?</h1>

    <p>
      TODO: add text explaining what a companion is etc
    </p>

    <p>
      Only add a companion if you share expenses!
    </p>

    <%= form_for @companion, url: companion_path, html: { class: "form-inline" } do |f| %>

      <% if @companion.errors.any? %>
        <%= render "shared/error_message" do %>
          <%= @companion.errors.full_messages.to_sentence %>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.text_field :first_name, placeholder: "Companion's first name" %>
      </div>

      <%= f.submit "Add companion", class: "btn-primary" %>

      <%= link_to(
        "No thanks - I don't want to add a companion",
        survey_readiness_path,
      ) %>
    <% end %>

  </div>
</div>
