<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <%= logo %>
      </div>
      <div class="hpanel">
        <%= errors %>

        <div class="panel-body">
          <div class="text-center m-b-md">
            <h4>Change Your Password</h4>
          </div>

          <%= form_for model, url: accounts_password_path, method: :put, html: { role: "form" } do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password, t('.new_password', :default => 'New password') %>
              <%= f.password_field :password, autofocus: true  %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password') %>
              <%= f.password_field :password_confirmation  %>
            </div>

            <%= f.submit t('.change_my_password', :default => 'Change my password'), class: "btn btn-success btn-block" %>
          <% end # form_for %>
          <br>
          <%= link_to  "Sign in", new_account_session_path %> |
          <%= link_to "Sign up", new_account_registration_path %>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div><!-- .col-md-12 -->
  </div><!-- .row -->
</div><!-- login-container -->
