<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h4>FORGOT YOUR PASSWORD?</h4>
      </div>

      <div class="hpanel">
        <%= errors %>

        <div class="panel-body">
          <%= form_for model, url: accounts_password_path, html: { role: "form" } do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "control-label" %>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <%= f.submit 'Send me reset password instructions', class: 'btn btn-success btn-block' %>

          <% end # form_for %>
          <br>
          <%= link_to "Sign in", new_account_session_path %> |
          <%= link_to "Sign up", new_account_registration_path %>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div><!-- .col-md-12 -->
  </div><!-- .row -->
</div><!-- login-container -->

