<%= render "shared/model_validation_errors", model: spending_info %>

<%= form_for spending_info, url: spending_info_path do |f| %>

  <div class="form-group">
    <%= f.label :citizenship %>

    <% SpendingInfo.citizenships.each do |name, _| %>
      <div class="radio">
        <label>
          <%= f.radio_button(
                :citizenship,
                name,
                checked: f.object.citizenship == name
              ) %>
          <%= t("activerecord.attributes.spending_info.citizenships.#{name}") %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :credit_score %>
    <%= f.number_field :credit_score %>
  </div>

  <div class="form-group">
    <%= f.label :will_apply_for_loan %>
    <div class="radio">
      <label>
        <%= f.radio_button(
              :will_apply_for_loan,
              true,
              checked: f.object.will_apply_for_loan
            ) %>
        Yes
      </label>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button(
              :will_apply_for_loan,
              false,
              checked: !f.object.will_apply_for_loan
            ) %>
        No
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :spending_per_month_dollars %>

    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :spending_per_month_dollars %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_business %>

    <% SpendingInfo.has_businesses.each do |name, _| %>
      <div class="radio">
        <label>
          <%= f.radio_button(
                :has_business,
                name,
                checked: f.object.has_business == name
              ) %>
          <%= t("activerecord.attributes.spending_info.has_businesses.#{name}") %>
        </label>
      </div>
    <% end %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
