<%= present_div(spending_info) do |spending_info| %>
  <table class="table table-condensed">
    <tbody>
      <tr>
        <td><%= spending_info.monthly_spending_label %>:</td>
        <td><%= spending_info.monthly_spending_usd %>/month</td>
      </tr>

      <tr>
        <td>Business spending:</td>
        <td><%= spending_info.business_spending %></td>
      </tr>

      <tr>
        <td>Credit score:</td>
        <td><%= spending_info.credit_score %></td>
      </tr>

      <tr>
        <td>Will apply for loan in next 6 months:</td>
        <td><%= spending_info.will_apply_for_loan %></td>
      </tr>

      <% present(spending_info.person) do |person| %>
        <% if local_assigns[:show_eligibility] %>
          <tr>
            <td>Eligible to apply:</td>
            <td><%= person.eligibility %></td>
          </tr>
        <% end %>

        <% if local_assigns[:show_readiness] %>
          <tr>
            <td>Ready to apply:</td>
            <td><%= person.readiness %></td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>
<% end %>
