<%= present_div(spending_info) do |spending_info| %>
  <table class="table table-condensed">
    <tbody>
      <tr>
        <td><%= spending_info.monthly_spending_label %>:</td>
        <td><%= spending_info.monthly_spending_usd %>/month</td>
      </td>

      <tr>
        <td>Business spending:</td>
        <td><%= spending_info.business_spending %></td>
      </tr>

      <tr>
        <td>Credit score:</td>
        <td><%= spending_info.credit_score %></td>
      </td>

      <tr>
        <td>Will apply for loan in next 6 months:</td>
        <td><%= spending_info.will_apply_for_loan %></td>
      </tr>

      <% if spending_info.person.award_wallet_email.present? %>
        <tr>
          <td>Award Wallet email:</td>
          <td><%= spending_info.person.award_wallet_email %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
