<% provide :title, "Spending" %>
<% provide :no_sidebar, true %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="hpanel">
      <div class="panel-heading hbuilt">
        <h1>Spending</h1>
      </div><!-- .panel-heading.hbuilt -->

      <%= render(
        "shared/model_validation_errors",
        model: @spending_info,
        model_name: "information"
      ) %>

      <div class="panel-body">
        <p>
          Welcome, <%= @person.first_name %>! In order to help you apply for the
          right cards, we need to get some financial information about you.
        </p>

        <%= form_for @spending_info, url: person_spending_info_path(@person) do |f| %>

          <div class="form-group">
            <%= f.label(
              :credit_score,
              "What's your credit score?",
              min: SpendingInfo::MINIMUM_CREDIT_SCORE,
              max: SpendingInfo::MAXIMUM_CREDIT_SCORE,
            ) %>

            <p class="help-block">
              A credit score should be a number between
              <%= SpendingInfo::MINIMUM_CREDIT_SCORE %> and
              <%= SpendingInfo::MAXIMUM_CREDIT_SCORE %>
            </p>

            <%= f.number_field :credit_score %>
          </div>

          <div class="form-group">
            <%= f.label(
              :will_apply_for_loan,
              "Do you plan to apply for a loan of over $5,000 in the next 12 months?"
            ) %>

            <div class="radio">
              <label>
                <%= f.radio_button(
                  :will_apply_for_loan,
                  true,
                  checked: f.object.will_apply_for_loan,
                ) %> Yes
              </label>
            </div>

            <div class="radio">
              <label>
                <%= f.radio_button(
                  :will_apply_for_loan,
                  false,
                  checked: !f.object.send(:will_apply_for_loan)
                ) %> No
              </label>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :has_business, "Do you own a business?" %>

            <% SpendingInfo.has_businesses.each do |value, _| %>
              <div class="radio">
                <label>
                  <%= f.radio_button(
                    :has_business,
                    value,
                    checked: f.object.send(:has_business) == value
                  ) %>
                  <%= has_business_label_text(value) %>
                </label>
              </div>
            <% end %>
          </div>

          <div
            id="business_spending_form_group"
            class="form-group required"
            style="<%= "display:none" unless f.object.send(:has_business?) %>"
          >
            <%= f.label(
              :business_spending_usd,
              "What is the average monthly spending of your business?"
            ) %>

            <p class="help-block">
              Do not include business expenses that cannot be charged to a credit card
            </p>

            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%# Adding min: 0 causes an interesting bug. Set the value      %>
              <%# to a number lower than 0 (e.g. by c&ping it into the field  %>
              <%# which `min` won't stop you from doing, at least in the      %>
              <%# current version of Chrome, then click 'no business' (hiding %>
              <%# the input), then click 'save' - and nothing will happen.    %>
              <%# Then look in the Chrome console and you'll see the error    %>
              <%# 'An invalid form control..' is not focusable. Rather than   %>
              <%# hacking a fix to this error, I'm just going to leave 'min'  %>
              <%# off for now and let negative values be caught server-side   %>
              <%= f.number_field :business_spending_usd %>
            </div>
          </div>

          <hr>

          <h5>Are you ready to apply for cards now?</h5>

          <p><%= t("readiness.explanation") %></p>

          <p>
            If you're able to apply for the card within the next few days,
            click "Yes" below and we'll get working on the card recommendation
            immediately. If, for whatever reason, you're not ready right now,
            click "No" below and we'll ask again in a week.
          </p>

          <div class="radio">
            <label>
              <%= f.radio_button :ready, true, checked: true %>
              Yes - I'm ready to apply for cards ASAP
            </label>
          </div>

          <div class="radio">
            <label>
              <%= f.radio_button :ready, false, checked: false %>
              No - ask again later
            </label>
          </div>

          <div
            id="unreadiness_reason_form_group"
            class="form-group"
            style="display:none;">
            <%= f.text_field(
              :unreadiness_reason,
              placeholder: "Optional: tell us why #{@person.first_name} isn't ready to apply just yet"
            ) %>
          </div>

          <%= f.submit "Save", class: "btn btn-primary" %>

        <% end %>
      </div><!-- .panel-body -->
    </div><!-- .hpanel -->
  </div><!-- col-xs-12 -->
</div><!-- .row -->
