<% provide :title, "Update Readiness" %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="hpanel">
      <% present @account, EditReadinessPresenter do |account| %>
        <div class="panel-heading hbuilt">
          <h1>
            <% if account.both_can_update_ready? %>
              Are you
            <% else %>
              Is <%= account.unready_person.first_name %>
            <% end %>
            ready to apply for cards now?
          </h1>
        </div><!-- .panel-heading -->

        <div class="panel-body">
          <%= form_tag readiness_path, method: :patch do |f| %>
            <p>
              <% if account.both_can_update_ready? %>
                Both <%= account.owner.first_name %> and <%= account.companion.first_name %>
                have said that they are not ready to apply for new cards.
              <% else %>
                <%= account.unready_person.first_name %> has not said that
                he/she is ready to apply for new cards.
              <% end %>
            </p>

            <% if account.both_can_update_ready? %>
              <%= account.person_reason(account.owner) %>
              <%= account.person_reason(account.companion) %>
            <% else %>
              <%= account.person_reason(account.unready_person) %>
            <% end %>

            <p><%= t("readiness.explanation") %></p>

            <p>
              <% if account.both_can_update_ready? %>
                If one or both of you is able to apply for the card within the
                next few days, select below and we'll get working on the card
                recommendation immediately.
              <% else %>
                If <%= account.unready_person.first_name %> is able to apply
                for the card within the next few days, click
                "<%= account.unready_person.first_name %> is now ready" below
                and we'll get working on the card recommendations immediately.
              <% end %>
            </p>

            <div class="row">
              <hr />
              <% if account.couples? && account.both_can_update_ready? %>
                <div class="col-xs-12 col-lg-6">
                  <%= account.readiness_who_select %>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-3">
                  <%= account.submit_btn %>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3">
                  <%= account.cancel_btn %>
                </div>
              <% else %>
                <%= account.readiness_who_hidden_field(account.unready_person) %>
                <div class="col-xs-12 col-sm-8 col-lg-9">
                  <%= account.submit_person_btn(account.unready_person) %>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                  <%= account.cancel_btn %>
                </div>
              <% end %>
            </div>
          <% end # form_tag %>
        </div>
      <% end # present %>
    </div><!-- .hpanel -->
  </div>
</div>
