<% present @person do |person| %>
  <% provide :title, "Update Readiness" %>
  
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          <h1>Is <%= person.first_name %> ready to apply for cards now?</h1>
  
          <p>
            <%= person.first_name %> has not said that they are ready to apply for new cards.
          </p>
  
          <% if person.unready? && person.unreadiness_reason.present? %>
              <p>Reason given: <i><%= person.unreadiness_reason %></i></p>
          <% end %>
  
          <p><%= t("readiness_statuses.explanation") %></p>
  
          <p>
            If <%= person.first_name %> is able to apply for the card within the
            next few days, click "I am now ready" below and we'll get working on the card
            recommendation immediately.
          </p>

        </div><!-- .panel-heading -->

        <div class="panel-body">
          <%=person.update_readiness_btn %>
        </div>
      </div>
    </div>
  </div>
<% end %>
