<% provide :title, 'Readiness' %>

<div class="row hpanel">
  <div class="panel-body col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="greeting-message">
      <h1>Are you ready to apply for rewards cards in the next two weeks? </h1>
      <hr />
    </div>

    <p class="helper-text">
      Credit card offers change frequently, so we want to make sure we create
      your custom plan when you’re ready to take action. If you’re ready now,
      your travel expert will have your recommendations ready in 24-48 hours.
      If not, don’t worry. We’ll remind you later.   
    </p>

    <%= form_tag survey_readiness_path do %>
      <% if current_account.couples? && current_account.people.all?(&:eligible?) %>
        <div class="radio">
          <label>
            <%= radio_button_tag :person_type, :both, @checked == 'both' %>
            Both <%= current_account.owner.first_name %> and
            <%= current_account.companion.first_name %> are ready now
          </label>
        </div>
      <% end %>

      <% if current_account.owner.eligible? %>
        <div class="radio">
          <label>
            <%= radio_button_tag :person_type, :owner, @checked == 'owner' %>
            <% if current_account.couples? && current_account.companion.eligible? %>
              <%= current_account.owner.first_name %> is ready now but
              <%= current_account.companion.first_name %> isn't
            <% else %>
              Yes - I'm ready now
            <% end %>
          </label>
        </div>
      <% end %>

      <% if current_account.couples? && current_account.companion.eligible? %>
        <div class="radio">
          <label>
            <%= radio_button_tag :person_type, :companion, @checked == 'companion' %>
            <% if current_account.owner.eligible? %>
              <%= current_account.companion.first_name %> is ready now but
              <%= current_account.owner.first_name %> isn't
            <% else %>
              Yes - I'm ready now
            <% end %>
          </label>
        </div>
      <% end %>

      <div class="radio">
        <label>
          <%= radio_button_tag :person_type, :neither %>
          <% if current_account.couples? && current_account.people.all?(&:eligible?) %>
            Neither of us is ready yet
          <% else %>
            No - I'm not ready yet
          <% end %>
        </label>
      </div>

      <button class="btn btn-lg btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save and continue
      </button>
    <% end %>
  </div><!-- .panel-body -->
</div>
