<% provide :title, 'Readiness' %>

<div class="row hpanel">
  <div class="panel-body col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="greeting-message">
      <h1>Are you ready to apply for rewards cards in the next two weeks? </h1>
      <hr />
    </div>

    <p class="helper-text">
      Credit card offers change frequently, so we want to make sure we create
      your custom plan when you’re ready to take action. If you’re ready now,
      your travel expert will have your recommendations ready in 24-48 hours.
      If not, don’t worry. We’ll remind you later.   
    </p>

    <%= form_for @readiness_survey, url: survey_readiness_path do |f| %>
      <% if current_account.has_companion? && current_account.people.all?(&:eligible?) %>
        <div class="radio">
          <label>
            <%= f.radio_button :who, :both %>
            Both <%= current_account.owner.first_name %> and
            <%= current_account.companion.first_name %> are ready now
          </label>
        </div>
      <% end %>

      <% if current_account.owner.eligible? %>
        <div class="radio">
          <label>
            <%= f.radio_button :who, :owner %>
            <% if current_account.has_companion? && current_account.companion.eligible? %>
              <%= current_account.owner.first_name %> is ready now but
              <%= current_account.companion.first_name %> isn't
            <% else %>
              Yes - I'm ready now
            <% end %>
          </label>
        </div>
      <% end %>

      <% if current_account.has_companion? && current_account.companion.eligible? %>
        <div class="radio">
          <label>
            <%= f.radio_button :who, :companion %>
            <% if current_account.owner.eligible? %>
              <%= current_account.companion.first_name %> is ready now but
              <%= current_account.owner.first_name %> isn't
            <% else %>
              Yes - I'm ready now
            <% end %>
          </label>
        </div>
      <% end %>

      <div class="radio">
        <label>
          <%= f.radio_button :who, :neither %>
          <% if current_account.has_companion? && current_account.people.all?(&:eligible?) %>
            Neither of us is ready yet
          <% else %>
            No - I'm not ready yet
          <% end %>
        </label>
      </div>

      <% if current_account.owner.eligible? %>
        <div
          id="readiness_survey_owner_unreadiness_reason_form_group"
          class="radio"
          style="display:none;"
        >
          <%= f.text_field(
            :owner_unreadiness_reason,
            placeholder: (if current_account.companion&.eligible?
                           "Optional: tell us why #{current_account.owner.first_name} isn't ready to apply just yet"
                         else
                           "Optional: tell us why you aren't ready to apply just yet"
                         end)
          ) %>
        </div>
      <% end %>

      <% if current_account.companion&.eligible? %>
        <div
          id="readiness_survey_companion_unreadiness_reason_form_group"
          class="radio"
          style="display:none;"
        >
          <%= f.text_field(
            :companion_unreadiness_reason,
            placeholder: (if current_account.owner.eligible?
                           "Optional: tell us why #{current_account.companion.first_name} isn't ready to apply just yet"
                         else
                           "Optional: tell us why you aren't ready to apply just yet"
                         end)
          ) %>
        </div>
      <% end %>

      <button class="btn btn-lg btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save and continue
      </button>
    <% end %>
  </div><!-- .panel-body -->
</div>
