<p id="notice"><%= notice %></p>

<h1>Card</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Brand</th>
      <th>B/P</th>
      <th>Type</th>
      <th>Annual Fee</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.identifier %></td>
        <td><%= card.name %></td>
        <td><%= card.brand.capitalize %></td>
        <td><%= card.bp.capitalize %></td>
        <td><%= card.type.capitalize %></td>
        <td><%= card_price_formatted(card) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Card', new_admin_card_path %>
