<%= form_for [:admin, @offer], html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @offer.errors.any? %>
    <%= render "shared/model_validation_errors", model: @offer %>
  <% end %>

  <div class="form-group">
    <%= f.label :card_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :card_id, options_for_offer_card_select(f.object) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :condition, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :condition, options_for_offer_condition_select(f.object) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :points_awarded, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :points_awarded, class: "form-control" %>
    </div>
  </div>

  <div
    id="offer_spend_form_group"
    class="form-group"
    style="<%= "display:none" unless f.object.on_minimum_spend? %>"
  >
    <%= f.label :spend, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :spend, class: "form-control" %>
    </div>
  </div>

  <div id="offer_cost_form_group" class="form-group">
    <%= f.label :cost, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cost, class: "form-control" %>
    </div>
  </div>

  <div
    id="offer_days_form_group"
    class="form-group"
    style="<%= "display:none" if f.object.on_approval? %>"
  >
    <%= f.label :days, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :days, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :link, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :link, class: "form-control",
        placeholder: 'Make sure you include the "http://" or "https://"' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <%= f.label :live do %>
          <%= f.check_box :live %>
          Live
        <% end %>
          <ul style="font-size:12px">
            <li>
              The details in our database reflect the exact terms
              that are detailed at the saved link (spend, bonus, cost, days).
            </li>
            <li>
              The link is live on the bank's website and is accepting
              applications.
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t("admin.offers.submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
