<% provide :title, "Edit Card Offer" %>

<% content_for :header_panel do %>
  <div class="panel-body">
    <h1>Edit Offer</h1>
  </div>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <%= render "admin_area/offers/card", card: @card %>
  </div>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <%= render 'form' %>

    <%= link_to "Show offer", admin_offer_path(@offer) %>
  </div>
<% end %>
