<% provide :title, "Offers" %>

<% if @card.present? %>
  <%# TODO this 'full name' shouldn't just belong to SurveyCard - move it back into Card#full_name %>
  <%# (this probably means the SurveyCard class doesn't even need to exist) %>
  <%# look for other places which need the card's full name at the same time %>
  <%# you make this change%>
  <h1><%= SurveyCard.new(@card).name %> - Card Offers</h1>

  <p>
    <%= link_to "Add a new offer for this card", new_admin_card_offer_path(@card) %>
  </p>
<% else %>
  <h1>All Card Offers</h1>

  <p>
    To add a new offer, find the card on the
    <%= link_to "cards page", admin_cards_path %> and click 'New Offer'
  </p>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Card</th>
        <th>Bank</th>
        <th>Points awarded</th>
        <th>Spend</th>
        <th>Cost</th>
        <th>Days</th>
        <th>Live</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr id="<%= dom_id(offer) %>" class="<%= dom_class(offer) %>">
          <td><%= offer.identifier.full %></td>
          <td><%= offer.card_name %></td>
          <td><%= offer.bank_name %></td>
          <td><%= number_with_delimiter offer.points_awarded %></td>
          <td><%= number_to_currency offer.spend %></td>
          <td><%= number_to_currency offer.cost %></td>
          <td><%= offer.days %></td>
          <td><%= offer.live ? "Yes" : "No" %></td>
          <td><%= link_to 'Show', admin_offer_path(offer) %></td>
          <td><%= link_to 'Edit', edit_admin_offer_path(offer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
