<% provide :title, 'Offers' %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <% if !@product.nil? %>
      <% present @product do |product| %>
        <h1><%= product.full_name(with_bank: true) %> - Card Offers</h1>
      <% end %>

      <p>
        <%= link_to 'Add a new offer for this card product', new_admin_card_product_offer_path(@product) %>
      </p>
    <% else %>
      <h1>All Offers</h1>

      <p>
        To add a new offer, find the card product on the
        <%= link_to 'products page', admin_card_products_path %> and click 'New Offer'
      </p>

      <p>
        Click on a card product's name below to see all existing offers for that product.
      </p>
    <% end %>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        class="table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Bank</th>
            <th>Partner</th>
            <th>Points awarded</th>
            <th>Spend</th>
            <th>Cost</th>
            <th>Days</th>
            <th>Live</th>
            <th>Reviewed</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% present_each @offers, AdminArea::OfferPresenter do |offer| %>
            <%= content_tag_for :tr, offer do %>
              <td><%= offer.identifier(with_product: true) %></td>
              <td>
                <%= link_to(
                  offer.product_name,
                  admin_card_product_offers_path(offer.product),
                ) %>
              </td>
              <td><%= offer.bank_name %></td>
              <td><%= offer.partner_short_name %></td>
              <td><%= offer.points_awarded %></td>
              <td><%= offer.spend %></td>
              <td><%= offer.cost %></td>
              <td><%= offer.days %></td>
              <td><%= offer.live? ? "Yes" : "No" %></td>
              <td><%= offer.last_reviewed_at %></td>
              <td><%= offer.link_to_show %></td>
              <td><%= offer.link_to_edit %></td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
