<% provide :title, "New Offer" %>

<% present @card do |card| %>
  <% content_for :header_panel do %>
    <div class="panel-body">
      <h1><%= card.full_name(with_bank: true) %> - New Card Offer</h1>
    </div>
  <% end %>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <%= render "admin_area/offers/card", card: @card %>
  </div>
<% end %>

<%= render "shared/hpanel" do  %>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
<% end %>
