<% provide :title, "Review Live Offers" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Review Live Offers</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        class="admin_review_offers table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>Product</th>
            <th>Bank</th>
            <th>B/P</th>
            <th>Points</th>
            <th>Spend</th>
            <th>Cost</th>
            <th>Days</th>
            <th>Reviewed</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% present_each @offers, AdminArea::OfferPresenter do |offer| %>
            <% model = offer.model %>
            <%= content_tag_for :tr, offer do %>
              <td class="offer_card_name">
                <%= offer.product_name %>
              </td>
              <td><%= offer.bank_name %></td>
              <td><%= offer.product_bp %></td>
              <td><%= cell(Offer::Cell::PointsAwarded, model) %></td>
              <td><%= cell(Offer::Cell::Spend, model) %></td>
              <td><%= cell(Offer::Cell::Cost, model) %></td>
              <td><%= model.days %></td>
              <td id="reviewed_<%= model.id %>"><%= offer.last_reviewed_at %></td>
              <td><%= offer.link_to_show_for_offer %></td>
              <td><%= offer.link_to_edit %></td>
              <td class="offer_verification_ctrls">
                <div class="btn-group">
                  <%= offer.verify_btn %>
                  <%= offer.kill_btn %>
                </div>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
