<% provide :title, "Review Live Offers" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Review Live Offers</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        class="admin_review_offers table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>Product</th>
            <th>Bank</th>
            <th>B/P</th>
            <th>Points</th>
            <th>Spend</th>
            <th>Cost</th>
            <th>Days</th>
            <th>Reviewed</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @offers.each do |offer| %>
            <tr id="<%= dom_id(offer) %>" class="<%= dom_class(offer) %>">
              <td class="offer_card_name">
                <%= offer.product.name %>
              </td>
              <td><%= offer.product.bank.name %></td>
              <td><%= offer.product.bp[0].upcase %></td>
              <td><%= cell(Offer::Cell::PointsAwarded, offer) %></td>
              <td><%= cell(Offer::Cell::Spend, offer) %></td>
              <td><%= cell(Offer::Cell::Cost, offer) %></td>
              <td><%= offer.days %></td>
              <td id="reviewed_<%= offer.id %>">
                <%= AdminArea::Offer::Cell::LastReviewedAt.(offer) %>
              </td>
              <td><%= link_to 'Link', offer.link, target: '_blank' %></td>
              <td><%= link_to 'Edit', edit_admin_offer_path(offer) %></td>
              <td class="offer_verification_ctrls">
                <div class="btn-group">
                  <%= cell(AdminArea::Offer::Cell::Review::VerifyButton, offer) %>
                  <%= cell(AdminArea::Offer::Cell::Review::KillButton, offer) %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
