<% provide :title, "Offer ##{@offer.id}" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Offer #<%= @offer.id %></h1>
  </div>

  <div class="panel-body">
    <%= cell(AdminArea::CardProducts::Cell::Summary, @product) %>

    <hr />

    <dl class="dl-horizontal">
      <dt>Condition:</dt>
      <dd><%= Inflecto.humanize(@offer.condition) %></dd>

      <dt>Bank:</dt>
      <dd><%= @offer.product.bank.name %></dd>

      <dt>Partner:</dt>
      <dd><%= Partner::Cell::FullName.(@offer.partner) %></dd>

      <dt>Points awarded:</dt>
      <dd><%= cell(Offer::Cell::PointsAwarded, @offer) %></dd>

      <% if @offer.condition == 'on_minimum_spend' %>
        <dt>Spend:</dt>
        <dd><%= cell(Offer::Cell::Spend, @offer) %></dd>
      <% end %>

      <dt>Cost:</dt>
      <dd><%= cell(Offer::Cell::Cost, @offer) %></dd>

      <% unless @offer.on_approval? %>
        <dt>Days:</dt>
        <dd><%= @offer.days %></dd>
      <% end %>

      <dt>Link:</dt>
      <dd><%= link_to @offer.link, @offer.link, rel: 'nofollow' %></dd>

      <dt>Live:</dt>
      <dd><%= @offer.live? ? 'Yes' : 'No' %></dd>

      <dt>Notes:</dt>
      <dd><%= @offer.notes %></dd>
    </dl>

    <%= link_to 'Back', admin_offers_path %> |
    <%= link_to 'Edit', edit_admin_offer_path(@offer) %>
  </div>
</div>
