<% present card, AdminArea::CardPresenter do |card| %>
  <%= card.tr_tag do %>
    <td><%= card.product_identifier %></td>
    <td><%= card.product_name %></td>
    <td class="card_status">
      <%= card.status %>
      <% if card.declined? %>
        <a href="#" data-toggle="tooltip" title="<%= card.decline_reason %>">
          <%= fa_icon "question" %>
        </a>
      <% end %>
    </td>
    <td class="card_recommended_at" data-text="<%= card.recommended_at_value %>">
      <%= card.recommended_at || "-" %>
    </td>
    <td class="card_seen_at">
      <%= card.seen_at || "-" %>
    </td>
    <td class="card_clicked_at">
      <%= card.clicked_at || "-" %>
    </td>
    <td class="card_applied_at" data-text="<%= card.applied_at_value %>">
      <%= card.applied_at || "-" %>
    </td>
    <td class="card_denied_at">
      <%= card.denied_at || "-" %>
    </td>
    <td class="card_declined_at">
      <%= card.declined_at || "-" %>
    </td>
    <td class="card_opened_at" data-text="<%= card.opened_at_value %>">
      <%= card.opened_at || "-" %>
    </td>
    <td class="card_closed_at" data-text="<%= card.closed_at_value %>">
      <%= card.closed_at || "-" %>
    </td>
    <td>
      <%= card.link_to_pull if card.recommendation? %>
    </td>
  <% end # content_tag_for %>
<% end # present %>
