<% provide :title, "Card Images" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Card Images</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        id="admin_card_images_table"
        class="table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <tbody>
          <% present_each(@cards) do |card| %>
            <tr id="<%= dom_id(card) %>">
              <td><%= card.identifier %></td>
              <td><%= card.bank_name %></td>
              <td><%= link_to card.name, admin_card_path(card) %></td>
              <td><%= card.network %></td>
              <td><%= card.image %></td>
            </tr>
          <% end # present_each %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <%= pluralize @cards.size, "card" %>
  </div>
</div>
