<% provide :title, "Cards" %>

<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<%= link_to "Add New Card", new_admin_card_path %>

<table id="admin_cards_table" class="table table-striped">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Bank</th>
      <th>Name</th>
      <th>Network</th>
      <th>Currency</th>
      <th>B/P</th>
      <th>Type</th>
      <th>Annual Fee</th>
      <th class="is-active"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr id="<%= dom_id(card) %>">
        <td><%= card.identifier %></td>
        <td><%= card.bank_name %></td>
        <td><%= link_to card.name, admin_card_path(card) %></td>
        <td><%= t("activerecord.attributes.card.network.#{card.network}") %></td>
        <td><%= card.currency.name %></td>
        <td><%= card.bp.capitalize %></td>
        <td><%= t("activerecord.attributes.card.type.#{card.type}") %></td>
        <td><%= card_price_formatted(card) %></td>
        <td class="is-active">
          <%= form_for card,
                    remote: true, url: active_admin_card_path(card),
                    method: :put,
                    html: {
                      class: "toggle_active_card",
                      id: dom_id(card, :toggle_active)
                    } do |f| %>
            <%= f.check_box :active %>
            &nbsp;
            <span class="active-status">
              <%= card.active ? "Active" : "Inactive" %>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_card_path(card) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
