<% provide :title, "Your Cards" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>My Recommendations</h1>
  </div><!-- panel-heading -->

  <div class="panel-body">
    <% if @account.people.any?(&:eligible?) %>
      <% if @any_recommendations %>
        <%= cell(CardRecommendation::Cell::Note, @newest_rec_note) if @newest_rec_note %>

        <p>
          Your recommendations will expire after two weeks. Please click “Find My Card”
          below and complete the application on the bank's website. If you
          decide not to apply for a card, please click “No Thanks”.
        </p>

        <hr />

        <%= cell(Card::Cell::Index::CardRecommendations, @account) %>
      <% else %>
        <div class="alert alert-info">
          The Abroaders team is hand selecting the ideal rewards cards
          based on your current points, travel plans and spending. We’ll
          let you know as soon as the card recommendations are ready to
          view.
        </div>
      <% end %>
    <% else # no eligible people %>
      <p><%= t("dashboard.account.ineligible.title") %></p>
      <p><%= t("dashboard.account.ineligible.message") %></p>
    <% end %>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<%= cell(Card::Cell::Index::CardAccounts, @account) %>
