<% provide :title, "Your Cards" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Your Cards</h1>
  </div><!-- panel-heading -->

  <div class="panel-body">
    <% if current_account.people.any?(&:eligible?) %>
      <% if @recommendations.any? %>
        <%= cell(Recommendation::Cell::Note, @newest_rec_note) if @newest_rec_note %>

        <p>
          Your recommendations will expire after two weeks. Please click “Apply”
          below and complete the application on the bank's website. If you
          decide not to apply for a card, please click “No Thanks”.
        </p>

        <hr />

        <div id="card_recommendations">
          <% @people.each do |person| %>
            <div id="<%= person.type %>_card_recommendations">
              <%= cell(
                Card::Cell::Index::Subheader,
                nil,
                account: current_account,
                person: person
              ) %>

              <% card_recs = @recommendations.where(person: person) %>
              <% if card_recs.any? %>
                <%= render card_recs %>
              <% else %>
                No recommendations for <%= person.first_name %>
              <% end %>
            </div><!-- #<%= person.type %>_card_recommendations -->
          <% end %>
        </div><!-- #card_recommendations -->
      <% else %>
        <div class="alert alert-info">
          The Abroaders team is hand selecting the ideal rewards cards
          based on your current points, travel plans and spending. We’ll
          let you know as soon as the card recommendations are ready to
          view.
        </div>
      <% end %>
    <% else # no eligible people %>
      <p><%= t("dashboard.account.ineligible.title") %></p>
      <p><%= t("dashboard.account.ineligible.message") %></p>
    <% end %>
  </div><!-- .panel-body -->
</div><!-- .hpanel -->

<% if @cards_from_survey.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          <h2>Other Cards</h2>
        </div>

        <div class="panel-body">
          <div id="cards_from_survey">
            <% @people.each do |person| %>
              <div id="<%= person.type %>_cards_from_survey">
                <%= cell(
                  Card::Cell::Index::Subheader,
                  nil,
                  account: current_account,
                  person: person
                ) %>

                <% survey_cards = @cards_from_survey.where(person: person) %>
                <% if survey_cards.any? %>
                  <%= render survey_cards %>
                <% else %>
                  <p><%= person.first_name %> has no other cards</p>
                <% end %>
              </div><!-- #<%= person.type %>_cards_from_survey -->
            <% end %>
          </div>
        </div><!-- .panel-body -->
      </div>
    </div>
  </div>
<% end %>
