<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h4><%= title.upcase %></h4>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <%= form_tag do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'control-label' %>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: 'off', placeholder: '******' %>
            </div>

            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            </div>
            <%= f.submit 'Sign in', class: 'btn btn-primary btn-block' %>
            <%= link_to_register %>
          <% end %>

          <br>
          <%= link_to_recover_password %>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div><!-- .text-center -->
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <br/> © <%= Time.zone.today.year %> Abroaders
    </div>
  </div>
</div>
