<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <%= logo %>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <% if model.is_a?(Admin) %>
            <h3 class="text-center">Sign In As Admin</h3>
          <% else %>
            <%= link_to_sign_in_with_facebook %>

            <br>

            <p class='lead text-center'>Or</p>
          <% end %>

          <%= form_tag do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
            </div>

            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            </div>
            <%= f.submit 'Sign in', class: 'btn btn-primary btn-block' %>
            <%= link_to_register %>
          <% end %>

          <br>
          <%= link_to_recover_password %>
        </div><!-- .panel-body -->
      </div><!-- .hpanel -->
    </div><!-- .text-center -->
  </div>
</div>
