<div class="hpanel">
  <div class="panel-heading hbuilt">
    <div class="row">
      <div class="col-xs-12">
        <h1 style="display: inline-block;"><%= title %></h1>
        &nbsp;&nbsp;<%= icons %>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <%= card_product_summary %>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-12">
        <dl class="dl-horizontal">
          <dt>Condition:</dt>
          <dd><%= condition %></dd>

          <dt>Partner:</dt>
          <dd><%= partner_name %></dd>

          <dt>Points awarded:</dt>
          <dd><%= points_awarded %></dd>

          <%= spend %>

          <dt>Cost:</dt>
          <dd><%= cost %></dd>

          <%= days %>

          <dt>Link:</dt>
          <dd><%= link_to_link %></dd>

          <dt>Notes:</dt>
          <dd><%= notes %></dd>

          <dt>Value:</dt>
          <dd><%= value %></dd>

          <dt>Created:</dt>
          <dd><%= created_at %></dd>

          <dt>Last updated:</dt>
          <dd><%= updated_at %></dd>

          <% if dead? %>
            <dt>Killed:</dt>
            <dd><%= killed_at %></dd>
          <% else %>
            <dt>Last reviewed:</dt>
            <dd><%= last_reviewed_at %></dd>
          <% end %>
        </dl>
      </div>
      <div class="col-xs-12">
        <%= link_to_edit %> |
        <%= link_to_new_offer %> |
        <%= link_to_dup_offer %>
        <% unless dead? %>
          |
          <%= link_to_verify %> |
          <%= link_to_kill %>
        <% end %>
      </div>
    </div>

    <hr />

    <div class="row">
      <%= form_tag replace_admin_offer_path(model), method: :patch do %>
        <div class="col-xs-12 col-xl-6">
          <%= alternatives_table %>

          <hr class="hidden-xl">
        </div>

        <div class="col-xs-12 col-xl-6">
          <%= active_recs_table %>
        </div>
      <% end %>
    </div>
  </div>
</div>
