<!DOCTYPE html>
<html>
  <%= head %>
  <body class="<%= body_classes %>">
    <%= navbar %>
    <%= sidebar %>

    <%= wrapper do %>
      <%= noscript %>

      <%= progress_bar %>

      <%= flash_alerts %>

      <%= rec_alert %>

      <%= model.call %>
    <% end %>

    <%= footer %>
    <%= third_party_scripts %>
  </body>
</html>
