<div class="row text-center">
  <div class="col-xs-12">
    <h2>Card Recommendations</h2>

    <p class="lead text-center">Want a personalized rewards card recommendation? </p>
  </div>

  <%= form_tag survey_readiness_path do %>
    <%= radio_for_both %>
    <%= radio_for_owner %>
    <%= radio_for_companion %>
    <%= radio_for_neither %>

    <button class="btn btn-lg btn-primary">
      <i class="fa fa-check" aria-hidden="true"> </i>
      Save and continue
    </button>
  <% end %>
</div><!-- .panel-body -->
