<% provide :title, 'Are You Eligible?' %>

<div class="hpanel">
  <div class="panel-body col-xs-12 col-md-8 col-md-offset-2">
    <h1>Are You Eligible to Get Credit Cards?</h1>

    <hr />

    <p>
      This question is to understand if it is possible for you to open
      rewards cards in the United States.
    </p>

    <p>
      You should only answer that you are not eligible if you cannot open a
      credit card because you do not have a social security number in the US.
    </p>

    <p>
      We’ll ask about whether you would like recommendations for rewards
      cards later in the survey.
    </p>

    <%= form_tag survey_eligibility_path do %>
      <% if current_account.couples? %>
        <% {
          both: "Both #{current_account.owner.first_name} and #{current_account.companion.first_name} are eligible.",
          owner: "Only #{current_account.owner.first_name} is eligible.",
          companion: "Only #{current_account.companion.first_name} is eligible.",
          neither:  "Neither of us is eligible.",
        }.each do |value, lbl| %>
          <div class='radio'>
            <label>
              <%= radio_button :eligibility_survey, :eligible, value, checked: value == :both %>
              <%= lbl %>
            </label>
          </div>
        <% end %>
      <% else %>
        <div class='radio'>
          <label>
            <%= radio_button :eligibility_survey, :eligible, :owner, checked: true %>
            Yes - I am eligible
          </label>
        </div>

        <div class='radio'>
          <label>
            <%= radio_button :eligibility_survey, :eligible, :neither %>
            No - I am not eligible
          </label>
        </div>
      <% end %>

      <button class="btn btn-primary btn-large">
        <i class="fa fa-check"> </i>
        Save and continue
      </button>
    <% end %>
  </div>
</div>
