<% provide :title, "Users" %>

<h1>Users</h1>

<div>
  <input
    id="admin_users_table_filter"
    type="text"
    class="form-control"
    placeholder="Filter"
    />
  <table id="admin_users_table" class="users table table-striped">
    <thead>
      <tr>
        <th class="sortable-column-header" >
          Name
          &nbsp;
          <!-- <i class={class} style={style} > </i> -->
        </th>
        <th class="sortable-column-header" >
          Email
          &nbsp;
          <!-- <i class={class} style={style} > </i> -->
        </th>
        <th class="sortable-column-header" >
          Signed up
          &nbsp;
          <!-- <i class={class} style={style} > </i> -->
        </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody id="admin_users_table_body">
      <% @users.each do |user| %>
        <tr
          id="<%= dom_id(user) %>"
          class="<%= dom_class(user) %>"
          data-full-name="<%= user.full_name %>"
          data-email="<%= user.email %>"
        >
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%c") %></td>
          <td><%= link_to "Info", admin_user_path(user) %></td>
          <td>
            <% if user.survey_complete? %>
              <%=
                link_to(
                    "Recommend Card",
                    new_admin_user_card_recommendation_path(user)
                )
              %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_admin_user_path %>
