<h1>User <%= @user.id %></h1>

<p><%= @user.email %></p>
<p>Signed up on <%= @user.created_at.strftime("%D") %></p>

<h3>Cards</h3>

<% if @card_accounts.any? %>

  <table id="admin_user_card_accounts_table" class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Bank</th>
      <th>B/P</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Recommended</th>
    </thead>
    <tbody>
      <% @card_accounts.each do |account| %>
        <tr id="<%= dom_id(account) %>">
          <td><%= account.card_identifier %></td>
          <td><%= account.card_name %></td>
          <td><%= account.card_bank_name %></td>
          <td><%= account.card_bp.to_s.capitalize %></td>
          <td><%= account.card_brand.to_s.capitalize %></td>
          <td><%= account.card_type.to_s.capitalize %></td>
          <td><%= account.try(:recommended_at).try(:strftime, "%c") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>

  <%= t("admin.users.card_accounts.none") %>

  <hr>
<% end %>

<h3>New Card Recommendation</h3>

<%= form_for @card_recommendation, url: admin_user_card_recommendations_path(@user) do |f| %>
  
  <%= react_component "CardRecommendationForm", cards: serialize(@cards)  %>


  <%= f.submit "Save", class: "btn-primary" %>
<% end %>

<% if false %>
  <%= link_to 'Edit', edit_admin_user_path(@user) %> |
  <%= link_to 'Back', admin_users_path %>
<% end %>
