<h1>User <%= @user.id %></h1>

<%#= link_to "Edit", edit_admin_user_path %>

<p><%= @user.email %></p>
<p>Signed up on <%= @user.created_at.strftime("%D") %></p>

<h3>Cards</h3>

<% if @card_accounts.any? %>

  <table id="admin_user_card_recommendations" class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Bank</th>
      <th>B/P</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Status</th>
      <th>Recommended at</th>
    </thead>
    <tbody>
      <% @card_accounts.each do |account| %>
        <tr id="<%= dom_id(account) %>">
          <td><%= account.card_identifier %></td>
          <td><%= account.card_name %></td>
          <td><%= account.card_bank_name %></td>
          <td><%= account.card_bp.to_s.capitalize %></td>
          <td><%= account.card_brand.to_s.capitalize %></td>
          <td><%= account.card_type.to_s.capitalize %></td>
          <td><%= account.status.humanize %></td>
          <td>
            <% if account.recommended_at %>
              <%= account.recommended_at.try(:strftime, "%c") %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>

  <%= t("admin.users.card_accounts.none") %>

  <hr>
<% end %>

<h3>New Card Recommendation</h3>

<%= form_for @card_recommendation, url: admin_user_card_recommendations_path(@user) do |f| %>

  <%#= react_component "CardRecommendationForm", cards: serialize(@cards)  %>

  <div>
    <!--
    <CardRecommendationFilters updateFilterCallback={this._updateFilters} />
    -->
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>
          ID&nbsp; <%= sort_icons %>
        </th>
        <th>
          Name&nbsp; <%= sort_icons %>
        </th>
        <th>
          Bank&nbsp; <%= sort_icons %>
        </th>
        <th>
          B/P&nbsp; <%= sort_icons %>
        </th>
        <th>
          Brand&nbsp; <%= sort_icons %>
        </th>
        <th>
          Type&nbsp; <%= sort_icons %>
        </th>
      </thead>
      <tbody>
        <% @cards.each_with_index do |card, i| %>
          <tr>
            <td><%= f.radio_button :card_id, card.id, checked: (i==0) %></td>
            <td><%= card.identifier %></td>
            <td><%= card.name %></td>
            <td><%= card.bank_name %></td>
            <td><%= card.bp.capitalize %></td>
            <td><%= card.brand.capitalize %></td>
            <td><%= card.type.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :create_mode, :recommendation, true %>
      Recommend this card to the user
    </label>

    <p class="help-block">
      <i>
        User will receive a notification and the card will appear under 'New
        recommendations'
      </i>
    </p>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :create_mode, :assignment %>
      Assign this card to the user
    </label>

    <p class="help-block">
      <i>
        Card will appear in the user's list of cards, but they will not receive
        a notification. Use this option to e.g. add a card which the user
        already has but forgot to tell us about in the onboarding survey, or to
        re-add a card that accidentally got deleted.
      </i>
    </p>
  </div>

  <div id="card_account_status_form_group" class="form-group"
    style="display:none"
  >
    <%= f.label :status %>
    <%= f.select :status, options_for_card_account_status_select, {},
                          class: "input-sm" %>
  </div>

  <%= f.submit "Submit", class: "btn-primary" %>
<% end %>

<%= link_to 'Back to all users', admin_users_path %>
