<% provide :title, @user.name %>

<div class="row">
  <div class="col-xs-12">
    <h1><%= @user.name %></h1>

    <p>Signed up on <%= @user.created_at.strftime("%D") %></p>

    <% if @user.info.nil? %>
      <%= user_email_with_icon(@user) %>

      <%= t("admin.users.show.no_survey") %>
    <% end %>

  </div>
</div>

<% if @user.info.present? %>
  <hr style="margin-bottom:0;">

  <%= render "user_infos/user", user: @user %>
<% end %>

<hr>

<h3>Cards</h3>

<% if @card_accounts.any? %>

  <%= render "card_accounts/table", accounts: @card_accounts %>

<% else %>

  <%= t("admin.users.card_accounts.none") %>

  <hr>
<% end %>

<h3>New Card Recommendation</h3>

<%= form_for @card_recommendation, url: admin_user_card_recommendations_path(@user) do |f| %>

  <div>
    <div class="card-recommendation-filters">
      <div class="form-inline">
        <b>B/P: </b>&nbsp;
        <% Card.bps.keys.each do |bp| %>
          <%= card_bp_filter_check_box_tag(bp) %>
        <% end %>
      </div>

      <div class="form-inline">
        <b>BANK: </b>&nbsp;
        <% Card.banks.keys.each do |bank| %>
          <%= card_bank_filter_check_box_tag(bank) %>
        <% end %>

        |

        <label for="card_bank_filter_all">
          <%= check_box_tag :card_bank_filter_all, nil, true %>
          Toggle all
        </label>
      </div>

      <div class="form-inline">
        <b>CURRENCY: </b>&nbsp;
        <% Currency.all.sort_by(&:short_name).each do |currency| %>
          <%= card_currency_filter_check_box_tag(currency.id) %>
        <% end %>

        <!--
        |

        <label for="card_currency_filter_all">
          <%#= check_box_tag :card_currency_filter_all, nil, true %>
          Toggle all
        </label>-->
      </div>
    </div><!-- .card-recommendation-filters -->

    <%# TODO - make the table sortable again %>
    <div class="admin-card-recommendation-table">
      <% @cards.each_with_index do |card, i| %>
        <div
          id="<%= dom_id(card, :admin_recommend) %>"
          class="<%= dom_class(card, :admin_recommend) %>"
          data-bp="<%= card.bp %>"
          data-bank="<%= card.bank %>"
          data-currency="<%= card.currency_id %>"
        >
          <div><%= f.radio_button :card_id, card.id, checked: (i==0) %></div>
          <div class="card-identifier"><%= card.identifier %></div>
          <div class="card-name"><%= card.name %></div>
          <div class="card-bank-name"><%= card.bank_name %></div>
          <div class="card-bp"><%= card.bp.capitalize %></div>
          <div class="card-currency"><%= card.currency.short_name %></div>
        </div>
      <% end %>
    </div><!-- .admin-card-recommendation-table -->
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :create_mode, :recommendation, true %>
      Recommend this card to the user
    </label>

    <p class="help-block">
      <i>
        User will receive a notification and the card will appear under 'New
        recommendations'
      </i>
    </p>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :create_mode, :assignment %>
      Assign this card to the user
    </label>

    <p class="help-block">
      <i>
        Card will appear in the user's list of cards, but they will not receive
        a notification. Use this option to e.g. add a card which the user
        already has but forgot to tell us about in the onboarding survey, or to
        re-add a card that accidentally got deleted.
      </i>
    </p>
  </div>

  <div id="card_account_status_form_group" class="form-group"
    style="display:none"
  >
    <%= f.label :status %>
    <%= f.select :status, options_for_enum_select(CardAccount.statuses), {},
                          class: "input-sm" %>
  </div>

  <%= f.submit "Submit", class: "btn-primary" %>
<% end %>

<%= link_to 'Back to all users', admin_users_path %>
