<%= render "shared/hpanel" do %>
  <div class="panel-body">

    <div class="col-xs-12 col-md-6">
      <% if spending_info.present? %>
        <%= render "spending_infos/spending_info", spending_info: spending_info %>
      <% else %>
        User has not added their spending info
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <% if balances.any? %>
        <h3>Existing Balances</h3>

        <ul class="person-balances">
          <% balances.each do |balance| %>
            <li id="<%= dom_id(balance.currency) %>">
              <b><%= balance.currency_name %>:</b>
              <span class="balance"><%= number_with_delimiter(balance.value) %></span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= t("admin.people.card_recommendations.no_balances") %>
      <% end # balances.any? %>
    </div><!-- .col-xs-12.col-md-6 -->

    <div class="col-xs-12 col-md-6">
      <% if travel_plans.any? %>
        <h3>Travel Plans</h3>

        <div class="account_travel_plans">
          <%= render collection: travel_plans, partial: "travel_plans/travel_plan" %>
        </div>
      <% else %>
        User has no upcoming travel plans
      <% end %>
    </div><!-- .col-xs-12.col-md-6 -->
  </div><!-- .panel-body -->
<% end %>

<%= render "shared/hpanel" do %>
  <div class="panel-body">
    <h3>Existing Cards</h3>

    <h4>Recommendations</h4>

    <% if card_recommendations.any? %>
      <%= render "admin_area/card_accounts/recommendations", card_accounts: card_recommendations %>
    <% else %>
      <p>User has not been recommended any cards yet</p>
    <% end %>

    <h4>Other</h4>

    <% if cards_from_survey.any? %>
      <p>Cards added in the onboarding survey:</p>
      <%= render "admin_area/card_accounts/from_survey", card_accounts: cards_from_survey %>
    <% else %>
      <p>User did not add any cards in the onboarding survey</p>
    <% end %>
  </div>
<% end %>
