<% provide :title, @person.first_name %>

<% present @person do |person| %>
  <% content_for :header_panel do %>
    <div class="panel-body">
      <h1><%= person.first_name %></h1>
      <p>
        <%= person.email %> -
        Account created on <%= person.signed_up %>
        <% if person.phone_number.present? %>
          - <%= person.phone_number %>
        <% end %>
      </p>
    </div>
  <% end %>

  <%= render "shared/hpanel" do %>
    <div class="panel-body">

      <div class="col-xs-12 col-md-6">
        <% if person.eligible? %>
          <% if @spending_info.present? %>
            <%= render "spending_infos/spending_info", spending_info: @spending_info, show_eligibility: true, show_readiness: true %>
          <% else %>
            User has not added their spending info
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <% if @balances.any? %>
          <h3>Existing Balances</h3>

          <ul class="person-balances">
            <% @balances.each do |balance| %>
              <li id="<%= dom_id(balance.currency) %>">
                <b><%= balance.currency_name %>:</b>
                <span class="balance"><%= number_with_delimiter(balance.value) %></span>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= t("admin.people.card_recommendations.no_balances") %>
        <% end # @balances.any? %>

        <% if person.award_wallet_email.present? %>
          <p><b>AwardWallet email:</b> <%= person.award_wallet_email %></p>
        <% end %>
      </div><!-- .col-xs-12.col-md-6 -->

      <div class="col-xs-12 col-md-6">
        <% if @travel_plans.any? %>
          <h3>Travel Plans</h3>

          <div class="account_travel_plans">
            <%= render collection: @travel_plans, partial: "travel_plans/travel_plan", locals: { show_admin_links: true } %>
          </div>
        <% else %>
          User has no upcoming travel plans
        <% end %>
      </div><!-- .col-xs-12.col-md-6 -->
    </div><!-- .panel-body -->
  <% end %>

    <%= render "shared/hpanel" do %>
      <div id="card-recommendation-filters" class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-2">
              <div class="form-inline">
                <b>B/P: </b>&nbsp;
                <% Card.bps.keys.each do |bp| %>
                  <%= card_bp_filter_check_box_tag(bp) %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-2">
              <div class="panel panel-primary">
                <div class="panel-heading">Bank</div>
                <div class="panel-body">
                  <% Bank.all.each do |bank| %>
                    <p><%= card_bank_filter_check_box_tag(bank) %></p>
                  <% end %>
                  <label for="card_bank_filter_all">
                    <%= check_box_tag :card_bank_filter_all, nil, true %>
                    Toggle all
                  </label>
                </div>
              </div>
            </div>

            <% Alliance.all.each do |alliance| %>
              <div class="col-xs-12 col-md-6 col-lg-2">
                <div class="panel panel-primary">
                  <div class="panel-heading"><%= alliance.name %></div>
                  <div class="panel-body">
                    <% alliance.currencies.each do |currency| %>
                      <p><%= card_currency_filter_check_box_tag(currency) %></p>
                    <% end %>
                    <label for="card_currency_alliance_filter_all_for_<%= alliance.id %>">
                      <%= check_box_tag(
                          "card_currency_alliance_filter_all_for_#{alliance.id}",
                          nil,
                          true,
                          class: "toggle-all-currency-checkbox"
                      ) %>
                      Toggle all
                    </label>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="col-xs-12 col-md-6 col-lg-2">
              <div class="panel panel-primary">
                <div class="panel-heading">Independent</div>
                <div class="panel-body">
                  <% Currency.where(alliance_id: nil).each do |currency| %>
                    <p><%= card_currency_filter_check_box_tag(currency) %></p>
                  <% end %>
                  <label for="card_currency_filter_all_independent">
                    <%= check_box_tag(
                        "card_currency_filter_all_independent",
                        nil,
                        true,
                        class: "toggle-all-currency-checkbox"
                    ) %>
                    Toggle all
                  </label>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>

  <% if person.eligible? %>
    <%= render "shared/hpanel" do %>
      <div class="panel-body">
        <h3>Card Accounts</h3>

        <div id="admin_person_card_accounts"
          <% if @card_accounts.size == 0 %>
            <%# this table is hidden, but still output, because it will be    %>
            <%# once a card is recommended and added to the table shown by JS %>
            style="display:none;"
          <% end %>
        >
          <table id="admin_person_card_accounts_table" class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Status</th>
              <th>Rec'ed</th>
              <th>Seen</th>
              <th>Clicked</th>
              <th>Applied</th>
              <th>Denied</th>
              <th>Declined</th>
              <th>Opened</th>
              <th>Closed</th>
              <th></th>
            </thead>
            <tbody>
              <%= render @card_accounts, partial: "admin_area/card_accounts/card_account" %>
            </tbody>
          </table>

        </div>

        <% if @card_accounts.size == 0 %>
          <p id="admin_person_card_accounts_none">User has no existing card accounts</p>
        <% end %>

        <% if @pulled_card_accounts.any? %>
          <%= link_to(
            "View #{pluralize(@pulled_card_accounts.size, "pulled recommendation")}",
            pulled_admin_person_card_recommendations_path(@person)
          ) %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    This person is not eligible to apply for cards
  <% end %>

  <% if @recommendation_notes.count > 0 %>
    <%= render "shared/hpanel" do %>
      <div class="panel-body">
        <h3>Recommendation Notes</h3>
        <% @recommendation_notes.order(created_at: :desc).each do |note| %>

          <div class="row">
            <div class="col-xs-2 recommendation-notes-date">
              <b><%= "#{ note.created_at }:" %></b>
            </div>

            <div class="col-xs-10">
              <%= simple_format(note.content, {}, sanitize: true) %>
            </div>
          </div>

        <% end %>
      </div>
    <% end %>
  <% end %>


  <%= render "shared/hpanel" do %>
    <div class="panel-body">

      <div class="row">

        <div class="col-xs-12">
          <%= form_tag(
            complete_admin_person_card_recommendations_path(person),
            id: 'complete_card_recommendations'
          ) do %>
            <%= text_area_tag(
              :recommendation_note, "",
              class: "form-control",
              rows: "3",
              placeholder: "Recommendation notes (optional)"
            ) %>

            <p class="help-block">
              When you're finished recommending cards to this user, click
              'Done' to send them a notification. Optionally add some notes
              above which the user will see with their recommendations.

              Recommendations and notes are per account, not per person.  If
              an account has a companion, only click 'Done' (on either
              person's page) once you've finished making recommendations
              for both the account owner and the companion.
            </p>

            <input class="btn btn-primary btn-lg" style="float:right;" type="submit" value="Done">


            <% if person.last_recommendations_at.present? %>
              <br>
              Person last received recommendations on:
              <span class="person_last_recommendations_at">
                <%= person.last_recommendations_at.strftime("%D") %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>

      <hr>

      <%# TODO - make the table sortable again %>
      <table
        class="admin-card-recommendation-table table"
        cellpadding="1"
        cellspacing="1"
      >

        <thead class="admin-card-recommendations-table-head">
          <tr>
            <th class="card-identifier">
              Identifier
            </th>
            <th class="card-name">
              Name
            </th>
            <th class="card-bank-name">
              Bank
            </th>
            <th class="card-bp">
              B/P
            </th>
            <th class="card-currency">
              Currency
            </th>
          </tr>
        </thead>

        <tbody>
          <% @offers_grouped_by_card.each do |card, offers| %>
            <tr
              id="<%= dom_id(card, :admin_recommend) %>"
              class="<%= dom_class(card, :admin_recommend) %>"
              data-bp="<%= card.bp %>"
              data-bank="<%= card.bank_id %>"
              data-currency="<%= card.currency_id %>"
            >
              <% present card do |card_p| %>
                <td class="card-identifier">
                  Card <%= card_p.identifier %>
                </td>
                <td class="card-name">
                  <%= card_p.name %>
                </td>
                <td class="card-bank-name">
                  <%= card_p.bank_name %>
                </td>
                <td class="card-bp">
                  <%= card_p.bp %>
                </td>
                <td class="card-currency">
                  <%= card_p.currency_name %>
                </td>
              <% end %>
            </tr><!-- .admin_recommend_card_(id) -->

            <tr
              id="<%= dom_id(card, :admin_recommend) %>_offers"
              class="<%= dom_class(card, :admin_recommend) %>_offers"
            >
              <td colspan="5">
                <table
                  id="<%= dom_id(card, :admin_recommend) %>_offers_table"
                  class="<%= dom_class(card, :admin_recommend) %>_offers_table table"
                  cellpadding="1"
                  cellspacing="1"
                >
                  <tbody>
                    <% present_each offers, AdminArea::OfferPresenter do |offer| %>
                      <tr
                        id="<%= dom_id(offer, :admin_recommend) %>"
                        class="<%= dom_class(offer, :admin_recommend) %>"
                      >
                        <td class="offer-identifier">
                          <%= offer.identifier %>
                        </td>
                        <td class="offer-points-awarded">
                          Points: &nbsp;
                          <b><%= offer.points_awarded %></b>
                        </td>
                        <td class="offer-spend">
                          Spend:&nbsp;
                          <b><%= offer.spend %></b>
                        </td>
                        <td class="offer-cost">
                          Cost:&nbsp;
                          <b><%= offer.cost %></b>
                        </td>
                        <td class="offer-days">
                          Days:&nbsp;
                          <b><%= offer.days %></b>
                        </td>
                        <td class="offer-link">
                          <b><%= offer.link_to_link %></b>
                        </td>
                        <td class="offer-recommend">
                          <%= offer.recommend_btn %>
                          <%= offer.confirm_recommend_form(person) do |f| %>
                            <div role="group">
                              <%= f.hidden_field :offer_id %>
                              <%= offer.confirm_recommend_btn(person) %>
                              <%= offer.cancel_recommend_btn %>
                            </div>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
            </tr><!-- .admin_recommend_card_(id) -->
          <% end %>
        </tbody>
      </table><!-- .admin-card-recommendation-table -->
    </div>
  <% end %>
<% end %>
