<% provide :title, @person.first_name %>

<%# TODO: move everything within this cell %>
<% page_cell = AdminArea::Cells::People::Show.(@person) %>

<% present @person do |person| %>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <h1><%= person.first_name %></h1>
      <p>
        <%= person.email %> -
        Account created on <%= person.signed_up %>
        <% if !person.phone_number.nil? %>
          - <%= person.phone_number %>
        <% end %>
      </p>
    </div><!-- .panel-heading -->

    <div class="panel-body">
      <div class="col-xs-12 col-md-6">
        <%= cell(Person::Cell::Admin::SpendingInfo, @person) %>
        <% if !@person.spending_info.nil? %>
          <%= link_to 'Edit', edit_admin_person_spending_info_path(@person) %>
        <% end %>
      </div>

      <div class="col-xs-12 col-md-6">
        <%= cell(Person::Cell::Admin::Balances, @person) %>

        <% if person.award_wallet_email.present? %>
          <p><b>AwardWallet email:</b> <%= person.award_wallet_email %></p>
        <% end %>
      </div><!-- .col-xs-12.col-md-6 -->

      <div class="col-xs-12 col-md-6">
        <% if @travel_plans.any? %>
          <h3>Travel Plans</h3>

          <div class="account_travel_plans">
            <% @travel_plans.each do |plan| %>
              <%= cell TravelPlan::Cell::Summary, plan %>
            <% end %>
          </div>
        <% else %>
          User has no upcoming travel plans
        <% end %>
      </div><!-- .col-xs-12.col-md-6 -->

      <div class="col-xs-12 col-md-6">
        <%= page_cell.regions_of_interest %>

        <%= page_cell.home_airports %>
      </div><!-- .col-xs-12.col-md-6 -->
    </div><!-- .panel-body -->
  </div><!-- .hpanel -->

  <div class="hpanel">
    <div id="card-recommendation-filters" class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-inline">
            <b>B/P: </b>&nbsp;
            <% CardProduct.bps.keys.each do |bp| %>
              <%= card_bp_filter_check_box_tag(bp) %>
            <% end %>
          </div>
        </div>
      </div><!-- .row -->

      <div class="row">
        <%= cell Bank::Cell::FilterPanel, Bank.order(name: :asc) %>

        <% Alliance.in_order.each do |alliance| %>
          <%= cell Alliance::Cell::CurrencyFilterPanel, alliance %>
        <% end %>
      </div><!-- .row -->
    </div><!-- .panel-body -->
  </div><!-- .hpanel -->

  <% if person.eligible? %>
    <div class="hpanel">
      <div class="panel-body">
        <h3>
          Cards
          <small><%= link_to raw('&plus; Add'), new_admin_person_card_path(@person) %></small>
        </h3>

        <div id="admin_person_cards"
          <% if @cards.size == 0 %>
            <%# this table is hidden, but still output, because it will be    %>
            <%# once a card is recommended and added to the table shown by JS %>
            style="display:none;"
          <% end %>
        >
          <table id="admin_person_cards_table" class="table table-striped tablesorter">
            <thead>
              <th>Card ID</th>
              <th>Name</th>
              <th>Status</th>
              <th class="sortable-column recommended">Rec'ed</th>
              <th>Seen</th>
              <th>Clicked</th>
              <th class="sortable-column applied">Applied</th>
              <th>Denied</th>
              <th>Declined</th>
              <th class="sortable-column opened sorted-column">Opened</th>
              <th class="sortable-column closed">Closed</th>
              <th></th>
            </thead>
            <tbody>
              <%= render @cards, partial: "admin_area/cards/card" %>
            </tbody>
          </table>

        </div>

        <% if @cards.size == 0 %>
          <p id="admin_person_cards_none">User has no existing card accounts</p>
        <% end %>

        <% if @pulled_cards.any? %>
          <%= link_to(
            "View #{pluralize(@pulled_cards.size, "pulled recommendation")}",
            pulled_admin_person_recommendations_path(@person)
          ) %>
        <% end %>
      </div>
    </div><!-- .hpanel -->
  <% else %>
    This person is not eligible to apply for cards
  <% end %>

  <% if @recommendation_notes.count > 0 %>
    <div class="hpanel">
      <div class="panel-body">
        <h3>Recommendation Notes</h3>
        <% @recommendation_notes.order(created_at: :desc).each do |note| %>

          <div class="row">
            <div class="col-xs-2 recommendation-notes-date">
              <b><%= "#{ note.created_at }:" %></b>
            </div>

            <div class="col-xs-10">
              <%= auto_link(simple_format(note.content)) %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>

  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <%= form_tag(
            complete_admin_person_recommendations_path(person),
            id: 'complete_card_recommendations'
          ) do %>
            <%= text_area_tag(
              :recommendation_note, "",
              class: "form-control",
              rows: "3",
              placeholder: "Recommendation notes (optional)"
            ) %>

            <p class="help-block">
              When you're finished recommending cards to this user, click
              'Done' to send them a notification. Optionally add some notes
              above which the user will see with their recommendations.

              Recommendations and notes are per account, not per person.  If
              an account has a companion, only click 'Done' (on either
              person's page) once you've finished making recommendations
              for both the account owner and the companion.
            </p>

            <input class="btn btn-primary btn-lg" style="float:right;" type="submit" value="Done">


            <% if !person.last_recommendations_at.nil? %>
              <br>
              Person last received recommendations on:
              <span class="person_last_recommendations_at">
                <%= person.last_recommendations_at.strftime("%D") %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>

      <hr>

      <%# TODO - make the table sortable again %>
      <table
        class="admin-card-recommendation-table table"
        cellpadding="1"
        cellspacing="1"
      >
        <thead class="admin-card-recommendations-table-head">
          <tr>
            <th class="card-identifier">
              Identifier
            </th>
            <th class="card-name">
              Name
            </th>
            <th class="card-bank-name">
              Bank
            </th>
            <th class="card-bp">
              B/P
            </th>
            <th class="card-currency">
              Currency
            </th>
          </tr>
        </thead>

        <tbody>
          <% @offers_grouped_by_product.each do |product, offers| %>
            <%= cell(Recommendation::Cell::Admin::New::ProductsTable::Row, product) %>

            <tr
              id="<%= dom_id(product, :admin_recommend) %>_offers"
              class="<%= dom_class(product, :admin_recommend) %>_offers"
            >
              <td colspan="5">
                <%= cell(CardProduct::Cell::Admin::OffersTable, product, person: @person) %>
              </td>
            </tr><!-- .admin_recommend_card_product_(id) -->
          <% end %>
        </tbody>
      </table><!-- .admin-card-recommendation-table -->
    </div><!-- .panel-body -->
  </div>
<% end %>
