<% provide :title, @person.first_name %>

<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @person.first_name %>
      <small><%= @account.email %></small>
    </h1>
    <p>Account created on <%= @person.signed_up.strftime("%D") %></p>
  </div>

  <div class="col-xs-12">
    <h2>Spending/Financial Information</h2>

    <% if @person.spending_info.present? %>
      <%= render "spending_infos/spending_info", spending_info: @person.spending_info %>
      <div class="clearfix"></div>
    <% else %>
      <p>This person hasn't added any spending/financial information.</p>
    <% end %>
  </div>

  <div class="col-xs-12">
    <hr>

    <% if @person.onboarded_cards? %>
      <p><%= pluralize(@card_accounts.size, "card") %> on file.</p>
    <% else %>
      <p>This person hasn't completed the initial cards survey yet.</p>
    <% end %>
  </div>

  <div class="col-xs-12">
    <hr>

    <% if @person.onboarded_balances? %>
      <% if @balances.any? %>
        <%= render "balances/list", balances: @balances %>
      <% else %>
        <p>This person has no existing frequent flyer balances</p>
      <% end %>
    <% else %>
      <p>This person hasn't added their balances yet.</p>
    <% end %>
  </div>

  <div class="col-xs-12">
    <hr>
    <% if @person.readiness_given? %>
      <p>
        This person indicated on
        <%= @person.readiness_given_at.strftime("%D") %> that they are
        <%= "not" if @person.unready_to_apply? %> ready to apply for cards.
      </p>

      <% if @person.ready_to_apply? %>
        <p><%= admin_link_to_recommend_card(@person) %><p>
      <% end %>
    <% else %>
      <p>
        This person has not said that whether or not they are ready to apply
        for cards.
      </p>
    <% end %>
  </div>

  <div class="col-xs-12">
    <%= link_to 'Back to all users', admin_accounts_path %>
  </div>
</div>
