<div class="hpanel hblue"><div class="panel-body text-center" style="color: #8492a5 ;">
    <div class="row">
      <div class="<%= col_classes %>">
        <p style="color: #47525d ;"><strong>My home airports</strong></p>

        <% home_airports.each do |airport| %>
          <p><%= airport.full_name %></p>
        <% end %>

        <%= link_to(
          edit_home_airports_path,
          class: "btn btn-outline btn-xs btn-primary"
        ) do %>
          <i class="fa fa-pencil"> </i>
          Edit Home Airports
        <% end %>
      </div>

      <% if regions_of_interest.any? %>
        <div class="<%= col_classes %>">
          <p style="color: #47525d ;"><strong>My travel wish list</strong></p>
          <% regions_of_interest.each do |region| %>
            <p><%= region.name %></p>
          <% end %>

          <% if false %>
            <%# there's currently no way to edit your ROIs :( %>
            <a class="btn btn-outline btn-xs btn-primary"><span class="fa fa-pencil"></span> Edit Wish List</a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
