<tr id="<%= html_id %>">
  <td><%= currency_name %></td>
  <% unless simple %>
    <td><%= owner_name %></td>
    <td><%= login %></td>
  <% end %>
  <td><%= formatted_balance %></td>
  <% unless simple %>
    <td><%= expiration_date %></td>
  <% end %>
  <td class='loyalty_account_updated_at'>
    <%= updated_at %>
  </td>

  <td>
    <%= edit_btn %>
    <%= delete_btn %>
  </td>
</tr>
