<tr>
  <td><%= currency_name %></td>
  <td><%= owner_name %></td>
  <td><%= login %></td>
  <td><%= formatted_balance %></td>

  <td><%= expiration_date %></td>
  <td><%= updated_at %></td>

  <td>
    <%= edit_btn %>
    <%= delete_btn %>
  </td>
</tr>
