<%= tr_tag do %>
  <% if with_person_column %>
    <td><%= link_to_person %></td>
  <% end %>
  <td>
    <%= card_product_name %>
    (<%= card_product_bp[0].upcase %>)
  </td>
  <td>
    <%= link_to_offer %>
  </td>
  <td class="card_recommendation_status">
    <%= status %>
    <%= decline_reason_tooltip %>
  </td>
  <td class="card_recommendation_recommended_at" data-text="<%= model.recommended_at %>">
    <%= recommended_at %>
  </td>
  <td class="card_recommendation_seen_at">
    <%= seen_at %>
  </td>
  <td class="card_recommendation_clicked_at">
    <%= clicked_at %>
  </td>
  <td class="card_recommendation_applied_on" data-text="<%= model.applied_on %>">
    <%= applied_on %>
  </td>
  <td class="card_recommendation_declined_at">
    <%= declined_at %>
  </td>
  <td>
    <%= link_to_edit %> |
    <%= link_to_delete %>
  </td>
<% end # tr_tag %>
