<% provide :title, "Card Images" %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1>Card Images</h1>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        id="admin_card_images_table"
        class="table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <tbody>
          <% @products.each do |product| %>
            <tr id="<%= dom_id(product) %>">
              <td><%= cell(AdminArea::CardProducts::Cell::Identifier, product) %></td>
              <td><%= product.bank_name %></td>
              <td><%= link_to product.name, admin_card_product_path(product) %></td>
              <td><%= cell(CardProduct::Cell::Network, product) %></td>
              <td><%= cell(CardProduct::Cell::Image, product) %></td>
            </tr>
          <% end # present_each %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <%= pluralize @products.size, "card" %>
  </div>
</div>
