<% provide :title, 'Card Products' %>

<div class="hpanel">
  <div class="panel-heading hbuilt">
    <h1 class="font-light m-b-xs">
      Card Products
    </h1>
    <%= link_to 'Add New', new_admin_card_product_path %>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table
        id="admin_cards_table"
        class="table table-striped"
        cellpadding="1"
        cellspacing="1"
      >
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Bank</th>
            <th>Name</th>
            <th>Network</th>
            <th>Currency</th>
            <th>B/P</th>
            <th>Type</th>
            <th>Annual Fee</th>
            <th>On survey?</th>
            <th></th>
            <th class="card-offer-ctrls">Offers</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr id="<%= dom_id(product) %>">
              <td><%= cell(AdminArea::CardProducts::Cell::Identifier, product) %></td>
              <td><%= product.bank_name %></td>
              <td><%= link_to product.name, admin_card_product_path(product) %></td>
              <td><%= cell(CardProduct::Cell::Network, product) %></td>
              <td><%= product.currency&.name || 'Unknown' %></td>
              <td><%= product.bp %></td>
              <td><%= product.type %></td>
              <td><%= cell(CardProduct::Cell::AnnualFee, product) %></td>
              <td class="card_shown_on_survey">
                <% if product.shown_on_survey? %>
                  <i class="fa fa-check"> </i>
                <% end %>
              </td>
              <td>
                <%= link_to 'Edit', edit_admin_card_product_path(product) %>
              </td>
              <td class="card-offer-ctrls">
                <%= link_to 'View', admin_card_product_offers_path(product) %> |
                <%= link_to 'New', new_admin_card_product_offer_path(product) %>
              </td>
            </tr>
          <% end # present_each %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel-footer">
    <%= pluralize @products.size, "card" %>
  </div>
</div>
