<tr id="admin_recommend_offer_<%= id %>" class="admin_recommend_offer">
  <td class="offer-identifier">
    <%= identifier %>
  </td>
  <td class="offer-partner">
    Partner: &nbsp;
    <b><%= partner_name %></b>
  </td>
  <td class="offer-points-awarded">
    Points: &nbsp;
    <b><%= points_awarded %></b>
  </td>
  <td class="offer-spend">
    Spend:&nbsp;
    <b><%= spend %></b>
  </td>
  <td class="offer-cost">
    Cost:&nbsp;
    <b><%= cost %></b>
  </td>
  <td class="offer-days">
    Days:&nbsp;
    <b><%= days %></b>
  </td>
  <td class="offer-link">
    <b><%= link_to_link %></b>
  </td>
  <td class="offer-recommend">
    <%= buttons_to_recommend %>
  </td>
</tr>
