<div class="hpanel">
  <div class="panel-heading">
    <h1>Manage Admins</h1>
  </div>
  <div class="panel-body">
    <%= link_to_add_new %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% model.each do |admin| %>
          <tr>
            <td><%= admin.id %></td>
            <td><%= image_tag(admin.avatar.url, size: '50x50') %></td>
            <td><%= escape!(admin.name) %></td>
            <td><%= escape!(admin.email) %></td>
            <td><%= link_to 'Edit', edit_admin_admin_path(admin.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
