<div class="hpanel">
  <div class="panel-heading">
    <h1><%= title %></h1>
  </div>
  <%= errors %>
  <div class="panel-body">
    <%= form_for [:admin, form] do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <% unless form.persisted? %>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.text_field :password %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>

      <%= f.submit 'Save', class: 'btn btn-success' %>
      <%= link_to 'Back', admin_admins_path, class: 'btn btn-link' %>
    <% end %>

  </div>
</div>
