<div id="header">
  <div class="color-line">
  </div>
  <div id="logo"
    class="light-version <%= "admin-navbar" if admin_page? %>"
  >
    <%= link_to root_path do %>
      <span>
        Abroaders&nbsp;
        <% if admin_page? %> <small>(Admin)</small> <% end %>
      </span>
    <% end %>
  </div>
  <nav role="navigation">
    <% if sidebar? %>
      <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <% end %>

    <div class="small-logo" <%= raw 'style="padding-left: 20px"' unless sidebar? %>>
      <span class="text-primary">Abroaders</span>
    </div>

    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
        <i class="fa fa-chevron-down"></i>
      </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <% if current_account || current_admin %>
            <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_account_session_path %></li>
            <li><%= link_to "Sign up", new_account_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <% if current_account || current_admin %>
          <% if current_account&.onboarded? %>
            <%= cell(Notification::Cell::List, current_account) %>
          <% end %>
          <li class="text">
            <%= current_account ? current_account.email : current_admin.email %>
          </li>
          <li>
            <%= link_to sign_out_path, method: :delete, id: "sign_out_link" do %>
              <i class="pe-7s-upload pe-rotate-90"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", new_account_session_path, class: "text" %>
          </li>
          <li>
            <%= link_to "Sign up", new_account_registration_path, class: "text" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
