<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%#= action_cable_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>

  <%= render "shared/third_party_scripts/google_analytics" %>
  <%= render "shared/third_party_scripts/full_story" %>
  <%= render "shared/third_party_scripts/heap" %>
  <%= render "shared/third_party_scripts/intercom" %>
</head>
