<aside id="menu">
  <div id="navigation">
    <% if false %>
      <div class="profile-picture">

        <div class="stats-label text-color">
          <span class="font-extra-bold font-uppercase">Username</span>

          <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <small class="text-muted">Links <b class="caret"></b></small>
            </a>
            <ul class="dropdown-menu animated flipInX m-t-xs">
              <li><a href="#">Example link</a></li>
              <li><a href="#">Example link</a></li>
            </ul>
          </div>


        </div>
      </div>
    <% end %>

    <ul class="nav" id="side-menu">
      <%# TODO all this `if request.path == X` nonsense should be DRYed %>
      <% if current_account %>
        <li class="<%= "active" if request.path == root_path %>">
          <%= link_to root_path do %>
            <span class="nav-label">Dashboard</span>
          <% end %>
        </li>
        <% if current_account.onboarded? %>
          <li class="<%= "active" if request.path == travel_plans_path %>">
            <%= link_to travel_plans_path do %>
              <span class="nav-label">Travel Plans</span>
            <% end %>
          </li>
          <li class="<%= "active" if request.path == card_accounts_path %>">
            <%= link_to card_accounts_path do %>
              <span class="nav-label">Cards</span>
            <% end %>
          </li>
        <% end %>
      <% elsif current_admin %>
        <li class="<%= "active" if request.path == root_path %>">
          <%= link_to root_path do %>
            <span class="nav-label">Dashboard</span>
          <% end %>
        </li>
        <li class="<%= "active" if request.path == admin_destinations_path %>">
          <%= link_to "Destinations", admin_destinations_path %>
        </li>
        <li class="<%= "active" if request.path == admin_cards_path %>">
          <%= link_to "Cards", admin_cards_path %>
        </li>
        <li class="<%= "active" if request.path == admin_offers_path %>">
          <%= link_to "Offers", admin_offers_path %>
        </li>
        <li class="<%= "active" if request.path == admin_accounts_path %>">
          <%= link_to "Users", admin_accounts_path %>
        </li>
        <li class="<%= "active" if request.path == edit_admin_registration_path %>">
          <%= link_to "My Account", edit_admin_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>

