<% layout = cell(Abroaders::Cell::Layout, nil, title: title(yield(:title))) %>
<!DOCTYPE html>
<html>
  <%= layout.head %>
  <body class="<%= "blank" unless layout.sidebar? %> fixed-navbar fixed-sidebar">
    <%= layout.navbar %>
    <%= layout.sidebar %>

    <div id="wrapper" class="wrapper <%= 'wrapper-with-sidebar' if layout.sidebar? %>">
      <div class="content">
        <%= layout.noscript %>

        <%= layout.progress_bar %>

        <%= flash_alerts %>

        <%= cell(Abroaders::Cell::RecommendationAlert, current_account) %>

        <%= yield %>
      </div><!-- content -->
      <%= cell Abroaders::Cell::Footer %>
    </div>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
