<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="<%= "blank" unless sidebar? %> fixed-navbar fixed-sidebar">
    <%= render "layouts/header" %>
    <%= render "layouts/sidebar" if sidebar? %>

    <%# '.wrapper' class adds the padding that prevents the main content from %>
    <%# being overlapped by the navbar. '#wrapper' ID also adds the padding   %>
    <%# at the left for the sidebar %>
    <div id="<%= "wrapper" if sidebar? %>" class="wrapper">
      <%= yield(:wide) if content_for?(:wide) %>

      <% if content_for?(:header_panel) %>
        <div class="normalheader">
          <div class="hpanel">
            <%= yield(:header_panel) %>
          </div>
        </div>
      <% end %>

      <div class="content">
        <%= render "layouts/noscript" unless Rails.env.test? %>

        <%= flash_alerts %>
        <%= yield %>
      </div><!-- content -->
      <%= render "layouts/footer" %>
    </div>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
