<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <% sidebar = cell(Abroaders::Cell::Sidebar, current_user) %>
  <body class="<%= "blank" unless sidebar.show? %> fixed-navbar fixed-sidebar">
    <%= cell Abroaders::Cell::Navbar, current_user %>
    <%= sidebar %>

    <div id="wrapper" class="wrapper <%= 'wrapper-with-sidebar' if sidebar.show? %>">
      <div class="content">
        <%= cell(Abroaders::Cell::Noscript) %>

        <%= cell(Onboarding::Cell::ProgressBar, current_account) %>

        <%= flash_alerts %>

        <%= cell(Abroaders::Cell::RecommendationAlert, current_account) %>

        <%= yield %>
      </div><!-- content -->
      <%= cell Abroaders::Cell::Footer %>
    </div>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
