<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="<%= "blank" unless sidebar? %>">
    <%= render "layouts/header" %>

    <% if sidebar? %>
      <%= render "layouts/sidebar" %>
    <% end %>

    <div id="<%= "wrapper" if sidebar? %>">
      <div class="content">
        <%= flash_alerts %>
        <%= yield %>
      </div><!-- content -->
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
