<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="<%= "blank" unless sidebar? %> fixed-navbar fixed-sidebar">
    <%= render "layouts/header" %>

    <% if sidebar? %>
      <%= render "layouts/sidebar" %>
    <% end %>

    <div id="<%= "wrapper" if sidebar? %>" class="wrapper">
      <% if content_for?(:header_panel) %>
        <div class="normalheader">
          <div class="hpanel">
            <%= yield(:header_panel) %>
          </div>
        </div>
      <% end %>

      <div class="content">
        <noscript>
          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-danger">
                <p>
                  Hey there! It looks like you have Javascript disabled in your
                  web browser. You'll need to enable it in order for our site
                  to work correctly. Don't be shy, we don't bite.
                </p>

                <p>
                  If you're not sure what Javascript is or how you can enable
                  it, see
                  <%= link_to "this link", "http://enable-javascript.com" %>
                  for more information.
                </p>
              </div>
            </div>
          </div>
        </noscript>

        <%= flash_alerts %>
        <%= yield %>
      </div><!-- content -->
      <%= render "layouts/footer" %>
    </div>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
