<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="<%= "blank" unless sidebar? %> fixed-navbar fixed-sidebar">
    <%= cell Abroaders::Cell::Navbar,  current_user %>
    <%= cell Abroaders::Cell::Sidebar, current_user if sidebar? %>

    <div id="wrapper" class="wrapper <%= 'wrapper-with-sidebar' if sidebar? %>">
      <div class="content">
        <%= render "layouts/noscript" unless Rails.env.test? %>

        <%= flash_alerts %>

        <%= cell(RecommendationRequest::Cell::Banner, current_account) if current_account %>

        <%= yield %>
      </div><!-- content -->
      <%= cell Abroaders::Cell::Footer %>
    </div>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
