<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="<%= "blank" unless sidebar? %>">
    <%= render "layouts/header" %>

    <% if sidebar? %>
      <%= render "layouts/sidebar" %>
    <% end %>

    <div id="<%= "wrapper" if sidebar? %>">
      <% if content_for?(:header_panel) %>
        <div class="normalheader">
          <div class="hpanel">
            <%= yield(:header_panel) %>
          </div>
        </div>
      <% end %>

      <div class="content">
        <%= flash_alerts %>
        <%= yield %>
      </div><!-- content -->
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
