<% layout = cell(Abroaders::Cell::Layout, nil, flash: flash, title: title(yield(:title))) %>
<!DOCTYPE html>
<html>
  <%= layout.head %>
  <body class="<%= layout.body_classes %>">
    <%= layout.navbar %>
    <%= layout.sidebar %>

    <div id="wrapper" class="wrapper <%= 'wrapper-with-sidebar' if layout.sidebar? %>">
      <div class="content">
        <%= layout.noscript %>

        <%= layout.progress_bar %>

        <%= layout.flash_alerts %>

        <%= layout.rec_alert %>

        <%= yield %>
      </div><!-- content -->
    </div>
    <%= layout.footer %>
    <%= layout.third_party_scripts %>
  </body>
</html>
