<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="blank">
    <%= cell Abroaders::Cell::Navbar, current_user %>
    <%= cell(Abroaders::Cell::Noscript) %>

    <%= flash_alerts %>
    <%= yield %>

    <%= cell Abroaders::Cell::Footer %>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
