<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="blank">
    <%= render "layouts/header" %>

    <%= flash_alerts %>
    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
