<% layout = cell(Abroaders::Cell::Layout, nil, title: title(yield(:title))) %>
<!DOCTYPE html>
<html>
  <%= layout.head %>
  <body class="blank">
    <%= layout.navbar %>
    <%= layout.noscript %>

    <%= flash_alerts %>
    <%= yield %>

    <%= cell Abroaders::Cell::Footer %>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
