<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="blank">
    <%= cell Abroaders::Cell::Navbar, current_user %>

    <%= flash_alerts %>
    <%= yield %>

    <%= render "layouts/footer" %>
    <%= render "shared/third_party_scripts" %>
  </body>
</html>
