<div class="row">
  <div class="col-xs-12">
    <h1>Dashboard</h1>
  </div>

  <% if current_account.onboarded? %>
    <div class="col-xs-12">
      <div class="alert alert-info">
        <% if current_account.people.any? { |p| p.last_recommendations_at.present? } %>
          Your card recommendations are ready.
          <%= link_to "Click here to view", card_accounts_path %>
        <% else %>
          The Abroaders team is hand selecting the ideal rewards cards based on
          your current points, travel plans and spending. We’ll let you know as
          soon as the card recommendations are ready to view.
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>
      Travel Plans
      <% if @travel_plans.any? %>
        <small>
          <%= link_to "Add new", new_travel_plan_path %>
        </small>
      <% end %>
    </h2>

    <% if @travel_plans.any? %>
      <div class="account_travel_plans">
        <%= render collection: @travel_plans, partial: "travel_plans/travel_plan" %>
      </div>
    <% else %>
      You have no upcoming travel plans.
      <%= link_to "Add one", new_travel_plan_path %>
    <% end %>
  </div>

  <hr>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Points Earning</h2>
  </div>
</div>

<div class="row">
  <%= render partial: "accounts/dashboard/person", collection: @people, as: :person %>
</div>
