<div class="row">
  <div class="col-xs-12">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>
      Travel Plans
      <% if @travel_plans.any? %>
        <small>
          <%= link_to "Add new", new_travel_plan_path %>
        </small>
      <% end %>
    </h2>

    <% if @travel_plans.any? %>
      <div class="account_travel_plans">
        <%= render collection: @travel_plans, partial: "travel_plans/travel_plan" %>
      </div>
    <% else %>
      You have no upcoming travel plans.
      <%= link_to "Add one", new_travel_plan_path %>
    <% end %>
  </div>

  <hr>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Points Earning</h2>
  </div>
</div>

<div class="row">
  <% @people.each do |person| %>
    <div id="<%= dom_id(person) %>" class="<%= dom_class(person) %> col-xs-12 col-md-6">
      <div class="well">
        <h3><%= person.first_name %></h3>

        <% if person.spending_info.present? %>
          <%= render person.spending_info %>
          <div class="clearfix"></div>
        <% else %>
          <hr>

          <p>
            You have not added this person's financial details. We can't
            recommend a credit card until you provide this information.
          </p>

          <p>
            <%= link_to(
              "Add financial information",
              new_person_spending_info_path(person)
            ) %>
          </p>
        <% end %>

        <hr style="margin-top:0">

        <h4>Cards</h4>

        <% if person.onboarded_cards? %>
          <p>
            <%= pluralize(person.card_accounts.count, "card") %> on file.
            <%= link_to "View", "#" %>
          </p>
        <% else %>
          <p>
            Before we can recommend any credit cards to this person,
            we need to know which cards they already have.
          </p>

          <p>
            <%= link_to "Add existing cards", survey_person_card_accounts_path(person) %>
          </p>

        <% end %>

        <hr style="margin-top:0">

        <h4>Balances</h4>

        <% if person.onboarded_balances? %>
          <% if person.balances.any? %>
            <%= render(
              "balances/list",
              balances: person.balances.includes(:currency)
            ) %>
          <% else %>
            <p>This person has no existing frequent flyer balances</p>
          <% end %>
        <% else %>
          <p>
            You have not added any frequent flyer balances for this person.  In
            order to make the best credit card recommendation, we need to know
            if this person already has any existing frequent flyer balances.
          </p>

          <p>
            <%= link_to "Add balances", survey_person_balances_path(person) %>
          </p>
        <% end %>

        <hr>

        <% if person.readiness_status_given? %>
          <p>
            You indicated on <%= person.readiness_status.created_at.strftime("%D") %>
            that <%= person.first_name %> is <%= "not" if person.unready_to_apply? %>
            ready to apply for cards.
          </p>

          <% if person.unready_to_apply? && person.unreadiness_reason.present? %>
            <p>Reason given: <i><%= person.unreadiness_reason %></i></p>
          <% end %>
              
        <% else %>
          <p>
            Please tell us when you're ready to apply for cards.
            <%= link_to "Update readiness status", new_person_readiness_status_path(person) %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
