<div class="row">
  <div class="col-xs-12">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>
      Travel Plans
      <% if @travel_plans.any? %>
        <small>
          <%= link_to "Add new", new_travel_plan_path %>
        </small>
      <% end %>
    </h2>

    <% if @travel_plans.any? %>
      <div class="account_travel_plans">
        <%= render collection: @travel_plans, partial: "travel_plans/travel_plan" %>
      </div>
    <% else %>
      You have no upcoming travel plans.
      <%= link_to "Add one", new_travel_plan_path %>
    <% end %>
  </div>

  <hr>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Points Earning</h2>
  </div>
</div>

<div class="row">
  <%= render partial: "accounts/dashboard/person", collection: @people, as: :person %>
</div>

<% if @unresolved_recommendations.any? %>
  <div
    id="unresolved_recommendations_notification_modal"
    class="modal fade in"
    tabindex="-1"
    role="dialog"
    aria-labelledby="unresolved_recommendations_notification_modal_label"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="color-line"></div>
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="unresolved_recommendations_notification_modal_label">
            Action Required
          </h3>
        </div>

        <div class="modal-body">
          <p>
            You have <%= pluralize @unresolved_recommendations.size, "card recommendation" %>
            which require<%= "s" unless @unresolved_recommendations.many? %> action.
            Please view your recommendations and make the necessary updates.
          </p>
        </div>
        <div class="modal-footer">
          <%= link_to "Take me to my recommendations", card_accounts_path, class: "btn btn-primary" %>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">I'll do it later</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
