<%
   ready = current_account.people.any?{ |person| person.ready? }
   eligible = current_account.people.any?{ |person| person.eligible? }
%>

<div class="hpanel new-user-dashboard">
  <div class="panel-heading hbuilt text-center">
    <h1>Great Job <i class="fa fa-thumbs-up" aria-hidden="true"></i></h1>
    <br/>
    <h3>
      <% if ready %>
        <%= t("dashboard.account.ready.title") %>
      <% elsif eligible %>
        <%= t("dashboard.account.eligible.title")%>
      <% else %>
        <%= t("dashboard.account.ineligible.title") %>
      <% end %>
    </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-md-4 new-user-steps">
        <p class="completed">
          1. Complete profile <i class="fa fa-check" aria-hidden="true"> </i>
        </p>
        <% if ready %>
          <p class="next">2. Wait 24-48 hours</p>
          <p>3. Apply for card</p>
          <p>4. Earn bonus points</p>
          <p>5. Book travel</p>
        <% elsif eligible %>
          <p class="next">2. Tell us when you're ready</p>
          <p>3. Apply for card</p>
          <p>4. Earn bonus points</p>
          <p>5. Book travel</p>
        <% else %>
          <p class="next">2. Earn points</p>
          <p>3. Travel</p>
        <% end %>
      </div><!-- .new-user-steps -->

      <div class="col-xs-12 col-md-8 main-area">
        <p><b>What's next?</b></p>
        <% if ready %>
          <p><%= t("dashboard.account.ready.message") %></p>
        <% elsif eligible %>
          <p>
            When you’re ready to apply for cards, just
            <%= link_to "let us know", edit_readiness_path %> and an expert will pick
            the best cards to maximize your travel savings. If we don’t hear back,
            we’ll remind you in about a month.
          </p>

          <p>
            In the meantime, we’ll track the
            <%= link_to "points", balances_path %>,
            <%= link_to "travel plans", travel_plans_path %>
            and <%= link_to "cards", cards_path %> you added to your account
            and send you an alert

            <span
              class="tooltip-btn"
              data-toggle="tooltip"
              title="Alerts might include easy ways to earn free points, cheap flights
              to places you have listed in your travel plans, or advice about using
              your points if you have enough to travel with already."
            >(?)</span>

            if we find any good deals for you.
          </p>
        <% else %>
          <p><%= t("dashboard.account.ineligible.message") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
