<% provide :title, "Select Account Type" %>
<% provide :no_sidebar, true %>

<div class="row">

  <div
    id="account_type_select_header"
    class="col-xs-12 col-md-8 col-md-offset-2"
  >
    <h1>How do you want to earn points?</h1>

    <p>
      Abroaders will help you earn the right points for your 
      <% if @travel_plan %>
        trip to <%= @travel_plan.flights.first.to.name %>.
      <% else %>
        next trip.
      <% end %>
    </p>
  </div>

  
  <%# The JS will read this value and fill the places where person_0's name
    needs to be displayed within HTML that's returned by I18n.t. This is hacky,
    but passing the name to t with an interpolated %{} string will leave us
    open to XSS when the i18n string contains HTML %>
  <%= hidden_field_tag :person_0_name_hidden_input, @person_0.first_name %>

  <div
    id="solo_earning_select"
    class="account_type_select well col-xs-12 col-md-4 col-md-offset-2"
  >
    <h2>Solo Earning</h2>


    <%= form_for @solo_account, url: solo_account_path do |f| %>

      <div
        id="solo_account_step_0"
        class="account_type_form_step_0"
      >
        <p><%= t(".abroaders_will_help") %></p>

        <button id="solo_account_step_0_submit_btn" class="btn btn-primary">
          <%= t(".sign_up_for_solo_earning") %>
        </button>
      </div>

      <div
        id="solo_account_step_1"
        class="account_type_form_step_1"
        style="display:none;"
      >
        <p class="help-block">
          <%= t(".are_you_eligible") %>
        </p>
        <p class="help-block">
          <%= t(".you_need_to_be") %>
        </p>

        <div class="radio">
          <label>
            <%= f.radio_button(
              :eligible_to_apply,
              true,
              class: :solo_account_eligible_to_apply
            ) %>
            Yes - I am eligible
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button(
              :eligible_to_apply,
              false,
              class: :solo_account_eligible_to_apply
            ) %>
            No - I am not eligible
          </label>
        </div>

        <hr>

        <div
          id="solo_account_monthly_spending_form_group"
          class="form-group"
        >
          <p class="help-block">
            <%= t(".whats_your_monthly_spend") %>
          </p>
          <p class="help-block">
            <%= t(".you_should_exclude") %>
          </p>
          <div class="input-group">
            <div class="input-group-addon">
              $
            </div>
            <%= f.number_field(
              :monthly_spending_usd,
              min: 0,
              placeholder: "Estimated monthly spending"
            ) %>
          </div>
        </div>

        <div
          id="solo_account_not_eligible_help_text"
          style="display:none;"
        >
          <p class="help-block">
            <%= t(".we_can_only_recommend") %>
          </p>
        </div>

        <div
          id="solo_account_invalid_monthly_spending_alert"
          class="alert alert-danger"
          style="display:none;"
        >
          Invalid monthly spend. Must be a number greater than
          or equal to 0.
        </div>

        <%= f.submit(
          "Submit",
          id: "solo_account_submit_btn",
          class: "btn-primary"
        ) %>
      </div>
    <% end %>
  </div>

  <div
    id="partner_earning_select"
    class="account_type_select well col-xs-12 col-md-4"
  >
    <h2><%= t(".couples_earning") %></h2>

    <%= form_for @partner_account, url: partner_account_path do |f| %>

      <div
        id="partner_account_step_0"
        class="account_type_form_step_0"
      >
        <p><%= t(".this_option_is_ideal") %></p>
        <p><%= t(".partner_earning_disclaimer") %></p>

        <div
          id="partner_account_invalid_partner_name_alert"
          class="alert alert-danger"
          style="display:none;"
        >
          <%= t(".please_enter_a_valid_name") %>
        </div>

        <div class="form-group">
          <%= f.text_field(
            :partner_first_name,
            placeholder: t(".whats_your_partners_first_name")
          ) %>
        </div>

        <button
          id="partner_account_step_0_submit_btn"
          class="btn btn-primary"
        >
          <%= t(".sign_up_for_couples_earning") %>
        </button> </div>

      <div
        id="partner_account_step_1"
        class="account_type_form_step_1"
        style="display:none;"
      >
        <p class="help-block"><%= t(".are_you_and_partner_eligible") %></p>
        <p class="help-block"><%= t(".you_need_to_be") %></p>

        <div class="radio">
          <label>
            <%= f.radio_button(
              :eligibility,
              "both",
              class: :partner_account_eligibility
            ) %>
            Both <%= @person_0.first_name %> and
            <span class="partner_account_person_1_first_name"></span>
            are eligible.
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button(
              :eligibility,
              "person_0",
              class: :partner_account_eligibility
            ) %>
            Only <%= @person_0.first_name %> is eligible.
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button(
              :eligibility,
              "person_1",
              class: :partner_account_eligibility
            ) %>
            Only
            <span class="partner_account_person_1_first_name"></span>
            is eligible.
          </label>
        </div>

        <div class="radio">
          <label>
            <%= f.radio_button(
              :eligibility,
              "neither",
              class: :partner_account_eligibility
            ) %>
            Neither of us is eligible.
          </label>
        </div>

        <hr>

        <div
          id="partner_account_monthly_spending_form_group"
          class="form-group"
        >
          <p
            id="partner_account_only_one_person_eligible_help_text"
            class="help-block"
            style="display:none;"
          >
            <%= t(".only_one_eligible_help_text_html") %>
          </p>

          <p class="help-block">
            <%= t(
              ".estimate_combined_spending_html",
              person_0_name: @person_0.first_name
            ) %>
          </p>

          <p class="help-block">
            <%= t(".you_should_exclude") %>
          </p>

          <div class="input-group">
            <div class="input-group-addon">
              $
            </div>
            <%= f.number_field(
              :monthly_spending_usd,
              min: 0,
              placeholder: "Estimated combined monthly spending"
            )%>
          </div>
        </div>

        <p
          id="partner_account_not_eligible_help_text"
          class="help-block"
          style="display:none;"
        >
          <%= t(".we_can_only_recommend") %>
        </p>

        <div
          id="partner_account_invalid_monthly_spending_alert"
          class="alert alert-danger"
          style="display:none;"
        >
          Invalid monthly spend. Must be a number greater than
          or equal to 0.
        </div>

        <%= f.submit(
          "Submit",
          id: "partner_account_submit_btn",
          class: "btn-primary"
        ) %>
      </div>
      </div>

    <% end # form_for %>
  </div>

</div>
