<% provide :title, "Select Account Type" %>
<% provide :no_sidebar, true %>

<div
  data-react-component="AccountTypeForm"
  data-owner-name="<%= @owner.first_name %>"
  data-destination-name="<%= @destination&.name %>"
  data-solo-path="<%= solo_account_path %>"
  data-partner-path="<%= partner_account_path %>"
/>
</div>

<%= render "shared/lead_dyno_tracking_code" %>
